<template>
  <ion-page>
    <ion-header>      
      <TopToolbar title="Friendship" />
    </ion-header>

    <ion-content v-if="isPageLoad">
      <ion-card style="color: #000">
        <h1>{{ translations.socialCode }}: {{ socialCode }}</h1>
        <h1>{{ translations.pseudo }} : {{ myPseudo }}</h1>
      </ion-card>
      <ion-card class="card-style">
        <ion-item lines="none" style="margin-top: 20px">
          <ion-searchbar
            v-model="searchbar"
            placeholder="Entrer code d'amis"
          ></ion-searchbar>
          <ion-buttons slot="end">
            <ion-button @click="addFriend()">
              <font-awesome-icon
                slot="icon-only"
                :icon="['fas', 'plus']"
                size="lg"
              />
            </ion-button>
          </ion-buttons>
        </ion-item>

        <ion-header>
          <ion-grid>
            <ion-row>
              <ion-col>
                <div>
                  <ion-title class="title">{{
                    translations.friendRequest
                  }}</ion-title>
                </div>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <div>
                  <p
                    class="h1-style"
                    v-if="demandFriendshipRequests.length == 0"
                  >
                    {{ translations.noRequest }}
                  </p>
                </div>
              </ion-col>
            </ion-row>
            <ion-list
              v-for="(friend, index) in demandFriendshipRequests"
              :key="index"
            >
              <ion-item lines="none">
                <ion-avatar>
                  <img
                    src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y"
                  />
                </ion-avatar>

                <ion-label style="padding-left: 10px">
                  <h2 class="text-style">{{ friend.friendPseudo }}</h2>
                  <p class="item-subtitle">
                    {{ friend.requestDate }}
                  </p>
                </ion-label>
                <ion-buttons slot="end">
                  <ion-button
                    @click="acceptHandler(friend.receiverID)"
                    color="success"
                  >
                    <font-awesome-icon
                      slot="icon-only"
                      :icon="['fas', 'check']"
                      size="lg"
                    />
                  </ion-button>
                  <ion-button
                    @click="refuseHandler(friend.receiverID)"
                    color="danger"
                  >
                    <font-awesome-icon
                      slot="icon-only"
                      :icon="['fas', 'times']"
                      size="lg"
                    />
                  </ion-button>
                </ion-buttons>
              </ion-item>
            </ion-list>
          </ion-grid>
        </ion-header>

        <ion-header>
          <ion-grid>
            <ion-row>
              <ion-col>
                <div>
                  <ion-title class="title">{{
                    translations.pendingRequest
                  }}</ion-title>
                </div>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <div>
                  <p
                    v-if="pendingFriendshipRequests.length == 0"
                    class="h1-style"
                  >
                    {{ translations.noPending }}
                  </p>
                </div>
              </ion-col>
            </ion-row>
            <ion-list
              v-for="(friend, index) in pendingFriendshipRequests"
              :key="index"
            >
              <ion-item lines="none">
                <ion-avatar>
                  <img
                    src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y"
                  />
                </ion-avatar>

                <ion-label style="padding-left: 10px">
                  <h2 class="text-style">{{ friend.friendPseudo }}</h2>
                  <p class="item-subtitle">{{ friend.requestDate }}</p>
                </ion-label>
              </ion-item>
            </ion-list>
          </ion-grid>
        </ion-header>

          <ion-grid>
            <ion-row>
              <ion-col>
                <div>
                  <ion-title class="title">
                    {{ translations.myFriends }}</ion-title
                  >
                </div>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <div>
                  <p
                    v-if="acceptFriendshipRequests.length == 0"
                    class="h1-style"
                  >
                    {{ translations.noFriend }}
                  </p>
                </div>
              </ion-col>
            </ion-row>
            <ion-list
              v-for="(friend, index) in acceptFriendshipRequests"
              :key="index"
            >
              <ion-item lines="none">
                <ion-avatar>
                  <img
                    src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y"
                  />
                </ion-avatar>

                <ion-label style="padding-left: 10px">
                  <h2 class="text-style">{{ friend.friendPseudo }}</h2>
                  <p class="item-subtitle">
                    {{ translations.friendSince }} {{ friend.acceptDate }}
                  </p>
                </ion-label>

                <ion-buttons slot="end">
                  <ion-button
                    @click="deleteHandler(friend.receiverID, friend.senderID)"
                    color="danger"
                  >
                    <font-awesome-icon
                      slot="icon-only"
                      :icon="['fas', 'times']"
                      size="lg"
                    />
                  </ion-button>
                </ion-buttons>
              </ion-item>
            </ion-list>
          </ion-grid>
      </ion-card>
    </ion-content>
  </ion-page>
</template>

<script>
import {
  IonContent,
  IonPage,
  IonTitle,
  IonButton,
  IonButtons,
  IonItem,
  IonList,
  IonLabel,
  IonAvatar,
  IonSearchbar,
  IonCard,
  IonHeader,
  toastController,
  alertController,
} from "@ionic/vue";
import { defineComponent } from "vue";
const httpService = require("../../utils/services");
import TopToolbar from "@/components/Navigation/TopToolbar.vue";

export default defineComponent({
  name: "Home",
  components: {
    IonContent,
    IonPage,
    IonTitle,
    IonHeader,
    IonButton,
    IonButtons,
    IonItem,
    IonList,
    IonLabel,
    IonAvatar,
    IonSearchbar,
    IonCard,
    TopToolbar
  },
  ionViewWillEnter() {
    this.pendingFriendshipRequests = [];
    this.acceptFriendshipRequests = [];
    this.demandFriendshipRequests = [];
    httpService
      .getByParams("/translation/friendshipTranslation/", {
        languageCode: localStorage.getItem("language"),
      })
      .then((response) => {
        console.log(response);
        this.translations = response;
      })
      .catch((error) => {
        console.log(error);
      });

    httpService
      .getAll("/friendship/")
      .then((response) => {
        console.log(response);
        response.demandList.forEach((element) => {
          if (element.state === "PENDING") {
            this.demandFriendshipRequests.push(element);
          } else if (element.state === "ACCEPT") {
            this.acceptFriendshipRequests.push(element);
          }
        });

        response.pendingList.forEach((element) => {
          if (element.state === "PENDING") {
            this.pendingFriendshipRequests.push(element);
          } else if (element.state === "ACCEPT") {
            this.acceptFriendshipRequests.push(element);
          }
        });
      })
      .catch((error) => {
        const openToast = async () => {
          const toast = await toastController.create({
            message: error.response.data.error,
            color: "danger",
            position: "top",
            buttons: [
              {
                side: "end",
                text: "Ok",
              },
            ],
          });
          return toast.present();
        };

        openToast();
      });

    httpService
      .getAll("/auth/socialCode/")
      .then((response) => {
        console.log(response.pseudo);
        this.myPseudo = response.pseudo;
        if (this.myPseudo == null) {
          const openAlert = async () => {
            const alert = await alertController.create({
              cssClass: "my-custom-class",
              header: "You need a pseudo to add friends",
              inputs: [
                {
                  placeholder: "Enter pseudo",
                },
              ],
              buttons: [
                {
                  text: "OK",
                  handler: (e) => {
                    httpService
                      .patch("/auth/pseudo/", { pseudo: e[0] })
                      .then((res) => {
                        if (res.pseudo != null) {
                          window.location.reload;
                        }
                      })
                      .catch((error) => console.log(error));
                  },
                },
              ],
            });
            return alert.present();
          };
          openAlert();
        }
        this.socialCode = "#" + response.socialCode;
      })
      .catch((error) => {
        const openToast = async () => {
          const toast = await toastController.create({
            message: error.response.data.error,
            color: "danger",
            position: "top",
            buttons: [
              {
                side: "end",
                text: "Ok",
              },
            ],
          });
          return toast.present();
        };

        openToast();
      });
    this.isPageLoad = true;
  },
  data() {
    return {
      translations: [],
      isPageLoad: false,
      searchbar: "",
      pendingFriendshipRequests: [],
      demandFriendshipRequests: [],
      acceptFriendshipRequests: [],
      socialCode: "",
      myPseudo: "",
    };
  },
  methods: {
    deleteHandler(receiverID, senderID) {
      httpService
        .handleDelete("/friendship/" + receiverID + "/" + senderID)
        .then((response) => {
          let friendToRemove = this.acceptFriendshipRequests.map(
            (f) => f.receiverID == response.receiverID
          );
          let friendIndex =
            this.acceptFriendshipRequests.indexOf(friendToRemove);
          this.acceptFriendshipRequests.splice(friendIndex, 1);
        })
        .catch((error) => {
          const openToast = async () => {
            const toast = await toastController.create({
              message: error.response.data.error,
              color: "danger",
              position: "top",
              buttons: [
                {
                  side: "end",
                  text: "Ok",
                },
              ],
            });
            return toast.present();
          };

          openToast();
        });
    },
    acceptHandler(receiverID) {
      httpService
        .getAll("/friendship/accept/" + receiverID)
        .then((response) => {
          this.acceptFriendshipRequests.push(response);

          let friendToRemove = this.demandFriendshipRequests.map(
            (f) => f.receiverID == response.receiverID
          );
          let friendIndex =
            this.demandFriendshipRequests.indexOf(friendToRemove);
          this.demandFriendshipRequests.splice(friendIndex, 1);

          console.log("LIST=> ", this.demandFriendshipRequests);
        })
        .catch((error) => {
          const openToast = async () => {
            const toast = await toastController.create({
              message: error.response.data.error,
              color: "danger",
              position: "top",
              buttons: [
                {
                  side: "end",
                  text: "Ok",
                },
              ],
            });
            return toast.present();
          };

          openToast();
        });
    },
    refuseHandler(receiverID) {
      httpService
        .getAll("/friendship/refuse/" + receiverID)
        .then((response) => {
          console.log(response);

          let friendToRemove = this.demandFriendshipRequests.map(
            (f) => f.receiverID == response.receiverID
          );
          let friendIndex =
            this.demandFriendshipRequests.indexOf(friendToRemove);
          this.demandFriendshipRequests.splice(friendIndex, 1);
        })
        .catch((error) => {
          const openToast = async () => {
            const toast = await toastController.create({
              message: error.response.data.error,
              color: "danger",
              position: "top",
              buttons: [
                {
                  side: "end",
                  text: "Ok",
                },
              ],
            });
            return toast.present();
          };

          openToast();
        });
    },
    addFriend() {
      console.log(this.searchbar.split("#"));
      this.searchbar = this.searchbar.split("#")[1];

      httpService
        .getAll("/friendship/" + this.searchbar)
        .then((response) => {
          this.searchbar = "";
          console.log(response);
          this.pendingFriendshipRequests.push(response);
        })
        .catch((error) => {
          const openToast = async () => {
            const toast = await toastController.create({
              message: error.response.data.error,
              color: "danger",
              position: "top",
              buttons: [
                {
                  side: "end",
                  text: "Ok",
                },
              ],
            });
            return toast.present();
          };

          openToast();
        });
    },
  },
});
</script>

<style scoped>
.title {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-size: 30px;
  padding-left: 10px;
  font-weight: bold;
}
.request-title {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-size: 30px;
  margin-top: 20px;
  font-weight: bold;
  padding: 1;
}
.item-subtitle {
  color: rgb(169, 170, 172) !important;
}
.text-style {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-weight: bold;
}
ion-searchbar {
  --color: #000;
  --placeholder-color: #000;
  --border-radius: 200px;
  margin: auto;
  flex-basis: 100%;
}

.h1-style {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-weight: bold;
  text-align: center;
  color: "black" !important;
}
.card-style {
  height: 100% !important;
  color: #000;
}
</style>
