<template>
  <ion-page>
    <ion-content :fullscreen="true" class="page-style">
      <ion-buttons>
        <ion-button @click="goBack()">
          <font-awesome-icon
            slot="icon-only"
            :icon="['fas', 'arrow-left']"
            size="lg"
          />
        </ion-button>
      </ion-buttons>
      <ion-item lines="none">
        <font-awesome-icon
          :icon="['fas', icon.split('-')[1]]"
          size="3x"
          :style="{ color: 'black' }"
        />
        <h1 class="main-title">{{ name }}</h1>
      </ion-item>
      <ion-card class="card-style-slider" v-if="pageIsReady">
        <ion-card-header
          ><h2 class="title-budget">
            <i :class="currencyIcon" /> {{ totalBudget }}
          </h2>
          <p class="item-subtitle">
            {{ translation.totalExpenses }}
          </p>
        </ion-card-header>

        <div v-if="budgets.length != 0">
          <apexchart
            type="pie"
            width="100%"
            :options="options"
            :series="series"
          ></apexchart>
        </div>
      </ion-card>
      <ion-card class="card-style">
        <ion-spinner
          class="center-dot"
          v-if="!pageIsReady"
          name="dots"
          color="primary"
        ></ion-spinner>
        <ion-card-content style="padding:0" v-if="pageIsReady">
          <div v-if="budgets.length > 1">
            <div v-for="(budget, index) in budgets" :key="index">
              <ion-item color="white" lines="none">
                <ion-avatar class="avatar" slot="start">
                  <font-awesome-icon
                    :icon="['fas', budget.icon.split('-')[1]]"
                    size="lg"
                    :style="{ color: '#9462E3' }"
                  />
                </ion-avatar>
                <ion-label slot="start">
                  <h2 class="text-style">{{ budget.name }}</h2>
                  <p class="item-subtitle">
                    {{ budget.nbTransactions }} {{ translation.transactions }}
                  </p>
                </ion-label>

                <ion-label>
                  <h2 class="text-style">
                    <i :class="currencyIcon" /> {{ budget.totalAmount }}
                  </h2>

                  <p class="item-subtitle">
                    {{
                      calculatePourcentBudget(budget.totalAmount, totalBudget)
                    }}
                    %
                  </p>
                </ion-label>
                <ion-buttons class="item-style" slot="end">
                  <ion-button @click="toggleSubCategories(index)">
                    <font-awesome-icon
                      slot="icon-only"
                      :icon="['fas', 'chevron-right']"
                      size="lg"
                    />
                  </ion-button>
                </ion-buttons>
              </ion-item>

              <div v-if="showDetails[index]">
                <ion-item
                  color="white"
                  lines="none"
                  style="margin-left:+10% !important"
                  v-for="(subBudget, i) in budget.list"
                  :key="i"
                >
                  <ion-avatar class="avatar" slot="start">
                    <font-awesome-icon
                      :icon="['fas', subBudget.icon.split('-')[1]]"
                      size="lg"
                      :style="{ color: '#9462E3' }"
                    />
                  </ion-avatar>
                  <ion-label slot="start">
                    <h2 class="text-style">{{ subBudget.name }}</h2>
                    <p class="item-subtitle">
                      {{ subBudget.nbTransactions }}
                      {{ translation.transactions }}
                    </p>
                  </ion-label>

                  <ion-label slot="end">
                    <h2 class="text-style">
                      <i :class="currencyIcon" /> {{ subBudget.totalAmount }}
                    </h2>
                    <p class="item-subtitle">
                      {{
                        calculatePourcentBudget(
                          subBudget.totalAmount,
                          budget.totalAmount
                        )
                      }}
                      %
                    </p>
                  </ion-label>
                </ion-item>
              </div>
            </div>
          </div>
        </ion-card-content>
      </ion-card>
      <h1 class="h1-style" v-if="budgets.length == 0">
        {{ translation.noData }}
      </h1>
    </ion-content>
  </ion-page>
</template>

<script>
import {
  IonContent,
  IonPage,
  IonCard,
  IonLabel,
  IonButton,
  IonButtons,
  IonCardContent,
  IonItem,
  IonAvatar,
  IonCardHeader,
  IonSpinner,
} from "@ionic/vue";
import { defineComponent } from "vue";

import VueApexCharts from "vue3-apexcharts";
const httpService = require("../../utils/services");
export default defineComponent({
  name: "CategoryBudgetDetails",
  components: {
    apexchart: VueApexCharts,
    IonContent,
    IonPage,
    IonCard,
    IonLabel,
    IonButton,
    IonButtons,
    IonCardContent,
    IonItem,
    IonAvatar,
    IonCardHeader,
    IonSpinner,
  },
  ionViewWillEnter() {
    httpService.get("/currency/byUser").then((res) => {
      this.currencyIcon = res.icon;
    });
    httpService
      .getByParams("/translation/budgetTranslation", {
        languageCode: localStorage.getItem("language"),
      })
      .then((response) => {
        this.translation = response;
      })
      .catch((error) => {
        console.log(error);
      });
    let labels = [];
    let data = [];

    this.budgets.forEach((element) => {
      labels.push(element.name);
      data.push(element.totalAmount);
    });
    this.options.labels = labels;
    this.series = data;
    this.pageIsReady = true;
  },
  data() {
    return {
      currencyIcon: "",
      translation: [],
      icon: this.$route.params.icon,
      totalBudget: this.$route.params.totalBudget,
      currentIndex: -1,
      showDetails: [],
      pageIsReady: false,
      budgets: JSON.parse("[" + localStorage.getItem("budgets") + "]"),
      series: [],
      options: {
        dataLabels: {
          enabled: true,
          formatter: function(val, { seriesIndex, w }) {
            return parseFloat(w.config.series[seriesIndex]).toPrecision(4);
          },
        },
        legend: {
          position: "top",
        },
        chart: {
          id: "vuechart-example",
        },
      },
      name: this.$route.params.name,
    };
  },
  methods: {
    goBack() {
      this.$router.push({
        name: "Categories",
        params: {
          month:this.$route.params.month,
          year: this.$route.params.year,
        },
      })
      /*.then(() => {
        window.location.reload();
      });*/
     
    },
    toggleSubCategories(index) {
      this.showDetails[index] = !this.showDetails[index];
      this.currentIndex = index;
    },

    calculatePourcentBudget(spendBudget, totalBudget) {
      if (totalBudget == 0) {
        return 0;
      }
      return Math.round(((spendBudget * 100) / totalBudget) * 100) / 100;
    },
  },
});
</script>

<style scoped>
.card-style-slider {
  border-radius: 10px;
  background-color: white;
  width: 90%;
  margin-left: +5%;
  padding-bottom: +5%;
}
.canvas {
  margin-left: +10%;
  width: 80% !important;
}
.page-style {
  --ion-background-color: rgb(243, 244, 245);
}

.card-style {
  border-radius: 10px;
  background-color: white;
  width: 90%;
  margin-left: +5%;
}
.text-style {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-weight: bold;
}

ion-avatar {
  padding-top: 8px;
  padding-left: 5px;
  margin-right: +3%;
  border: 1px solid rgb(3, 3, 3) !important;
}
.title-budget {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 40px;
  color: black;
  padding: 0;
  margin-bottom: 0;
}
.item-subtitle {
  color: rgb(169, 170, 172) !important;
  font-weight: bold;
  font-size: 15px;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.h1-style {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  color: "black";
  transform: translateY(-50%);
}

.main-title {
  font-size: 50px !important;
  padding-left: 10px;
}
.center-dot {
  width: 100%;
  left: 0;
  right: 0;
  top: 50%;
}
ion-spinner {
  transform: scale(4);
}
</style>
