<template>
  <ion-page>
    <ion-content :fullscreen="true">
      <transition name="slide-fade">
        <div hidden id="card-add-category">
          <CategoriesCreate
            :type="typeCatToAdd"
            :translations="translations"
            v-on:add-category="updateListAfterAdd($event)"
            v-on:dismiss-popup="onDismissPopup()"
          />
        </div>
      </transition>

      <div id="list-categories">
        <h2>
          {{ translations.expenses }} : {{ sumOutput }}
          <i :class="currencyIcon" />
        </h2>
        <ion-card class="cardAddCategory" @click="onClickToggleCard('output')">
          <font-awesome-icon :icon="['fas', 'plus']" />
        </ion-card>
        <ion-card mode="ios" class="cardCategories">
          <NestedCategories
            :categories="listCategoriesOutput"
            :offset="0"
            groupName="outputs"
            :parent="null"
            v-on:delete-category="updateAfterDelete($event)"
            v-on:update-category="updateAfterModification($event)"
            :translations="translations"
            :itemBudgetStyle="20"
            :currencyIcon="currencyIcon"
          />
        </ion-card>
        <div class="scrollbar" id="style-2">
          <div class="force-overflow"></div>
        </div>
      </div>

      <div class="container"></div>
      <div class="bg">
        <div class="piggy-wrap">
          <div class="piggy">
            <div class="nose"></div>
            <div class="mouth"></div>
            <div class="ear"></div>
            <div class="tail">
              <span></span>
              <span></span>
              <span></span>
              <span></span>
            </div>
            <div class="eye"></div>
            <div class="hole"></div>

            <div class="legs"></div>
            <div class="legs back"></div>
          </div>
        </div>
        <div class="coin-wrap">
          <div class="coin">$</div>
        </div>
      </div>
    </ion-content>
  </ion-page>
</template>

<script>
import { IonContent, IonPage, IonCard } from "@ionic/vue";
import { defineComponent } from "vue";
import CategoriesCreate from '@/components/FormPopupCustom/CategoriesCreate';
import NestedCategories from "./NestedCategories";
const httpService = require("../../utils/services");
const methodsService = require("../../utils/methodsService");
import ToastDisplay from "@/mixins/ToastDisplay.vue";

export default defineComponent({
  name: "Budget",
  components: {
    IonContent,
    IonPage,
    CategoriesCreate,
    NestedCategories,
    IonCard,
  },
  mixins: [ToastDisplay],
  props: ["ionViewLifeCycleStage", "translationsBis", "currentTab"],
  watch: {
    ionViewLifeCycleStage(val) {
      console.log(val);
      if (typeof this[val] === "function") {
        this[val]();
      }
    },
  },

  data() {
    return {
      listCategoriesOutput: null,
      typeCatToAdd: null,
      translations: {},
      currencyIcon: null,
      sumOutput: null,
    };
  },
  beforeMount() {
    this.ionViewWillEnter();
  },

  methods: {
    async ionViewWillEnter() {
      await httpService
        .getByParams("/translation/categoriesManagementTranslation", {
          languageCode: localStorage.getItem("language"),
        })
        .then((response) => {
          this.translations = response;
        })
        .catch((error) => console.log(error));

      await httpService.get("/currency/byUser").then((res) => {
        this.currencyIcon = res.icon;
      });

      await httpService.getAll("/categories/all/").then((resp) => {
        this.listCategoriesOutput = [];
        this.sumOutput = 0;
        for (let i = 0; i < resp.length; i++) {
          let category = resp[i];
          category.subCategories = [];
          for (let j = 0; j < resp.length; j++) {
            if (resp[j].idParentCategory == category.categoryID)
              category.subCategories.push(resp[j]);
          }
          if (resp[i].idParentCategory == -1) {
            if (resp[i].type == "OUTPUT") {
              this.listCategoriesOutput.push(resp[i]);
              this.sumOutput += resp[i].budget;
            }
          }
        }
      });
    },

    async ionViewDidLeave() {
      this.dissmissAllViewToasts();
    },

    extractIcon(icon) {
      return methodsService.extractIcon(icon);
    },

    // Display the popup to add a new category
    onClickToggleCard(type) {
      this.typeCatToAdd = type;
      document.getElementById("card-add-category").hidden =
        !document.getElementById("card-add-category").hidden;
    },

    // Updates the list of category after adding one
    updateListAfterAdd(cat) {
      let catToAdd = cat;
      catToAdd.subCategories = [];
      if (catToAdd.type == "OUTPUT") {
        this.listCategoriesOutput.push(catToAdd);
        this.sumOutput += cat.budget;
      }
      document.getElementById("card-add-category").hidden = true;
    },

    // Closes the popup to add a category
    onDismissPopup() {
      document.getElementById("card-add-category").hidden =
        !document.getElementById("card-add-category").hidden;
    },

    // Updates the list of categories after the deletion of one of them by calling a recursive method
    updateAfterDelete(catToDel) {
      if (catToDel.type == "OUTPUT")
        this.listCategoriesOutput = this.recursiveUpdateAfterDelete(
          this.listCategoriesOutput,
          catToDel,
          this.sumOutput
        );
    },

    // Updates the nested list recursively after delete
    recursiveUpdateAfterDelete(array, catToDel) {
      let foundedCat;
      if (
        (foundedCat = array.find(
          (cat) => cat.categoryID == catToDel.categoryID
        ))
      ) {
        if (foundedCat.type === "OUTPUT") this.sumOutput -= foundedCat.budget;
        array = array.filter((cat) => cat.categoryID != catToDel.categoryID);
        return array;
      }
      for (let i = 0; i < array.length; i++) {
        array[i].subCategories = this.recursiveUpdateAfterDelete(
          array[i].subCategories,
          catToDel
        );
      }
      return array;
    },

    // Updates a category after its modification by calling a recursive method
    updateAfterModification(cat) {
      let catToUpdate = cat;
      catToUpdate.subCategories = [];
      if (catToUpdate.type == "OUTPUT")
        this.listCategoriesOutput = this.recursiveUpdateAfterModification(
          this.listCategoriesOutput,
          catToUpdate
        );
    },

    // Search among the nested category the one to update
    recursiveUpdateAfterModification(array, catToUpdate) {
      let foundedCat;
      if (
        (foundedCat = array.find(
          (cat) => cat.categoryID == catToUpdate.categoryID
        ))
      ) {
        if (foundedCat.type === "OUTPUT") {
          this.sumOutput -= foundedCat.budget;
          this.sumOutput += catToUpdate.budget;
        }

        array = array.map((cat) =>
          cat.categoryID != catToUpdate.categoryID ? cat : catToUpdate
        );
        return array;
      }
      for (let i = 0; i < array.length; i++) {
        array[i].subCategories = this.recursiveUpdateAfterModification(
          array[i].subCategories,
          catToUpdate
        );
      }
      return array;
    },
  },
});
</script>

<style scoped>
.page-title {
  font-family: "Roboto", Helvetica, Arial;
  font-size: 28px;
  padding: 0;
  font-weight: bold;
  margin-left: 10px;
}

ion-button {
  --color: black;
  --background: white;
  --border-radius: 30px;
}

ion-toolbar {
  margin-top: 10px;
}

#list-categories {
  width: 100%;
  position: absolute;
  max-height: 75%;
}

#list-categories {
  padding-top: 30px;
  position: fixed;
  overflow: scroll;
}

/* #card-add-category{
  border-radius:20px;
  z-index:20;
  width: 90%;
  margin-left:5%;
  height: 50%;
  margin-top:20%;
} */

list-header h2 {
  display: inline;
  padding-top: 50px;
}

ion-back-button {
  --icon-font-size: 30pt;
}

.cardCategories {
  width: 95%;
  transform: translate(-10px, -30px);
}

.cardAddCategory {
  width: 20%;
  background-image: linear-gradient(to left, #3acfd5 0%, #b7e4c7 100%);
  float: right;
  padding: 5px 0 5px 0;
  color: black;
  text-align: center;
  transform: translateY(-15px);
  z-index: 10;
}

.container {
  overflow: hidden;
}
.bg {
  background-image: linear-gradient(to left, #3acfd5 0%, #b7e4c7 100%);
  width: 100%;
  height: 10%;
  bottom: 0;
  position: fixed;
  border-radius: 50% / 100%;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

body {
  background: #222;
}
</style>