<template>
  <ion-page>
    <ion-header>      
      <TopToolbar title="Categories" />
    </ion-header>

    <ion-content :fullscreen="true" class="page-style">
      <ion-item lines="none">
        <ion-buttons slot="end">
          <ion-button style="padding:0">
            <font-awesome-icon
              slot="icon-only"
              :icon="['far', 'calendar']"
              size="lg"
            />
          </ion-button>
          <ion-datetime
            :value="createDate(currentMonth, currentYear).toISOString()"
            :picker-options="customPickerOptions"
            style="padding:0"
            display-format="MMM YYYY"
            picker-format="MMM YYYY"
          ></ion-datetime>
        </ion-buttons>
      </ion-item>
      <ion-title style="padding:10px">{{ translation.myEntries }}</ion-title>

      <ion-card class="card-style-slider">
        <ion-spinner
          class="center-dot"
          v-if="!isPageLoad"
          name="dots"
          color="primary"
        ></ion-spinner>

        <div v-if="isPageLoad">
          <ion-title class="h1-style" v-if="seriesInput.length == 0">
            {{ translation.noEntries }}
          </ion-title>

          <div v-if="seriesInput.length != 0">
            <apexchart
              width="100%"
              type="donut"
              :options="chartOptionsInput"
              :series="seriesInput"
            ></apexchart>
          </div>
        </div>
      </ion-card>

      <ion-title style="padding:10px">{{ translation.myExpense }}</ion-title>

      <ion-card class="card-style-slider">
        <ion-spinner
          class="center-dot"
          v-if="!isPageLoad"
          name="dots"
          color="primary"
        ></ion-spinner>
        <div v-if="isPageLoad">
          <ion-title class="h1-style" v-if="seriesOuput.length == 0">
            {{ translation.noExpense }}
          </ion-title>
          <div v-if="seriesOuput.length != 0">
            <apexchart
              width="100%"
              type="donut"
              :options="chartOptionsOutput"
              :series="seriesOuput"
            ></apexchart>
          </div>
        </div>
      </ion-card>
    </ion-content>
  </ion-page>
</template>

<script>
import {
  IonContent,
  IonPage,
  IonButton,
  IonCard,
  IonTitle,
  IonDatetime,
  IonItem,
  IonButtons,
  IonSpinner,
  IonHeader,
} from "@ionic/vue";
import { defineComponent } from "vue";

const httpService = require("../../utils/services");
import { useRouter } from "vue-router";
import VueApexCharts from "vue3-apexcharts";
import TopToolbar from "@/components/Navigation/TopToolbar.vue";
export default defineComponent({
  name: "Categories",
  components: {
    IonContent,
    IonPage,
    IonButton,
    IonCard,
    IonTitle,
    IonDatetime,
    IonItem,
    IonButtons,
    IonSpinner,
    apexchart: VueApexCharts,
    TopToolbar,
    IonHeader,
  },

  ionViewWillEnter() {
    this.isPageLoad = false;

    httpService.get("/currency/byUser").then((res) => {
      this.currencyIcon = res.icon;
    });

    httpService
      .getByParams("/translation/budgetTranslation", {
        languageCode: localStorage.getItem("language"),
      })
      .then((response) => {
        this.translation = response;
        httpService
          .getAll("/translation/shopping")
          .then((response) => {
            this.shopping = response;
          })
          .catch((error) => {
            console.log(error.response.data.error);
          });
      })
      .catch((error) => {
        console.log(error.response.data.error);
      });
    this.currentMonth = this.$route.params.month;
    this.currentYear = this.$route.params.year;
    this.loadData();
  },
  setup() {
    const router = useRouter();
    return { router };
  },

  data() {
    return {
      currencyIcon: "",
      shopping: "",
      chartOptionsOutput: {
        dataLabels: {
          enabled: true,
          formatter: function(val, { seriesIndex, w }) {
            return (
              this.chooseCurrencyOutput() +
              parseFloat(w.config.series[seriesIndex]).toPrecision(4)
            );
          },
        },
        legend: {
          position: "top",
        },
        chart: {
          id: "vuechart-example",
          events: {
            dataPointSelection: (event, chartContext, config) => {
              this.chartClickEventOutput(config);
            },
          },
        },
      },
      chartOptionsInput: {
        dataLabels: {
          enabled: true,
          formatter: function(val, { seriesIndex, w }) {
            return (
              this.chooseCurrencyOutput() +
              parseFloat(w.config.series[seriesIndex]).toPrecision(4)
            );
          },
        },
        legend: {
          position: "top",
        },
        chart: {
          id: "vuechart-input",
          events: {
            dataPointSelection: (event, chartContext, config) => {
              this.chartClickEventInput(config);
            },
          },
        },
      },
      seriesOuput: [],
      seriesInput: [],
      translation: [],
      allBudgetOutput: [],
      allBudgetInput: [],
      currentMonth: this.$route.params.month,
      currentYear: this.$route.params.year,

      customPickerOptions: {
        buttons: [
          {
            text: "cancel",
            handler: () => {
              return false;
            },
          },
          {
            text: "ok",
            handler: (e) => {
              this.currentMonth = e.month.value;
              this.currentYear = e.year.value;

              this.loadData();
            },
          },
        ],
      },
      datasetsOutput: {},
      datasetsInput: {},

      isPageLoad: false,
    };
  },
  methods: {
    chooseCurrencyOutput() {
      if (this.currencyIcon.includes("dollar")) {
        return "$";
      } else if (this.currencyIcon.includes("euro")) {
        return "€";
      } else if (this.currencyIcon.includes("yen")) {
        return "¥";
      } else {
        return "£";
      }
    },
    createDate(month, year) {
      var date = new Date(year, month - 1, 1);
      return date;
    },
    chartClickEventOutput(config) {
      let categoryName = config.w.config.labels[config.dataPointIndex];

      this.allBudgetOutput.forEach((element) => {
        if (element.name == categoryName) {
          localStorage.setItem("budgets", JSON.stringify(element.list));

          if (element.name === this.shopping) {
            this.router.push({
              name: "budgetCourse",
            });
          } else {
            this.router
              .push({
                name: "CategoryBudgetDetails",
                params: {
                  name: categoryName,
                  totalBudget: parseFloat(element.totalAmount).toPrecision(4),
                  icon: element.icon,
                  month: this.currentMonth,
                  year: this.currentYear,
                },
              })
              .then(() => {
                window.location.reload();
              });
          }
        }
      });
    },
    chartClickEventInput(config) {
      let CategoryName = config.w.config.labels[config.dataPointIndex];

      this.allBudgetInput.forEach((element) => {
        if (element.name == CategoryName) {
          localStorage.setItem("budgets", JSON.stringify(element.list));
          if (element.name === this.shopping) {
            this.router
              .push({
                name: "budgetCourse",
              })
              .then(() => {
                window.location.reload();
              });
          } else {
            this.router
              .push({
                name: "CategoryBudgetDetails",
                params: {
                  name: element.name,
                  totalBudget: parseFloat(element.totalAmount).toPrecision(4),
                  icon: element.icon,
                  month: this.currentMonth,
                  year: this.currentYear,
                },
              })
              .then(() => {
                window.location.reload();
              });
          }
        }
      });
    },

    loadData() {
      this.isPageLoad = false;
      httpService
      .getByParams(
        "/categories/budget/" +
        this.currentMonth +
        "/" +
        this.currentYear +
        "/output"
      ).then((response) => {
        this.allBudgetOutput = response;
        let labels = [];
        let data = [];

        Object.keys(response).forEach((key) => {
          let element = response[key];
          labels.push(element.name);
          data.push(element.totalAmount);
        });

        this.chartOptionsOutput.labels = labels;
        this.seriesOuput = data;
        let self = this;
        this.chartOptionsOutput = {
          labels: labels,
          dataLabels: {
            enabled: true,
            formatter: function(val, { seriesIndex, w }) {
              return (
                self.chooseCurrencyOutput() +
                parseFloat(w.config.series[seriesIndex]).toPrecision(4)
              );
            },
          },
          legend: {
            position: "top",
          },
          chart: {
            id: "vuechart-input",
            events: {
              dataPointSelection: (event, chartContext, config) => {
                this.chartClickEventOutput(config);
              },
            },
          },
          
        };

        httpService
        .getByParams(
          "/categories/budget/" +
            this.currentMonth +
            "/" +
            this.currentYear +
            "/input"
        ).then((responseBis) => {
          this.allBudgetInput = responseBis;
          labels = [];
          data = [];
          Object.keys(responseBis).forEach((key) => {
            let element = responseBis[key];
            labels.push(element.name);
            data.push(element.totalAmount);
          });
          this.chartOptionsInput.labels = labels;
          this.seriesInput = data;

          this.chartOptionsInput = {
            labels: labels,
            dataLabels: {
              enabled: true,
              formatter: function(val, { seriesIndex, w }) {
                return (
                  self.chooseCurrencyOutput() +
                  parseFloat(w.config.series[seriesIndex]).toPrecision(4)
                );
              },
            },
            legend: {
              position: "top",
            },
            chart: {
              id: "vuechart-input",
              events: {
                dataPointSelection: (event, chartContext, config) => {
                  this.chartClickEventInput(config);
                },
              },
            },
          };
          this.isPageLoad = true;
        });
      });
    },
  },
});
</script>
<style scoped>
#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
.card-style-slider {
  border-radius: 10px;
  background-color: white;
  width: 90%;
  margin-left: +5%;
  padding-bottom: +5%;
}
.canvas {
  margin-left: +10%;
  width: 80% !important;
}
.page-style {
  --ion-background-color: rgb(243, 244, 245);
}

.h1-style {
  font-family: "Roboto", Helvetica, Arial;
  font-weight: bold;
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  color: "black" !important;
  height: 100%;
}
.center-dot {
  width: 100%;
  left: 0;
  right: 0;
  top: +50%;
}
ion-spinner {
  transform: scale(4);
}
</style>
