<template>
  <ion-page>
    <ion-header>      
      <TopToolbar title="Budget" />
      <ion-toolbar>
        <SegmentTabs v-model:currentTab="currentTab" :tabs="tabs" />
      </ion-toolbar>
    </ion-header>

    <ion-content v-if="isPageLoad">
      <CatIncome
        v-if="currentTab == 'Income'"
        :translations="newTransactionTranslations"
        :ionViewLifeCycleStage="ionViewLifeCycleStage"
        :currenTab="currentTab"
      />

      <CatExpenses
        v-if="currentTab == 'Expenses'"
        :translations="allTransactionsTranslations"
        :ionViewLifeCycleStage="ionViewLifeCycleStage"
        :currenTab="currentTab"
      />
    </ion-content>
  </ion-page>
</template>

<script>
import { defineComponent } from "vue";
const httpService = require("../../utils/services");

import { IonPage, IonHeader, IonContent, IonToolbar } from "@ionic/vue";

import SegmentTabs from "@/components/Navigation/SegmentTabs.vue";
import CatIncome from "./CatIncome.vue";
import CatExpenses from "./CatExpenses.vue";
import TopToolbar from "@/components/Navigation/TopToolbar.vue";

export default defineComponent({
  name: "CategoriesManagement",
  components: {
    IonPage,
    IonHeader,
    IonContent,
    IonToolbar,

    SegmentTabs,
    CatIncome,
    CatExpenses,
    TopToolbar
  },

  data() {
    return {
      isPageLoad: false,
      ionViewLifeCycleStage: "",
      currentTab: "Income",
      tabs: [],
      newTransactionTranslations: {},
      allTransactionsTranslations: {},
    };
  },

  async ionViewWillEnter() {
    //Get translations for the categories for /newtransaction page
    await httpService
      .getByParams("/translation/categoriesManagementTranslation", {
        languageCode: localStorage.getItem("language"),
      })
      .then((response) => {
        this.newTransactionTranslations["categories"] = response;
        this.newTransactionTranslations["miscs"] = response;
      })
      .catch((error) => console.log(error));

    this.tabs = [
      { key: "Income", val: this.newTransactionTranslations.miscs.income },
      { key: "Expenses", val: this.newTransactionTranslations.miscs.expenses },
    ];

    this.ionViewLifeCycleStage = "ionViewWillEnter";

    this.isPageLoad = true;
  },

  async ionViewDidLeave() {
    this.ionViewLifeCycleStage = "ionViewDidLeave";
    this.currentTab = "Income";
  },

  async ionViewWillLeave() {
    this.ionViewLifeCycleStage = "ionViewWillLeave";
  },

  methods: {},
});
</script>

<style scoped>
</style>