<template>
        <draggable
          :list="categories"
          item-key="categoryID"
          class="list-group"
          :component-data="{
            tag: 'ul',
            type: 'transition-group',
            name: !drag ? 'flip-list' : null,
          }"
          @change="handleReorder($event)"
          :group="groupName"
          v-bind="dragOptions"
          @start="drag = true"
          @end="drag = false"
          handle=".handle"
        >
        <template #item="{element}">
          <li>   
            <ion-item-sliding :id="element.categoryID">       
              <ion-item-options side="start"> 
                <ion-item-option color="danger" @click="onDeleteCategory(element)">
                  <font-awesome-icon slot="icon-only" :icon="['far','trash-alt']"/>
                </ion-item-option>

                <ion-item-option @click="onModifyCategory(element)">
                  <font-awesome-icon slot="icon-only" :icon="['fas','pencil-alt']"/>
                </ion-item-option>              
              </ion-item-options>   

              <ion-item>
                <div :style="style">
                  <font-awesome-icon :icon="extractIcon(element.icon)" size="lg"/>
                </div>
                <ion-label class="labelCategory">{{element.name}}</ion-label>
                <ion-chip :style="itemBudget">
                  {{element.budget}}
                  <i :class="currencyIcon"/>
                </ion-chip>
                <div class="handle">
                  <font-awesome-icon :icon="['fas','align-justify']" size="lg"/>
                </div>
              </ion-item>  

            </ion-item-sliding>
            <NestedCategories 
                v-on:delete-category="updateAfterDelete" 
                v-on:update-category="updateAfterModification"
                :itemBudgetStyle="itemBudgetStyle-20" 
                :categories="element.subCategories" 
                :offset="offset+25" 
                :groupName="groupName" 
                :parent="element" 
                :translations="translations"
                :currencyIcon="currencyIcon"
            />
          </li>
        </template>
      </draggable>
</template>

<script>

import {
        IonItemSliding,
        IonItemOptions,
        IonItemOption,
        IonLabel,
        IonItem,
        toastController,
        IonChip
         } from '@ionic/vue';
import { defineComponent} from 'vue';
import draggable from 'vuedraggable'
import Swal from 'sweetalert2'
const methodsService = require('../../utils/methodsService')
const httpService = require('../../utils/services');

export default defineComponent({
  name: 'NestedCategories',

  components: {
        IonItemSliding,
        IonItemOptions,
        IonItemOption,
        IonLabel,
        IonItem,
        draggable,
        IonChip
  },
  computed: {
    style () {
      return 'padding-left: '+this.offset+'px; font-size:18px;';
    },
    itemBudget(){
      return 'float:right; margin-right:'+this.itemBudgetStyle+'px; width:60px; text-align:right;';
    },
    dragOptions() {
      return {
        animation: 200,
        group: this.groupName,
        disabled: false,
        ghostClass: "ghost"
      };
    }
  },

  props: {
    categories: {
      required: true
    },
    offset:{
      required:true,
      type:Number
    },
    groupName :{
      required:true
    },
    parent:{
      required:true
    },
    translations:{
      required:true,
      type:Object
    },
    itemBudgetStyle:{
      required:true
    },
    currencyIcon:{
      required:true
    }
  },

  data(){
    return{
      drag: false
    }
  },

  methods:{
     extractIcon(icon){
        return methodsService.extractIcon(icon)
    },

    // Called when a category is drag and dropped
    handleReorder(event){
      if(event.added){
        this.onAddSubCategory(event.added.element, this.parent)
      }
    },

    // Display a popup of confirmation and deletes the selected category
    async onDeleteCategory(category){
      document.getElementById(category.categoryID).close()
      Swal.fire({
        titleText: this.translations.deleteTheCategory+" \""+category.name +'" ?',
        text:this.translations.warningDeleteMsg,
        icon: 'warning',
        showCloseButton: true,
        confirmButtonText: this.translations.delete,
        confirmButtonColor:'red'
      }).then((result)=>{
          if(result.isConfirmed){
              httpService.handleDelete("/categories/delete/"+category.categoryID)
                        .then(async resp=>{        
                            const toast = await toastController
                                .create({
                                  message: this.translations.deleteConfirmation,
                                  duration: 3000,
                                  color: "success"
                                })
                            let catToEmit ={}
                            catToEmit.type=category.type
                            catToEmit.categoryID = resp.id
                            catToEmit.idParentCategory=category.idParentCategory;
                            await this.updateAfterDelete(catToEmit)
                            return toast.present();
                        })
                        .catch(error=>{
                          if(error.response.status===409){
                            Swal.fire({
                              text:this.translations.deleteErrorPart1 + this.translations.deleteErrorPart2,
                              icon: 'error',
                              showCloseButton: true,
                              width:'20rem',
                              padding:'0.25rem'
                            })
                          }
                        })
          }
      })
    },

    // Brings up the deletion event until parent (nested)
    async updateAfterDelete(catToEmit){
      this.$emit('delete-category',catToEmit)
    },

    // Shows a popup to modify the selected category and send a patch request
    async onModifyCategory(category){
      document.getElementById(category.categoryID).close()
      let isParent = category.subCategories.length>0 ? " disabled" : ""
      const {value: formValues} = await Swal.fire({
          titleText: this.translations.modification,
          html:
            '<label for="swal-input1">'+this.translations.name+'</label>' +
            '<input id="swal-input1" class="swal2-input" type="text" value="'+category.name+'">' +
            '<label for="swal-input2">'+this.translations.budget+'</label>' +
            '<input id="swal-input2" class="swal2-input" value="'+category.budget+'"'+isParent+'>',
          preConfirm: () => {
            return [
              document.getElementById('swal-input1').value,
              document.getElementById('swal-input2').value
            ]
          },
          confirmButtonText: this.translations.save,
          showCloseButton: true
        })

        if (formValues) {
          httpService.patch("/categories/updateCategory/",{name:formValues[0],budget:formValues[1], categoryID:category.categoryID})
                      .then(async resp=>{
                          const toast = await toastController
                            .create({
                              message: this.translations.modificationConfirmation,
                              duration: 3000,
                              color: "success"
                            })
                          await this.updateAfterModification(resp)
                          return toast.present();
                      })
        }
    },

    // Brings up the modification event until parent(nested)
    async updateAfterModification(catToEmit){
      this.$emit('update-category',catToEmit)
    },

    // Called when a category is dragged and dropped and send a patch request to modify its parent category
    async onAddSubCategory(subCategory, parent){
      if(parent!=null && parent.idParentCategory!=-1){
        console.log("salut")
      }
      let parentId = parent==null ? -1 : parent.categoryID
      httpService.patch("/categories/updateParentCategory/",{idParentCategory:parentId, categoryID:subCategory.categoryID})
                .then(async()=>{
                    const toast = await toastController
                      .create({
                        message: this.translations.modificationConfirmation,
                        duration: 3000,
                        color: "success"  
                      })
                    return toast.present();
                })
    },
  }
})

</script>

<style scoped>

.list-group{
  list-style-type: none;
}

ul, li{
  list-style-type: none;
  list-style-position:inside;
  margin:0;
  padding:0; 
}

.flip-list-move {
transition: transform 0.5s;
}
.no-move {
  transition: transform 0s;
}
.ghost {
  opacity: 0.5;
  background: #c8ebfb;
  padding-left:20px
}

.handle {
  float: right;
  padding: 10px 15px 10px 20px;
}

.labelCategory{
  margin-left:10px;
  font-size: 13pt;
}
</style>