@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900');

.piggy-wrapper{
    position: relative;
    width: 116px;
    height: 116px;
    display: block;
    margin: 0 auto;
    margin-top: 80px;
}
.piggy-wrap{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    transform-origin: bottom center;
    animation: trembling 5s linear infinite;
}
@keyframes trembling {
0% { 
transform: scale(1);  
}
19% { 
transform: scale(1);  
}
21% { 
transform: scale(0.99); 
}
22% { 
transform: scale(1); 
}
23% { 
transform: scale(0.99); 
}
24% { 
transform: scale(1); 
}
25% { 
transform: scale(0.99); 
}
26% { 
transform: scale(1); 
}
25% { 
transform: scale(0.99); 
}
26% { 
transform: scale(1); 
}
27% { 
transform: scale(0.99); 
}
28% { 
transform: scale(1); 
}
29% { 
transform: scale(0.99); 
}
30% { 
transform: scale(1); 
}
60% { 
transform: scale(0.95);
}
61% { 
transform: scale(1); 
}
100% { 
transform: scale(1); 
}
}
.piggy{
position: absolute;
bottom: 20px;
left: 50%;
margin-left: -53px;
width: 106px;
height: 80px;
display: block;
border-radius: 40px;
background-color: #d88fa0;
}
.nose{
position: absolute;
top: 26px;
left: -8px;
width: 13px;
height: 20px;
display: block;
background-color: #d88fa0;
z-index: 1;
}
.mouth{
position: absolute;
top: 32px;
left: -5px;
width: 0;
height: 0;
z-index: 3;
display: block;
border-bottom: 20px solid #d88fa0;
border-left: 7px solid transparent;
border-right: 7px solid transparent;
}
.ear{
position: absolute;
top: -12px;
left: 23px;
width: 20px;
height: 20px;
display: block;
border-top-right-radius: 20px;
background-color: #d88fa0;
z-index: 1;
}
.piggy:before{
position: absolute;
content: '';
top: -8px;
left: 18px;
width: 20px;
height: 20px;
display: block;
border-top-right-radius: 20px;
background-color: #cb6980;
z-index: -1;
}
.tail{
position: absolute;
left: 105px;
top: 42px;
}
.tail span{
position: absolute;
left: 0;
top: 0;
width: 7px;
height: 2px;
transform: rotate(30deg);
background-color: #d88fa0;
}
.tail span:nth-child(2){
left: 1px;
top: -16px;
width: 17px;
height: 17px;
transform: rotate(-4deg);
background-color: transparent;
border-radius: 50%;
border-width: 2px;
border-style: solid;
border-color: transparent #d88fa0 #d88fa0 transparent;
}
.tail span:nth-child(3){
left: 8px;
top: -14px;
width: 10px;
height: 10px;
transform: rotate(-10deg);
background-color: transparent;
border-radius: 50%;
border-width: 2px;
border-style: solid;
border-color: #d88fa0 transparent transparent #d88fa0;
}
.tail span:nth-child(4){
left: 5px;
top: -24px;
width: 20px;
height: 20px;
transform: rotate(-13deg);
background-color: transparent;
border-radius: 50%;
border-width: 2px;
border-style: solid;
border-color: transparent transparent #d88fa0 transparent;
}
.eye{
position: absolute;
left: 12px;
top: 25px;
width: 12px;
height: 12px;
transform: rotate(45deg);
border-radius: 50%;
border-width: 4px;
border-style: solid;
border-color: #555 transparent transparent #555;
animation: blink 5s linear infinite;
}
@keyframes blink {
0% { 
border-color: #555 transparent transparent #555;
}
19% { 
border-color: #555 transparent transparent #555;  
}
20% { 
border-color: transparent #555 #555 transparent;
}
60% { 
border-color: transparent #555 #555 transparent;
}
61% { 
border-color: #555 transparent transparent #555;
}
100% { 
border-color: #555 transparent transparent #555;
}
}
.hole{
position: absolute;
left: 42px;
top: 0;
width: 27px;
height: 3px;
background-color: #555;
border-bottom-left-radius: 5px;
border-bottom-right-radius: 5px;
}
.coin-wrap{
position: absolute;
top: 0;
left: 145px;
z-index: 9;
width: 100%;
height: 100%;
opacity: 0;
transform-origin: bottom center;
animation: trembling 5s linear infinite, moveCoin 5s linear infinite;
}
.coin{
position: absolute;
top: 23px;
left: 48px;
z-index: 9;
width: 25px;
height: 25px;
border-radius: 50%;
border: 2px solid #e67e22;
background-color: #f39c12;
text-align: center;
line-height: 23px;
font-size: 15px;
font-weight: 500;
color: rgba(32,32,32,0.5);
box-shadow: inset 0 0 4px #777;
}
@keyframes moveCoin {
0% { 
opacity: 0; 
top: 0;
}
19% { 
opacity: 1; 
top: 0;
}
21% { 
top: -7px;
}
22% { 
top: -7px;
}
23% { 
top: -14px;
}
24% { 
top: -14px;
}
25% { 
top: -21px;
}
26% { 
top: -21px;
}
27% { 
top: -28px;
}
28% { 
top: -28px;
}
29% { 
top: -35px;
}
30% { 
top: -35px;
}
60% { 
top: -35px;
}
66% { 
top: -220px;
opacity: 1; 
}
67% { 
top: -220px;
opacity: 0; 
}
99% { 
top: 0;
opacity: 0; 
}
100% { 
opacity: 0;
top: 0;
}
}
.legs {
position: absolute;
bottom: 10px;
left:113px;
width: 13px;
height: 20px;
display: block;
background-color: #cb6980;
border-radius: 3px;
z-index: 1;
transform: translate(-80px,20px);
}
.legs:after {
position: absolute;
content: '';
bottom: 0;
left: 0;
width: 10px;
height: 4px;
display: block;
background-color: #d88fa0;
border-bottom-left-radius: 3px;
border-top-right-radius: 3px;
z-index: 1;
}
.legs.back {
left: 220px;
transform: translate(-160px,20px);
}