/**
  CSS for the wave percent animation (daily budget)
 */

 *, *:before, *:after {
    box-sizing: border-box;
    outline: none;
}
body {
    background: #020438;
    font: 14px 'Open Sans', helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
}
.box {
    height: 110px;
    width: 110px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    background: #020438;
    border-radius: 100%;
    overflow: hidden;
}

@media (max-width:380px){
    .box{
       height: 100px;
       top: 30%;
       width: 100px;
    }
}

.box .percent {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 3;
    width: 100%;
    height: 100%;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 40px;
}
.box .water {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    transform: translate(0, 100%);
    background: #69ced1;
    transition: all 0.3s;
}
.box .water_wave {
    width: 200%;
    position: absolute;
    bottom: 100%;
}
.box .water_wave_back {
    right: 0;
    fill: #c7eeff;
    animation: wave-back 2s infinite linear;
}
.box .water_wave_front {
    left: 0;
    fill: #69ced1;
    margin-bottom: -1px;
    animation: wave-front 1s infinite linear;
}
@keyframes wave-front {
    100% {
        transform: translate(-50%, 0);
   }
}
@keyframes wave-back {
    100% {
        transform: translate(50%, 0);
   }
}