<template>
  <ion-page>
    <ion-content :fullscreen="true">
      <ion-list>
        <ion-item lines="full" @click="signOut()">
          <ion-buttons slot="start">
            <ion-button>
              <font-awesome-icon
                slot="icon-only"
                :icon="['fas', 'sign-out-alt']"
                size="lg"
              />
            </ion-button>
          </ion-buttons>
          <ion-label>Deconnexion</ion-label>
        </ion-item>
        <ion-item lines="full" @click="changePseudo()">
          <ion-buttons slot="start">
            <ion-button>
              <font-awesome-icon
                slot="icon-only"
                :icon="['fas', 'user']"
                size="lg"
              />
            </ion-button>
          </ion-buttons>
          <ion-label>Changer de pseudo</ion-label>

          <p slot="end" class="pseudo-style" v-if="!toggleInput">
            {{ pseudo }}
          </p>

          <ion-input
            type="text"
            style="margin-right:0"
            v-model="newPseudo"
            v-if="toggleInput"
            :placeholder="pseudo"
          ></ion-input>
          <ion-buttons slot="end" v-if="toggleInput">
            <ion-button color="success" @click="changePseudoHandler()">
              <font-awesome-icon
                slot="icon-only"
                :icon="['fas', 'check']"
                size="lg"
              />
            </ion-button>
          </ion-buttons>
        </ion-item>
        <ion-item>
          <ion-buttons slot="start">
            <ion-button>
              <font-awesome-icon
                slot="icon-only"
                :icon="['fas', 'language']"
                size="lg"
              />
            </ion-button>
          </ion-buttons>
          <ion-label>Changer de langue</ion-label>
          <ion-select
            interface="popover"
            v-model="newLanguage"
            @ionChange="changeLanguage(newLanguage)"
          >
            <ion-select-option
              v-for="(l, index) in languagesCode"
              :key="index"
              >{{ l }}</ion-select-option
            >
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-buttons slot="start">
            <ion-button>
              <font-awesome-icon
                slot="icon-only"
                :icon="['fas', 'graduation-cap']"
                size="lg"
              />
            </ion-button>
          </ion-buttons>
          <ion-label>Changer de status</ion-label>
          <ion-select interface="popover" v-model="newStatus">
            <ion-select-option v-for="(s, index) in status" :key="index">{{
              s
            }}</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item lines="full" @click="deleteAccount()">
          <ion-buttons slot="start">
            <ion-button>
              <font-awesome-icon
                slot="icon-only"
                :icon="['fas', 'trash-alt']"
                size="lg"
                :style="{ color: 'red' }"
              />
            </ion-button>
          </ion-buttons>
          <ion-label>Supprimer mon compte</ion-label>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-page>
</template>

<script>
import {
  IonContent,
  IonPage,
  IonButton,
  IonButtons,
  IonLabel,
  IonList,
  IonItem,
  IonInput,
  IonSelect,
  IonSelectOption,
  toastController,
} from "@ionic/vue";
import { defineComponent } from "vue";
import { useRouter } from "vue-router";
import Swal from 'sweetalert2'
const httpService = require("../../utils/services");
export default defineComponent({
  name: "settings",
  inject: [ 'setIsLoggedIn' ],
  components: {
    IonContent,
    IonPage,
    IonButton,
    IonButtons,
    IonLabel,
    IonList,
    IonItem,
    IonInput,
    IonSelect,
    IonSelectOption,
  },
  ionViewWillEnter() {
    this.languages = [];
    this.languagesCode = [];

    this.status = [];
    httpService
      .getAll("/auth/pseudo/")
      .then((response) => {
        console.log(response);
        if (response.pseudo != null) {
          this.pseudo = response.pseudo;
        }
      })
      .catch((error) => console.log(error));

    httpService
      .getAllWithNoToken("/status/")
      .then((response) => {
        this.status = response;
      })
      .catch((error) => console.log(error));

    httpService
      .getAllWithNoToken("/language/")
      .then((response) => {
        Object.keys(response).forEach((key) => {
          let element = response[key];
          this.languages.push(element.languageName);
          this.languagesCode.push(element.languageCode);
        });
      })
      .catch((error) => {
        console.log(error);
      });

  
  },
  setup() {
    const router = useRouter();
    return { router };
  },
  data() {
    return {
      languages: [],
      languagesCode: [],
      status: [],
      pseudo: "",
      newPseudo: "",
      newStatus: "",
      newLanguage: "",
      toggleInput: false,
    };
  },
  methods: {
    changeLanguage(language) {
      this.newLanguage = language;
      httpService
        .patch("/language/", { countryCode: this.newLanguage })
        .then(() => {
          localStorage.setItem("language", this.newLanguage);
        })
        .catch((error) => console.log(error));
    },

    deleteAccount() {
      Swal.fire({
        titleText: "Êtes-vous sûre?",
        text:"En supprimant votre compte, toutes vos données seront définitivement effacées et perdues !",
        icon: 'warning',
        showCloseButton: true,
        confirmButtonText: "Supprimer mon compte",
        confirmButtonColor:'red'
      }).then((result)=>{
          if(result.isConfirmed){
              httpService
                .handleDelete("/auth/delete/")
                .then(() => {
                  this.signOut();
                })
                .catch(async () =>{
                    const toast = await toastController.create({
                      message: "Une erreur est survenue: impossible de supprimer le compte",
                      color: "danger",
                      position: "top",
                      buttons: [
                        {
                          side: "end",
                          text: "Ok",
                        },
                      ],
                    });
                    return toast.present();
                  })
              }
          })
        },

    changePseudoHandler() {
      httpService
        .patch("/auth/pseudo/", { pseudo: this.newPseudo })
        .then((response) => {
          console.log(response);
          if (response.pseudo != null) {
            this.pseudo = response.pseudo;
            this.toggleInput = false;
            window.location.reload;
          }
        })
        .catch((error) => console.log(error));
    },

    changePseudo() {
      this.toggleInput = true;
    },

    signOut() {
      this.setIsLoggedIn(null);
      this.router.push("/language").then(() => {
        window.location.reload();
      });
    },
  },
});
</script>

<style scoped>
.pseudo-style {
  color: rgb(169, 170, 172) !important;
}
</style>
