<template>
  <ion-item :color="backgroundColor" :class="itemClass">
    <ion-label :position="position" :class="labelClass">{{ label }}</ion-label>
    <ion-datetime :name="name" :cancelText="cancelText" :doneText="doneText" :display-format="displayFormat" 
    :value="modelValue" @ionChange="$emit('update:modelValue', $event.target.value)" :picker-format="pickerFormat"
    :min="minDate" :max="maxDate" :readonly="readonly" :class="inputClass" :local="local"></ion-datetime>
</ion-item>  
<div v-if="displayError" class="error-style">{{ errorMessage }}</div>
</template>

<script>
import { defineComponent } from 'vue';

import { IonItem, IonLabel, IonDatetime } from '@ionic/vue';

export default defineComponent({
name: 'BaseDatePicker',
inject: [ 'getLanguageCode' ],
components: { IonItem, IonLabel, IonDatetime },
emits: ['update:modelValue'],
props: {
  modelValue: [String, Date, undefined],
  minDate: {
    type: [String, undefined],
    default: '1950'
  },
  maxDate: {
    type: [String, undefined],
    default: '2050'
  },
  name: String,
  label: {
    type: [String, undefined],
    default: 'No label error'
  },
  cancelText: {
    type: [String, undefined],
    default: 'Undefined error'
  },
  doneText: {
    type: [String, undefined],
    default: 'Undefined error'
  },
  errorMessage: {
    type: String,
    default: "Undefined Error"
  },
  color: {
    type: [String, undefined],
    default: 'dark'
  },
  backgroundColor: {
    type: [String, undefined],
    require: false
  },
  position: {
    type: [String, undefined],
    default: "floating"
  },
  readonly: {
    type: [Boolean, undefined],
    default: false
  },
  inputClass: {
    type: [String, undefined],
    required: false
  },
  labelClass: {
    type: [String, undefined],
    required: false
  },
  itemClass: {
    type: [String, undefined],
    required: false
  },
  displayFormat: {
    type: [String, undefined],
    default: "DD MM YYYY"
  },
  pickerFormat: {
    type: [String, undefined],
    default: "DD MM YYYY"
  },
},
data() {
  return {
    displayError: false,
  }
},
watch: {
  errorMessage(val) {
    if (val.length > 0) {
      this.displayError = true;
    } else {
      this.displayError = false;
    }
  }
},
computed: {
  local() {
    switch(this.getLanguageCode().toLowerCase()) {
      case 'fr':
        return 'fr-FR';
      case 'it':
        return 'it-IT';
      case 'nl':
        return 'nl-BE';
      default:
        return 'en-GB';
    }
  }
}

});
</script>
