<template>
  <ion-card mode="ios">
    <ion-card-header>
      <font-awesome-icon :icon="['fas','times']" size="lg" @click="onDismiss()" style="float:right;"/>
    </ion-card-header>
    <ion-card-content class="popup-content-parent">
      <p id="title">{{ title }}</p>
      <slot name="content-header" />
      <div class="popup-content"><slot name="content" class="popup-content"/></div>
      <slot name="content-footer" />
      <slot name="buttons"><ion-button type="submit" class="btnCard">{{ submitLabel }}</ion-button></slot>
    </ion-card-content>      
  </ion-card>
</template>

<script>
import { defineComponent } from 'vue';

import { IonButton, IonCardContent, IonCard, IonCardHeader } from '@ionic/vue';

export default defineComponent({
name: 'BasePopupForm',
components: {IonButton, IonCardContent, IonCard, IonCardHeader },
emits: [ 'dismiss' ],
props: {
  title: {
    type: [String, undefined],
    default: 'No title error'
  },
  submitLabel: {
    type: [String, undefined],
    default: 'No label error'
  },
  handleDismiss: {
    type: [Boolean, undefined],
    default: false
  }
},

methods: {
  onDismiss() {
    if (this.handleDismiss) {
      this.$emit('dismiss');
    }
  }
}
  
});
</script>

<style scoped>
.btnCard{
  margin-top: 20px;
  display:block;
  --color:black;
  --background:#D7E3FC;
  --border-radius	: 30px;
}

#title{
  font-size: 16pt;
  margin: 2%;
}

.popup-content-parent {
  
}

.popup-content {
	overflow: hidden;
	overflow-y: auto;
	height: 50vh;
}

.form-content-align {
  margin-top: 0 !important;
  margin-left: 1vw !important;
}
</style>
