<template>
  <ion-page>
    <ion-content :fullscreen="true">
          <ion-content>
            <ion-button routerLink="/login" fill="clear" color="medium" class="ion-float-right">
              <font-awesome-icon :icon="['fas', 'times']" size="2x" />
            </ion-button>
            <SignUpForm :ionViewLifeCycleStage='ionViewLifeCycleStage' @formSubmit='onFormSubmit'/>
          </ion-content>
    </ion-content>
  </ion-page>
</template>

<script>
import { defineComponent } from "vue";
import { useRouter } from "vue-router";

import { Plugins } from "@capacitor/core";
const { PushNotifications } = Plugins;

import {
  IonContent, IonPage, IonButton
} from "@ionic/vue";

import SignUpForm from './SignUpForm.vue';

var inscription = defineComponent({
name: "inscription",
components: { IonContent, IonPage, IonButton,

SignUpForm },

ionViewWillEnter() {
  this.ionViewLifeCycleStage = 'ionViewWillEnter';

  this.pushInit();
},
ionViewWillLeave() {
  this.ionViewLifeCycleStage = 'ionViewWillLeave';
},
ionViewDidLeave() {
  this.ionViewLifeCycleStage = 'ionViewDidLeave';
},
data() {
  return {
    router: useRouter(),
    ionViewLifeCycleStage: '',
  };
},

methods: {
  async pushInit() {
    await PushNotifications.requestPermission().then((result) => {
      if (result.granted) {
        PushNotifications.register();
      } else {
        console.log("error");         
      }
    });

    PushNotifications.addListener("registration", (token) => {
      console.log("myToken ", token.value);
      token = token.value;
    });

    PushNotifications.addListener("registrationError", (error) => {
      console.log("Error on registration: " + JSON.stringify(error));
    });
  },

  onFormSubmit() {      
    this.router.push("/home");
  }
},
});

export default inscription;
</script>

<style>
ion-slides {
  --bullet-background: rgb(129, 129, 129);
  --bullet-background-active: rgb(255, 177, 59);
  height: 100%;
}

ion-icon {
  width: 50px !important;
  height: 50px !important;
}

.input-container {
  margin-top: +5%;
}
</style>
