 <template>
  <ion-page>
    <ion-header>
      <TopToolbar title="Basket" />
    </ion-header>

    <ion-content v-if="isPageLoad">
      <ion-card style="color: #000">
        <h1>le prix total est de : {{total.toFixed(2)}}€</h1>
      </ion-card>
      <ion-card class="card-style">
        <ion-grid>
          <ion-row>
            <ion-col>
              <div>
                <ion-title class="title">{{ "Votre panier" }}</ion-title>
              </div>
            </ion-col>
          </ion-row>
           <ion-row v-for="item in basketList" :key="item.type + '.' + item.id" :id="item.type + '.' + item.id">
           
             <ion-col >
              <div><input  style="text-align: center;"  type="number" :placeholder="item.servings"  v-if="item.type === 'recipe'" 
                onkeyup="if(this.value<0){this.value= this.value * -1} if(this.value>10){this.value=10}" min="1" max="10" v-model.lazy="item.servings"   @change="changeservings(item,$event.target.value)" /></div>
               <div><input  style="text-align: center;"  type="number" :placeholder="1"  v-if="item.type === 'ingredient'"
                onkeyup="if(this.value<0 ){this.value= this.value * -1}" min="1" max="10"  v-model.lazy="item.servings"   @change="changeservings(item,$event.target.value)" /></div>             
            </ion-col>

            <ion-col >
              <div class="centerBis">
               
                <TabBasket :menuTitle="item.name" :itemType="item.type" :prix="item.price">
                  <section  v-if="item.type === 'recipe'" class="option">
                    <h4><u>Ingredients:</u></h4>

                    <div v-for="ingredient in item.ingredients" :key="ingredient.id"><br>- {{ingredient.name}} 
                     {{ingredient.quantity}}   {{ingredient.unit}}    ({{ingredient.price}}€) <br></div>
                    
                   <!-- <div>- Asperges blanches(500g)</div>
                    <div>- Lait(200ml)</div>
                    <div>- Farine(15g)</div>
                    <div>- Beurre(40g)</div>
                    <div>- Persil(1 pincée)</div>-->
                    
                  </section>
                  <br />
                  <section v-if="item.type === 'recipe'" class="option">
                    <h4><u>Recette:</u></h4>
                    <div>{{item.url}}</div>
                   <!--<div>
                      Cuire les asperges en les recouvrant d'eau salée Pendant
                      la cuisson, préparer une béchamel en faisant fondre le
                      beurre Ajouter la farine en remuant et incorporer le lait
                      progressivement, puis une partie du jus de cuisson des
                      asperges Quand les asperges sont cuites, en retirer les
                      pointes et les réserver Mixer le reste des asperges dans
                      le jus de cuisson et incorporer la béchamel Servir avec
                      les pointes et parsemer de persil
                    </div>--> 
                  </section>
                </TabBasket>
                
              </div>

              <!--<div class="centerBis">
                <TabBasket menu-title="Crème d'asperges">
                  <section class="option">
                    <h4><u>Ingredients:</u></h4>
                    <div>- Asperges blanches(500g)</div>
                    <div>- Lait(200ml)</div>
                    <div>- Farine(15g)</div>
                    <div>- Beurre(40g)</div>
                    <div>- Persil(1 pincée)</div>
                  </section>
                  <br />
                  <section class="option">
                    <h4><u>Recette:</u></h4>
                    <div>
                      Cuire les asperges en les recouvrant d'eau salée Pendant
                      la cuisson, préparer une béchamel en faisant fondre le
                      beurre Ajouter la farine en remuant et incorporer le lait
                      progressivement, puis une partie du jus de cuisson des
                      asperges Quand les asperges sont cuites, en retirer les
                      pointes et les réserver Mixer le reste des asperges dans
                      le jus de cuisson et incorporer la béchamel Servir avec
                      les pointes et parsemer de persil
                    </div>
                  </section>
                </TabBasket>
              </div>
              
              --> 
            </ion-col>

            <ion-col>
              <div class="container">
                <div class="center">
                  <button @click="updateBasket(item)">
                    <i class="fas fa-times" style="color: red" id="delete"></i>
                  </button>
                </div>
              </div>
            </ion-col>
        
          </ion-row>
        </ion-grid>
      </ion-card>
    </ion-content>
  </ion-page>
</template> 

<script>
import {
  IonContent,
  IonPage,
  IonTitle,
  // IonList,
  IonCard,
  IonHeader,
  IonGrid,
  IonRow,
  IonCol,
} from "@ionic/vue";
import { defineComponent } from "vue";
const httpService = require("../../utils/services");
import TopToolbar from "@/components/Navigation/TopToolbar.vue";
import TabBasket from "@/views/Basket/BasketTable.vue";

export default defineComponent({
  name: "Basket",
  components: {
    IonContent,
    IonPage,
    IonTitle,
    IonHeader,
    // IonList,
    IonCard,
    TopToolbar,
    TabBasket,
    IonGrid,
    IonRow,
    IonCol,
  },
inject: [ 'shoppingListModule' ],


computed :{
basketList(){
  if(this.shoppingListModule.recipesInBasket){
    return Object.values(this.shoppingListModule.recipesInBasket);
  }else{
    return [];
  }
  
},
total(){
      var total=0;
      const test = JSON.parse(JSON.stringify(this.basketList));
      test.forEach(element => {
        console.log(element);
        total = total + element.price;
      });
      console.log(total);
      return total;
    }
},

watch: {
},

  ionViewWillEnter() {
    httpService
      .getByParams("/translation/friendshipTranslation/", {
        languageCode: localStorage.getItem("language"),
      })
      .then((response) => {
        console.log(response);
        this.translations = response;
      })
      .catch((error) => {
        console.log(error);
      });

    this.isPageLoad = true;
  },
  data() {
    return {
      isPageLoad: false,
    };
  },
  methods: {
    updateBasket(item) {     
        this.shoppingListModule.recipesInBasket = { recipesInBasket: item, action: 'remove'};  
    },

    changeservings(item,value){
      console.log(value);
      console.log(item.servings);

      if(item.type === 'recipe'){
        console.log("test");
        if(value<item.servings){
          console.log("test");
          item.price =  item.price / item.servings * value;
            this.shoppingListModule.recipesInBasket = { recipesInBasket: item, action: 'update'}; 
        }else{
      item.price = item.price * value;
        this.shoppingListModule.recipesInBasket = { recipesInBasket: item, action: 'update'}; 
        }
      }else{
        
        item.price = item.price * value;
        this.shoppingListModule.recipesInBasket = { recipesInBasket: item, action: 'update'}; 
      }
    },
  }
});

</script>

<style scoped>
.title {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-size: 30px;
  padding-left: 10px;
  font-weight: bold;
}
.request-title {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-size: 30px;
  margin-top: 20px;
  font-weight: bold;
  padding: 1;
}
.item-subtitle {
  color: rgb(169, 170, 172) !important;
}
.text-style {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-weight: bold;
}
ion-searchbar {
  --color: #000;
  --placeholder-color: #000;
  --border-radius: 200px;
  margin: auto;
  flex-basis: 100%;
}

.h1-style {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-weight: bold;
  text-align: center;
  color: "black" !important;
}
.card-style {
  height: 100% !important;
  color: #000;
}

#delete {
  transform: scale(3);
}

.center {
  margin: 0;
  position: relative;
  top: 50%;
  left: 60%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.centerBis {
  margin: 0;
  position: relative;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

input[type="number"] {
  width: 50px;
  height: 50px;
  margin: 0;
  position: relative;
  left: 80%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}


</style>


