<template>
<form @submit.prevent="onAddCategory" id="createcategoryform" class="form-wrapper">
  <ion-grid>
    <BasePopupForm :title="translations.newCategory" :submitLabel="translations.add" 
    :handleDismiss="true" @dismiss="handleDismiss">
      <template #content>
        <ion-row class="form-content-align">
          <BaseInput name="name" v-model="formData.name"
          :inputLabel="translations.name" :errorMessage="errors.nameError" />
        </ion-row>
        
        <ion-row class="form-content-align">
          <BaseInput name="budget" v-model="formData.budget" inputType="number" step="0.01"
          :inputLabel="translations.budgetPerMonth" :errorMessage="errors.budgetError" />
        </ion-row>
        
        <ion-row class="form-content-align">
          <div class="divIcon">
            <ion-label position="default">{{translations.icon}}</ion-label>
            <Vue3IconPicker 
              v-model="icon1"
              style="fontSize:2rem"
              v-on:update="updateIcon($event)" 
              :translations="translations"
            />
          </div>
        </ion-row>
      </template>
    </BasePopupForm>
  </ion-grid>
</form>
</template>

<script>

import { IonLabel, IonGrid, IonRow } from '@ionic/vue';
import { defineComponent, ref } from 'vue';
import Vue3IconPicker from '../Vue3IconPicker/Vue3IconPicker';

const httpService = require('../../utils/services');
const utils = require('../../utils/utils');

import BasePopupForm from '@/components/Form/BasePopupForm.vue';
import BaseInput from '@/components/Form/BaseInput.vue';
import ToastDisplay from '@/mixins/ToastDisplay.vue';

export default defineComponent({
name: 'CategoriesManagement',
components: { IonLabel, IonGrid, IonRow,

Vue3IconPicker, BasePopupForm, BaseInput },
mixins: [ ToastDisplay ],
props:{
  type: {
    required:true
  },
  translations:{
    required:true,
    type:Object
  }
}, 

data(){
  return{
    formData:{
      name: null,
      budget: null
    },
    icon1: ref('fas fa-icons'),
    errors: {
      nameError: "",
      budgetError: ""
    }
  };
},

methods:{
  updateIcon(newIcon){
    this.icon1=newIcon
  },

  //Verifies inputs and send a post request to add a new category
  onAddCategory(){
    if (!this.formIsValid(this.formData)) {
      return;
    }

    let catToAdd ={
      name: this.formData.name,
      budget: this.formData.budget,
      type: this.type,
      icon: this.icon1
    }

    httpService.create("/categories", catToAdd)
    .then( async resp => {
      let msgToCompose = this.translations.addConfirmation.split('"');
      let msg = msgToCompose[0] + ": " + resp.name;      
      this.queueSuccessToast(msg);

      this.$emit('add-category', resp);
    });

    this.clearform();
  },

  formIsValid(formData) {
    this.errors.budgetError = utils.checkPositiveAndRequired(formData.budget, false, 
      this.translations.addError1, this.translations.addError2);
    this.errors.nameError = utils.checkRequired(formData.name,this.translations.addError1);

    return Object.values(this.errors)
    .filter(err => typeof err === 'undefined' || err.length > 0 ).length === 0;
  },

  clearform() {
    this.formData.name = null;
    this.formData.budget = null;
    this.icon1 = ref('fas fa-icons');

    Object.keys(this.errors).forEach(key => {
      this.errors[key] = "";
    });
  },

  // Closes the popup
  handleDismiss(){
    this.$emit('dismiss-popup');
    this.clearform();
  },

}
});
</script>

<style scoped>
.divIcon {
  margin-top: 3vh;
  margin-left: 1.5vw !important;
}
</style>