<template>
  <form @submit.prevent="onAddAccount" id="createaccountform">
    <BasePopupForm :title="translations.titlePopupAddAccount" :submitLabel="translations.add" 
    :handleDismiss="true" @dismiss="onDismiss">
      <template #content>
        <BaseInput name="name" v-model="formData.name" :placeholder="translations.namePlaceHolder"
        :inputLabel="translations.name" :errorMessage="errors.nameError" />

        <div class="ion-margin-top ion-margin-bottom"></div>

        <ion-radio-group v-model="formData.type"  id="typeOfAccount"> 
            <ion-label color="dark">{{ translations.type }}</ion-label>
            <ion-grid>
              <ion-row>
                <ion-col v-for="type in accountTypes" :key="type.accountTypeID">
                  <ion-item class="account-icon">
                    <ion-label><font-awesome-icon :icon="extractIcon(type.icon)" 
                    :class="formData.type === type.accountTypeID ? 'active' : null" /></ion-label>
                    <ion-radio :value="type.accountTypeID" @ionFocus="handleChange"></ion-radio>
                  </ion-item>
                </ion-col>
              </ion-row>
            </ion-grid>
            <div class="error-style" v-if="errors.typeError">{{ errors.typeError }}</div>
          </ion-radio-group>

      </template>
    </BasePopupForm>
  </form>
</template>

<script>

import { defineComponent} from 'vue';

import { IonGrid, IonRow, IonCol, IonLabel, IonRadioGroup,
IonRadio, IonItem, } from '@ionic/vue';

import BasePopupForm from '@/components/Form/BasePopupForm.vue';
import BaseInput from '@/components/Form/BaseInput.vue';

const methodsService = require('../../utils/methodsService')
const httpService = require('../../utils/services');
const utils = require('../../utils/utils');

export default defineComponent({
name: 'CategoriesManagement',

components: { BasePopupForm, BaseInput,
  
  IonRadio, IonItem, IonRadioGroup,
  IonGrid, IonRow, IonCol, IonLabel },
props:{
  accountTypes:{
      required:true,
      type:Array
  },
  translations:{
      required:true,
      type:Object
  },
},

data(){
    return{
        formData:{
          name: null,
          type: null
        },
        errors : {
          nameError: "",
          typeError: ""
        },
    }
},

watch: { 

},

methods:{
  // Closes the create account popup
  onDismiss(){
    this.clearform();
    this.$emit('dismiss-popup');
  },

  handleChange(e){
    this.formData.type = e.target.value;
  },
  
  extractIcon(icon){
    return methodsService.extractIcon(icon)
  },

  // Checks the inputs and send a post request to add a new account
  onAddAccount(){
    if (!this.formIsValid(this.formData)) {
      return;
    }

    let accountToAdd = {
      name: this.formData.name,
      typeID: this.formData.type
    }
    
    httpService.create("/account/add", accountToAdd)
    .then(resp => {
      this.$emit("add-account", resp);
    });

    this.onDismiss();
  },

  formIsValid(formData) {
    this.errors.nameError = utils.checkRequired(formData.name, this.translations.errorMsg);
    this.errors.typeError = utils.checkRequired(formData.type, this.translations.errorMsg);

    return Object.values(this.errors)
    .filter(err => typeof err === 'undefined' || err.length > 0 ).length === 0;
  },

  clearform() {
    this.formData.name = null;
    this.formData.type = null;
    this.errors.nameError = "";
    this.errors.typeError = "";
  },

}
});
</script>

<style scoped>

#typeOfAccount .account-icon {
    font-size: 2rem;
}

#typeOfAccount {  
  margin-left: 1.2rem;
}

.active {
  color: rgb(54, 54, 123);
}

ion-col {
  padding: 0 !important;
  margin: 0 !important;
  flex-grow: 0 !important;
}

ion-radio{
  --color:transparent;
  --color-checked: transparent;  
  margin: 0 !important;
  width: 0.1px !important;
}

ion-item {
	--inner-padding-end: 1rem !important;
}

</style>