<template>
  <form @submit.prevent="onCategoriesSubmit" id="selectmultiplecategoriesform">
    <BasePopupForm :title="translations.splitIntoSeverals" :submitLabel="translations.add" 
    :handleDismiss="true" @dismiss="handleDismiss">
      <template #content-header> 
        <BaseInput name="total" :value="displayedAmount" :disabled="true"
        :inputLabel="translations.amountToSplit" position="default" />
      </template>
      <template #content>
        <SelectMultipleCategories
          :categories="categories" 
          :offset="0" 
          :parent='null'
          :amount="amount"
          :displayTotal="true"
          @categoriesChange="onCategoriesChange"
          :alreadySelectedCategories="alreadySelectedCategories"
            />  
      </template>
      <template #content-footer>
        <p class="error-style" v-if="displayError">{{ errorMessage }}</p>
      </template>
    </BasePopupForm>
  </form>
</template>

<script>


import { defineComponent} from 'vue';
import SelectMultipleCategories from './SelectMultipleCategories';
import BasePopupForm from '@/components/Form/BasePopupForm.vue';
import BaseInput from '@/components/Form/BaseInput.vue';

export default defineComponent({
name: 'PopupMultipleSelect',

components: { SelectMultipleCategories, BasePopupForm, BaseInput },
props: {
  categories: {
    required: true
  },
  amount:{
      required:true
  },
  translations:{
      required:true
  },
  alreadySelectedCategories: {
    default: []
  },
},

data() {
  return {
    selectedCategories: {},
    displayError: false,
    errorMessage: ""
  }
},
computed: {
  displayedAmount() {
    return Math.abs(this.amount).toString();
  }
},

methods:{
  handleDismiss(){  
    this.$emit('dismiss-popup');
    this.clearForm();
  },

  onCategoriesChange(eventObj) {
    if (!eventObj || !eventObj.action || !eventObj.category) { return } //error
    let cat = eventObj.category;
    switch(eventObj.action) {
      case 'checked':
        if (this.selectedCategories[cat.categoryID]) { return; }
        this.selectedCategories[cat.categoryID] = cat;
        break;
      case 'unchecked':
        if (!this.selectedCategories[cat.categoryID]) { return; }
        delete this.selectedCategories[cat.categoryID];
        break;
      case 'amountChange':
        if (!this.selectedCategories[cat.categoryID]) { return; } //error
        if (!eventObj.amount) { return; } //error
        this.selectedCategories[cat.categoryID].amount = eventObj.amount;
        break;
      default: return; //error
    }
  },

  onCategoriesSubmit() {
    if (!this.formIsValid(this.selectedCategories)) {      
      this.displayError = true;
      return;
    }

    this.$emit('categories-submit', this.selectedCategories);
    this.clearForm();
  },

  formIsValid(selectedCategories) {
    let total = 0;
    let isValid = true;
    let selectedCatKeys = Object.keys(selectedCategories);

    if (selectedCatKeys.length === 1) {
      selectedCategories[selectedCatKeys[0]].amount = this.amount;
      return isValid;
    } 

    if (selectedCatKeys.length === 0) {
      this.errorMessage = this.translations.multipleCategoriesErrorMsg2Part1 + ' ' + this.translations.multipleCategoriesErrorMsg2Part2;
      isValid = false;
    }

    selectedCatKeys.forEach(key => {   
      let cat = selectedCategories[key];   
      if (!cat.amount || parseFloat(cat.amount) <= 0) {
          this.errorMessage = this.translations.multipleCategoriesErrorMsg2Part1 + ' ' + this.translations.multipleCategoriesErrorMsg2Part2;
          isValid = false;
      }      
      total += parseFloat(cat.amount);
    });

    if(total != this.amount){
      this.errorMessage = this.translations.multipleCategoriesErrorMsg1Part1 + ' ' + this.translations.multipleCategoriesErrorMsg1Part2
      isValid = false;
    }
    return isValid;
  },

  clearForm() {
    this.selectedCategories = {};
    this.displayError = false;
    this.errorMessage = "";
  }
}

});
</script>