<template>
<div>
  <li v-for="element in categories" :key='element.categoryID'>   
    <ion-item  v-on="element.subCategories.length>0 ? {click: ()=>displayChildren('nestedList'+element.categoryID, element.categoryID)}:{}">  
      <div :style="style">
        <font-awesome-icon :icon="extractIcon(element.icon)" size="lg"/>
      </div>
      <ion-label class="labelCategory">{{element.name}}</ion-label>
      <em 
        class="fas fa-sort-down" 
        v-if="element.subCategories.length>0"
        :id="'dropDownIcon'+element.categoryID"
      />
      <ion-input 
        type="number" 
        v-if="element.subCategories.length==0" 
        class="ion-text-right" 
        v-model="inputs['input'+element.categoryID]" 
        @ionBlur="onChangeAmount(element, element.categoryID, inputs['input'+element.categoryID])"
        :id="'input'+element.categoryID"
        readonly>
      </ion-input>

      <em 
        class="far fa-square checkBoxes" 
        v-if="element.subCategories.length==0" 
        @click="onSelectOption(element, element.categoryID, element.categoryID)" 
        :id="'checkBox'+element.categoryID"
      />
    </ion-item>  
    <div class="subCategories">  
      <SelectMultipleCategories 
        :categories="element.subCategories" 
        :offset="offset+25" 
        :parent="element" 
        hidden 
        :id="'nestedList'+element.categoryID"
        :amount="amount"
        v-on:change-amount="onChangeAmount"
        v-on:option-selected="onSelectOption"
        :categoriesSelected="categoriesSelected"
      />
    </div>
  </li>
</div>
</template>

<script>
import { defineComponent} from 'vue';
import { IonLabel, IonItem, IonInput } from '@ionic/vue';
const methodsService = require('@/utils/methodsService')

export default defineComponent({
name: 'SelectMultipleCategories',
components: {  IonLabel, IonItem, IonInput },
computed: {
  style () {
    return 'padding-left: ' + this.offset + 'px; font-size:18px;';
  }
},
emits: [ 'categoriesChange', 'option-selected', 'change-amount' ],
props: {
  categories: {
    required: true
  },
  offset:{
    required:true,
    type:Number
  },
  parent:{
    required:true
  },
  amount:{
    required:true
  },
  alreadySelectedCategories: {
    default: []
  }
},

data(){
  return{
    categoriesSelected : {},
    inputs: {},
    errorMessage: null
  }
},

mounted() {
  if (this.alreadySelectedCategories?.length > 0) {
    this.alreadySelectedCategories.map(cat => {return {...cat}}).forEach(cat => {  
      let idParent = cat.idParentCategory;
      if (cat.idParentCategory == -1) {idParent = cat.categoryID}
      this.onSelectOption(cat, cat.categoryID, idParent);      
      if (this.alreadySelectedCategories.length === 1) {
        this.inputs['input'+cat.categoryID] = this.amount;
      } else {
        this.inputs['input'+cat.categoryID] = cat.amount;
      }
    });
  }
},

methods:{
  extractIcon(icon){
    return methodsService.extractIcon(icon);
  },

  // Onclick on a category, displays its children
  displayChildren(childID, idElementChecked){
    let children = document.getElementById(childID);
    children.hidden = !children.hidden;
    let icon = document.getElementById('dropDownIcon'+ idElementChecked);
    if(icon) {
      if(icon.className == "fas fa-sort-down") {
        icon.className = "fas fa-sort-up";
      }
      else {
        icon.className = "fas fa-sort-down";  
      } 
    }
  },

  // On select option, change visuals (nested checkbox)
  onSelectOption(element, idElementChecked, idParent) {
    let current = this.categories.find(c => c.categoryID === idParent);
    console.log(element, idParent);
    console.log(current);
    let checkBox = document.getElementById('checkBox'+ idElementChecked);
    let input = document.getElementById('input' + idElementChecked)
    if(current.idParentCategory == -1) {
      if (checkBox.className == "far fa-square checkBoxes") {
        checkBox.className = "fas fa-check-square checkBoxes";
        input.readonly = false;
        input.placeholder = "Amount";
        this.$emit('categoriesChange', { action: 'checked', category: element });
      } else {
        this.inputs['input'+ idElementChecked] = null;
        checkBox.className = "far fa-square checkBoxes";
        input.readonly = true;
        input.placeholder = "";
        this.$emit('categoriesChange', { action: 'unchecked', category: element });
      } 
    } else{
      if(checkBox.className == "fas fa-check-square checkBoxes") {
        this.inputs['input' + idElementChecked] = null
      }
      this.$emit('option-selected', element, idElementChecked, current.idParentCategory)
    }
  },

  // Recurisve on change amount
  onChangeAmount(element, idParent, amount){ 
    if(document.getElementById('input' + element.categoryID).readonly) {
      return;
    }

    if(amount=="") {
      amount = null;
    }

    let current = this.categories.find(c => c.categoryID === idParent);
    if(current?.idParentCategory == -1) {
      this.$emit('categoriesChange', { action: 'amountChange', category: element, amount: amount });
    } else {
      this.$emit('change-amount', element, current?.idParentCategory, amount);
    }
  },  
}

});
</script>

<style scoped>
ul, li {
  list-style-type: none;
  list-style-position: inside;
  margin:0;
  padding:0; 
}

.labelCategory {
  margin-left: 18px;
  font-size: 11pt;
}
</style>