<template>
  <ion-card mode="ios">
    <ion-card-header>
      <font-awesome-icon :icon="['fas','times']" size="lg" @click="onClickToggleCard()" style="float:right;"/>
    </ion-card-header>
    <ion-card-content>
        <p id="title">{{translations.popupTitleAddInvoice}}</p>
        <div>
          <ion-item>
              <ion-label class="labelName" position="floating" color="dark">{{translations.name}}</ion-label>
              <ion-input v-model="newInvoice.name" required></ion-input>
          </ion-item>
          <ion-item>
              <ion-label class="labelAmount" position="floating" color="dark">{{translations.amount}}</ion-label>
              <ion-input type="number" v-model="newInvoice.amount"></ion-input>
          </ion-item>
          <ion-item>
              <ion-label class="labelStartDate" position="floating" color="dark">{{translations.startDate}}</ion-label>
              <ion-datetime 
                    display-format="DD MM YYYY" 
                    v-model="newInvoice.startDate"
              ></ion-datetime>
          </ion-item>
          <ion-item>
              <ion-label class="labelEndDate" position="floating" color="dark">{{translations.endDate}}</ion-label>
              <ion-datetime 
                    display-format="DD MM YYYY" 
                    v-model="newInvoice.endDate"
                    :min="new Date(newInvoice.startDate).toISOString().split('-')[0]
                            +'-'+new Date(newInvoice.startDate).toISOString().split('-')[1]
                            +'-'+new Date(newInvoice.startDate).toISOString().split('-')[2]"      
                    :max="new Date(newInvoice.startDate).getFullYear()+5
                            +'-'+new Date(newInvoice.startDate).toISOString().split('-')[1]
                            +'-'+new Date(newInvoice.startDate).toISOString().split('-')[2]"
              ></ion-datetime>
          </ion-item>
          <div class="divIcon">
            <ion-label id="iconLabel">{{translations.icon}}</ion-label>
            <Vue3IconPicker 
                v-model="icon1" 
                style="marginLeft:30px; fontSize:30px;" 
                v-on:update="updateIcon($event)" 
                :translations="translations"
            />
          </div>
          <p id="errorMessage">{{errorMessage}}</p>
        </div>
        <ion-button class="btnCard" @click="onAddInvoice()">{{translations.add}}</ion-button>
    </ion-card-content>          
  </ion-card>
</template>

<script>

import {
        IonButton, 
        IonItem,
        IonLabel,
        IonInput,
        IonCardContent,
        toastController,
        IonCard,
        IonCardHeader,
        IonDatetime
         } from '@ionic/vue';
import { defineComponent, ref } from 'vue';
import Vue3IconPicker from '@/components/Vue3IconPicker/Vue3IconPicker';
const httpService = require('../../utils/services');

export default defineComponent({
  name: 'PopupAddInvoice',

  components: {
        IonButton, 
        IonItem,
        IonLabel,
        IonInput,
        IonCardContent,
        Vue3IconPicker,
        IonCard,
        IonCardHeader,
        IonDatetime
  },

  props:{
    translations:{
      required:true,
      type:Object
    },
    maxEndDate:{
      required:true
    }
  }, 

  data(){
    return{
      newInvoice:{
        name:null,
        amount:null,
        startDate: null,
        endDate: null
      },
      icon1: ref('fas fa-icons'),
      errorMessage:null
    };
  },

  methods:{

    updateIcon(newIcon){
      this.icon1=newIcon
    },

    // Checks the inputs of the form and send a post request to add an invoice if they're correct
    onAddInvoice(){
      let errors=[];
      let correct=[];
      if(!this.newInvoice.name)
        errors.push("labelName")
      else
        correct.push("labelName")
      if(!this.newInvoice.amount)
        errors.push("labelAmount")
      else
        correct.push("labelAmount")
      if(!this.newInvoice.startDate)
        errors.push("labelStartDate")
      else
        correct.push("labelStartDate")
      if(!this.newInvoice.endDate)
        errors.push("labelEndDate")
      else
        correct.push("labelEndDate")
    
      for(let i=0;i<correct.length;i++){
        document.getElementsByClassName(correct[i])[0].style.color="black";
      }

      if(errors.length>0){
        this.errorMessage=this.translations.errorMsg1
        for(let i=0;i<errors.length;i++){
            document.getElementsByClassName(errors[i])[0].style.color="red";
        }
        return;
      }
      else if(this.newInvoice.amount<=0){
          this.errorMessage = this.translations.errorMsg2
          document.getElementsByClassName("labelAmount")[0].style.color="red";
          return;   
      }

      let invoiceToAdd ={
        name:this.newInvoice.name,
        amount:this.newInvoice.amount,
        startDate:this.newInvoice.startDate.split("T")[0],
        endDate:this.newInvoice.endDate.split("T")[0],
        icon:this.icon1
      }

      httpService.create("/invoice/add", invoiceToAdd)
                 .then( async resp=>{
                   const toast = await toastController
                      .create({
                        message: this.translations.msgAddSuccessful,
                        duration: 3000,
                        color: "success"
                      })
                    this.$emit('add-invoice',resp)
                    return toast.present();
                 })
      this.onClickToggleCard();
    },

    // Closes the popup to add an invoice
    onClickToggleCard(){
      this.newInvoice.amount=null
      this.newInvoice.name=null
      this.newInvoice.startDate=null
      this.newInvoice.endDate=null
      this.errorMessage=null
      this.icon1=ref('fas fa-icons')   
      this.$emit('dismiss-popup')
    },

  }
});
</script>

<style scoped>


ion-label{
    display:inline-block !important;
}

.btnCard{
  display:block;
  margin-top:20px;
  --color:black;
  --background:#D7E3FC;
  --border-radius	: 30px;
}

#iconLabel{
  font-size: 9pt;
  color:black;
  margin: 20px 30px 0px 15px;
}

#title{
  font-size: 16pt;
}


#errorMessage{
  color:red;
  margin-top:30px;
  text-align: center;
  font-size: 16px;
}

</style>