<template>
  <ion-page>
    <ion-header v-if="isPageLoad">
        <TopToolbar :title="translations.title" />
        
        <ion-toolbar>
            <ion-segment value="transactions" @ionChange="onSegmentChanged($event)" mode="md">
                <ion-segment-button value="transactions">{{translations.transactions}}</ion-segment-button>
                <ion-segment-button value="invoices">{{translations.invoices}}</ion-segment-button>
            </ion-segment>
        </ion-toolbar>
    </ion-header>

    <ion-content v-if="isPageLoad" style="margin-top:60px;">
        
        <ion-list v-if="pageSelected=='transactions'">
            <ion-item-group>
                <ion-item v-for="t in recurringTransactions" :key="t.transactionID"> 
                    <div>
                        <ion-label>
                            <p class="transactionLabel">{{t.recurringTransactionName}}</p>
                            <ion-chip 
                                size="small" 
                                style="marginRight:5px;" 
                                v-for="cat in t.categories" 
                                :key="cat.categoryID" 
                            >
                                <font-awesome-icon :icon="extractIcon(cat.icon)" style="marginRight:5px;"/>
                                <ion-label>{{cat.name}} : {{cat.amount}} </ion-label>
                                <i :class="currencyIcon"/>
                            </ion-chip>
                        </ion-label>
                    </div>
                    <div class="transactionInfo">
                        <div>
                            {{t.amount}}
                            <i :class="currencyIcon"/>
                        </div>
                        <p>{{translations.until}}: {{endDateStyled[t.transactionID]}}</p>
                    </div>
                </ion-item>
            </ion-item-group>
        </ion-list>

        <div v-if="pageSelected=='invoices'">
            <PopupAddInvoice 
                v-if="displayPopupAddInvoice"
                :translations="translations"
                v-on:add-invoice="onInvoiceAdded"
                v-on:dismiss-popup="onClosePopup"
                :maxEndDate="(new Date().getFullYear()+5)+'-'+(new Date().getMonth()+1)+'-'+new Date().getDate()"
                id="popupInvoice"
            />
            <ion-button @click="onClickAddInvoice()" expand="block" class="btnAddInvoice">{{translations.popupTitleAddInvoice}}</ion-button>
            <ion-list>
                <ion-item-group>
                    <ion-item-sliding  v-for="i in invoices" :key="i.invoiceID" :id="i.invoiceID">       
                        <ion-item-options side="start"> 
                            <ion-item-option color="danger" @click="onDeleteInvoice(i)">
                                <font-awesome-icon slot="icon-only" :icon="['far','trash-alt']" size="lg"/>
                            </ion-item-option>           
                        </ion-item-options>  

                        <ion-item> 
                            <div class="invoiceInfo">
                                <ion-label class="invoiceLabel">
                                    <i :class="i.icon"/>
                                    {{i.name}}
                                </ion-label>
                                <p class="invoiceDate">{{translations.startDate}}: {{invoiceStartDateStyled[i.invoiceID]}}</p>
                                <p class="invoiceDate">{{translations.until}}: {{invoiceEndDateStyled[i.invoiceID]}}</p>
                            </div>
                            <ion-input v-model="i.amount" class="invoiceAmount" readOnly/>
                            <i :class="currencyIcon"/>
                        </ion-item>

                        <ion-item-options side="end"> 
                            <ion-item-option color="primary" @click="onUpdateInvoice(i)">
                                <font-awesome-icon slot="icon-only" :icon="['fas','pencil-alt']" size="lg"/>
                            </ion-item-option>           
                        </ion-item-options> 
                    </ion-item-sliding>
                </ion-item-group>
            </ion-list>
        </div>
    </ion-content>
  </ion-page>
</template>

<script>

import { IonContent, 
         IonPage, 
         IonToolbar, 
         IonSegment, 
         IonHeader, 
         IonLabel,
         IonItem,
         IonItemGroup,
         IonList,
         IonSegmentButton,
         IonInput,
         IonChip,
         IonButton,
         toastController,
         IonItemSliding,
         IonItemOption,
         IonItemOptions} from '@ionic/vue';
import { defineComponent } from 'vue';
const httpService = require('../../utils/services');
const methodsService = require('../../utils/methodsService')
import PopupAddInvoice from './PopupAddInvoice';
import Swal from 'sweetalert2';
import TopToolbar from "@/components/Navigation/TopToolbar.vue";

export default defineComponent({
  name: 'Home',
  components: {
    IonContent,
    IonSegment,
    IonPage,
    IonToolbar,
    IonHeader,
    IonLabel,
    IonItem,
    IonItemGroup,
    IonList,
    IonSegmentButton,
    IonChip,
    IonButton,
    PopupAddInvoice,
    IonInput,
    IonItemSliding,
    IonItemOption,
    IonItemOptions,
    TopToolbar
  },

  
  async ionViewWillEnter(){
      await httpService
          .getByParams("/translation/recurringPaiementsTranslation",{languageCode:localStorage.getItem("language")})
          .then((response) => {
              this.translations = response;
          })
          .catch((error) => console.log(error));

      await httpService
            .get("/transactions/recurringTransactions")
            .then(async res=>{
                this.recurringTransactions = res;
                this.endDateStyled = [];
                for(let i=0; i<res.length;i++){
                    let current = res[i]
                    this.endDateStyled.push(current.transactionID);
                    this.endDateStyled[current.transactionID] = current.recurringTransactionEndDate.split("T")[0]
                }
            })

      await httpService
          .get("/currency/byUser")
          .then(res=>{
              this.currencyIcon = res.icon
          })

      await httpService
          .get("/invoice/all")
          .then(res=>{
              this.invoices = res
              this.invoiceEndDateStyled = [];
              this.invoiceStartDateStyled = [];
              for(let i=0; i<res.length;i++){
                  let current = res[i]
                  this.invoiceEndDateStyled.push(current.invoiceID);
                  this.invoiceEndDateStyled[current.invoiceID] = current.endDate.split("T")[0]

                  this.invoiceStartDateStyled.push(current.invoiceID);
                  this.invoiceStartDateStyled[current.invoiceID] = current.startDate.split("T")[0]
              }
          })

      this.isPageLoad=true
  },

  methods:{
        extractIcon(icon){
            return methodsService.extractIcon(icon)
        },

        onSegmentChanged(event){
            this.pageSelected = event.detail.value
        },

        onClickAddInvoice(){
            this.displayPopupAddInvoice = true
        },

        onInvoiceAdded(newInvoice){
            this.invoices.push(newInvoice)
            this.invoiceEndDateStyled.push(newInvoice.invoiceID);
            this.invoiceEndDateStyled[newInvoice.invoiceID] = newInvoice.endDate.split("T")[0]

            this.invoiceStartDateStyled.push(newInvoice.invoiceID);
            this.invoiceStartDateStyled[newInvoice.invoiceID] = newInvoice.startDate.split("T")[0]
        },

        onClosePopup(){
            this.displayPopupAddInvoice=false
        },

        onDeleteInvoice(invoice){
            Swal.fire({
                titleText: this.translations.popupDeleteTitle,
                text:this.translations.popupDeleteMsg,
                icon: 'warning',
                showCloseButton: true,
                confirmButtonText: this.translations.delete,
                confirmButtonColor:'red'
            }).then((result)=>{
                if(result.isConfirmed){
                    httpService.handleDelete("/invoice/delete/"+invoice.invoiceID)
                               .then(async resp=>{
                                   this.invoices = this.invoices.filter(i=>i.invoiceID!=resp.id)   
                                   const toast = await toastController
                                            .create({
                                            message: this.translations.deleteMsgOk,
                                            duration: 3000,
                                            color: "success"
                                            })
                                    return toast.present();
                               })
                               .catch(async ()=>{
                                      const toast = await toastController
                                            .create({
                                            message: this.translations.msgUnexpectedError,
                                            duration: 3000,
                                            color: "danger"
                                            })
                                      return toast.present();
                                })        
                }
            })
        },

        async onUpdateInvoice(i){
            document.getElementById(i.invoiceID).close()
            const {value: formValues} = await Swal.fire({
                titleText: "Modifier la facture",
                html:
                    '<label for="swal-input1">'+this.translations.name+'</label>' +
                    '<input id="swal-input1" class="swal2-input" type="text" value="'+i.name+'">' +
                    '<label for="swal-input2">'+this.translations.amount+'</label>' +
                    '<input id="swal-input2" class="swal2-input" value="'+i.amount+'">'+
                    '<label for="swal-input3">'+this.translations.endDate+'</label>' +
                    '<input id="swal-input3" type="date" class="swal2-input" value="'+i.endDate.split("T")[0]+'">',
                preConfirm: () => {
                    return [
                    document.getElementById('swal-input1').value,
                    document.getElementById('swal-input2').value,
                    document.getElementById('swal-input3').value
                    ]
                },
                confirmButtonText: this.translations.save,
                showCloseButton: true
                })

                if (formValues) {
                    console.log(formValues)
                    let invoiceToUpdate={
                        name: formValues[0],
                        amount: formValues[1],
                        endDate: formValues[2],
                        invoiceID: i.invoiceID
                    }
                    httpService.patch("/invoice/updateInvoice/",invoiceToUpdate)
                      .then(async resp=>{
                          this.invoices = this.invoices.map(i=> i.invoiceID!= resp.invoiceID ? i : resp)
                          this.invoiceEndDateStyled[resp.invoiceID] = resp.endDate.split("T")[0]
                          const toast = await toastController
                            .create({
                              message: this.translations.updateMsgOk,
                              duration: 3000,
                              color: "success"
                            })
                          return toast.present();
                      })
                      .catch(async ()=>{
                          const toast = await toastController
                            .create({
                              message: this.translations.msgUnexpectedError,
                              duration: 3000,
                              color: "danger"
                            })
                          return toast.present();
                      })
                }
        }
  },

  data(){
      return{
          recurringTransactions:null,
          currencyIcon:null,
          endDateStyled:null,
          pageSelected:"transactions",
          displayPopupAddInvoice:false,
          translations:null,
          isPageLoad:false,
          invoices:null,
          invoiceStartDateStyled:null,
          invoiceEndDateStyled:null
      }
  }
});
</script>

<style scoped>

.page-title{
  font-family: "Roboto", Helvetica, Arial;
  font-size: 28px;
  padding: 0;
  font-weight: bold;
  margin: 20px 0 10px 10px;
}

.transactionInfo {
    margin-top:20px;
    text-align:right;
    margin-left:70px;
}

@media (max-width: 380px) {
    .transactionInfo {
    margin-left:20px;
}
}

.transactionInfo div{
    font-size:14pt;
}

.transactionInfo p{
    font-size:12pt;
}

.transactionLabel{
    font-size: 16pt;
    margin:10px 0 10px 10px;
}

.invoiceAmount{
    text-align:right;
    font-size:16pt;
}

.invoiceLabel{
    font-size: 18pt;
    margin:10px 0 10px 10px;
}

.invoiceDate{
    font-size: 11pt;
    margin:10px 0 10px 10px;
}

.btnAddInvoice{
    margin-top:15px;
}

.invoiceInfo{
    height: 120px;
    padding: 10px 0 0 10px;
}

#popupInvoice{
  width: 93%;
  position: absolute;
  z-index:50;
}

</style>