<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>PersoBudget</title>

    <base href="/" />

    <meta name="color-scheme" content="light dark" />
    <meta
      name="viewport"
      content="viewport-fit=cover, width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />
    <meta name="format-detection" content="telephone=no" />
    <meta name="msapplication-tap-highlight" content="no" />

    <link rel="shortcut icon" type="image/png" href="<%= BASE_URL %>assets/icon/favicon.png" />
    
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">

    <link rel="stylesheet" href="style/piggyBankAnim.css">
    <link rel="stylesheet" href="style/waveDailyBudget.css">

    <!-- add to homescreen for ios -->
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-title" content="PersoBudget" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />

    <style>
      
      .wrapper {
        width: 100%;
        height: 95%;
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 5px;
        background-image: white;
        overflow: hidden;
        display: block;
      }
      
      .wave {
        width: 100%;
        height: 75%;
        position: absolute;
        border-radius: 25%;
        background-image: linear-gradient(to top, #B7E4C7 40%, #3acfd5 90%);
        display: block;
        transform: rotate(260deg)
      }
      
      </style>
  </head>

  <body>
    <div id="app">
    </div>
    
  </body>

</html>


