<template>  
  <ion-button fill="clear" id="trigger-button" @click="handleOpen" slot="end">
    <font-awesome-icon icon="filter" size="2x" />
  </ion-button>
  <ion-popover trigger="trigger-button" :is-open="open" @didDismiss="handleDismiss" 
  :show-backdrop="false" side="bottom" :event="event">
    <ion-content>
        <ion-item @click="handleChange" class="ion-activatable" >
          <ion-label id="selected">Show {{ show.selected ? 'all' : 'only selected' }}</ion-label>
          <ion-ripple-effect></ion-ripple-effect>
        </ion-item>
        <ion-item @click="handleChange" class="ion-activatable">
          <ion-label id="recipes">{{ show.recipes ? 'Hide' : 'Show' }} recipes</ion-label>
          <ion-ripple-effect></ion-ripple-effect>
        </ion-item>
        <ion-item @click="handleChange" class="ion-activatable">
          <ion-label id="ingredients">{{ show.ingredients ? 'Hide' : 'Show' }} ingredients</ion-label>
          <ion-ripple-effect></ion-ripple-effect>
        </ion-item>
    </ion-content>
  </ion-popover>
</template>

<script>
import { defineComponent } from 'vue';

import { IonButton, IonPopover, IonItem, IonLabel, IonContent, IonRippleEffect } from '@ionic/vue';

export default defineComponent({
name: 'Filter',
components: { IonButton, IonPopover, IonItem, IonLabel, IonContent, IonRippleEffect },
props: [ 'modelValue', 'slot' ],
emits: [ 'update:modelValue' ],

data() {
  return {
    show: {
      selected: false,
      recipes: true,
      ingredients: true
    },
    open: false,
    event: null
  }
},

methods: {
  handleOpen(event) {
    this.open = true;
    this.event = event;
  },
  handleDismiss() {
    this.open = false;
    this.event = null;
  },
  handleChange(event) {
    let show = !this.show[event.target.id];
    this.show[event.target.id] = show;
    if (event.target.id) {
      this.$emit('update:modelValue', { ...this.modelValue, [event.target.id]: show });
    }    
    // this.handleDismiss();
  }
}

});
</script>

<style scoped>

ion-button {
  margin: 0;
}

ion-item {
	--inner-padding-end: 1rem !important;
	--inner-padding-start: 1rem !important;
  --padding-start: 0 !important;
}
</style>
