<template>
  <ion-card class="recipe-card" :ref="item.type + '.' + item.id">
    <ion-item class="recipe-card-content">
      <div class="recipe-thumbnail" slot="start">
        <div><font-awesome-icon :icon="item.icon.split('-')[1]" size="3x" /></div>
        <p>{{ item.servings ? item.servings + " serv." : item.quantity + ' ' + item.unit }} </p>
      </div>
      <ion-label class="recipe-card-label">
        <h2 class="recipe-card-title">{{ item.name }}</h2>
        <h3 class="recipe-card-price">
          {{ item.price }}
          <font-awesome-icon icon="euro-sign" />
        </h3>
        <p>
          {{ item.calorificValue }} Calories 
          <br/> 
          {{ item.proteicValue }} g de protéines              
        </p>                                
      </ion-label>
      <section class="end-spacing" slot="end" />
      <ion-button class="recipe-add-button" fill="clear" slot="end" 
        @click="editBasketPlacement(true)" v-if="!item.inBasket">
        <font-awesome-icon icon="plus" size="2x" />
      </ion-button>
      <ion-button class="recipe-add-button" slot="end" fill="clear"
      @click="editBasketPlacement(false)" v-else>
        <font-awesome-icon icon="times" size="2x" />
      </ion-button>
    </ion-item>
  </ion-card>
</template>

<script>
import { defineComponent } from 'vue';

import {
  IonCard,
  IonItem,
  IonLabel,
  IonButton,
} from "@ionic/vue";

export default defineComponent({
  name: "ItemToAdd",
  emits: [ 'updateBasket' ],
  props: {
    itemToDisplay: {
      default: []
    }
  },
  components: {
    IonCard,
    IonItem,
    IonLabel,
    IonButton,
  },

  data() {
    return {      
      item: this.itemToDisplay
    }
  },
  watch: {
    'item.inBasket'(val) {
      //change css class if in basket or not
      if (val) {
        this.$el.classList.add("recipe-card-selected");
      } else {
        this.$el.classList.remove("recipe-card-selected");
      }
    }
  },

  mounted() {
    if (this.item.inBasket) {
      //if item already in basket (stored locally)
      //change css class to visuallu appear as selected
      this.$el.classList.add("recipe-card-selected");
    }
  },

  methods: {
    editBasketPlacement(inBasketVal) {
      this.item.inBasket = inBasketVal;
      //add and remove from basket dynamically
      this.$emit('updateBasket', this.item, inBasketVal);
    }
  }
  
});
</script>

<style scoped>
.recipe-card {
  background: var(--ion-color-medium-dark-tint);
  margin: auto;
  height: 6rem;
  max-width: 40em;
  min-width: 25em;
  box-shadow: none !important;
}
.recipe-card-selected {  
  box-shadow: rgb(0 0 0 / 30%) 0px 3px 1px -2px, rgb(0 0 0 / 24%) 0px 2px 2px 0px, rgb(0 0 0 / 22%) 0px 1px 5px 0px !important;
  background: var(--ion-color-medium-dark-select);
}
.recipe-thumbnail {
  text-align: center;
  margin: 1em 0.5em;
  width: 60px;
  height: 70px;
}
.recipe-thumbnail > div > * {
  width: 50px;
  height: 50px;
}
.recipe-thumbnail > p {
  margin: 1em 0 0 0;
  font-size: 9pt;
}
.recipe-card-content {
  --padding-start: 0px !important;
  --inner-padding-start: 0px !important;
  --padding-end: 0px !important;
  --inner-padding-end: 0px !important;
}
.recipe-card-label {
  position: relative;
  margin: 0.1em !important;
  height: 5rem;
}
.recipe-card-label h2 {
  font-size: 1.1em;
  margin: 0 !important; 
}
.recipe-card-label p {
  position: absolute;
  bottom: 0;
  line-height: 12pt;
  font-size: 0.9em;
}
.recipe-add-button {
  position: absolute;
  top: 0;
  right: 0;
  height: 3em;
  width: 3em;
}

.end-spacing {
  margin: 0;
  width: 2.5em;
}

@media (min-width: 1231px) {
  .recipe-card {
    justify-content: center !important;
    width: 28vw;
  }
}
@media (max-width: 1231px) {
  .recipe-card {
    justify-content: space-between !important;
    width: 40vw;
  }
}
@media (max-width: 825px) {
  .recipe-card {
    width: 80vw;
  }
}
@media (max-width: 576px) {
  .recipe-card {
    width: 90vw;
  }
}
</style>