<template>
  <ion-page>
    <ion-header>
      <TopToolbar title="Recipes" />

      <ion-toolbar class="main-toolbar">   
        <ion-item>     
          <ion-searchbar @ionInput="handleSearch" class="ion-hide-md-down" />  
          <ion-button @click="handleSearchToolbar" class="search-button ion-hide-md-up" fill="clear" slot="start">
            <font-awesome-icon icon="search" size="2x" />
          </ion-button>          
          <Sorting v-model="sortBy" />
          <Filter v-model="filters" />
          <ion-button class="basket-button ion-margin-end" routerLink="/basket" fill="clear" slot="end">
            <font-awesome-icon icon="shopping-basket" size="2x" />
            <ion-badge slot="end" v-if="itemsCountInBasket > 0">{{ itemsCountInBasket }}</ion-badge>
          </ion-button> 
        </ion-item>
      </ion-toolbar>
      <ion-toolbar class="search-toolbar ion-hide-md-up" v-if="showSearchToolbar">
        <ion-searchbar @ionInput="handleSearch" /> 
      </ion-toolbar>
    </ion-header>
    
    <ion-item><h1>{{ currentMonth.charAt(0).toUpperCase() + currentMonth.slice(1) }}</h1></ion-item>
    <ion-content>      
      <ion-grid class="recipes-page-content">
        <ion-row class="recipe-cards">
          <ion-col class="recipe-card-col" v-for="item in displayedList" :key="item.type + '.' + item.id" :id="item.type + '.' + item.id">
            <ItemToAdd :itemToDisplay="item" @updateBasket="updateBasket" />
          </ion-col>
        </ion-row>
      </ion-grid>
      
                    
    </ion-content>
  </ion-page>
</template>

<script>
import { defineComponent } from "vue";

import {
  IonPage,
  IonHeader,
  IonContent,
  IonGrid,
  IonRow,
  IonCol,
  IonItem,
  IonToolbar,
  IonBadge,
  IonSearchbar,
  IonButton,
} from "@ionic/vue";

import TopToolbar from "@/components/Navigation/TopToolbar.vue";
import ItemToAdd from "./ItemToAdd.vue";
import Filter from "./Filter.vue"
import Sorting from "./Sorting.vue"

export default defineComponent({
  name: "Recipes",
  components: {
    IonPage,
    IonHeader,
    IonContent,
    IonGrid,
    IonRow,
    IonCol,
    IonItem,
    IonToolbar,
    IonBadge,
    IonSearchbar,
    IonButton,

    TopToolbar,
    ItemToAdd,
    Filter,
    Sorting
  },
  inject: [ 'shoppingListModule' ],

  data() {
    return {
      showSearchToolbar: false, //for xs devices
      currentMonth: new Date().toLocaleString('default', { month: 'long' }),
      filters: {
        selected: false,
        recipes: true,
        ingredients: true
      },
      sortBy: {
        price: false,
        name: true
      }
    };
  },

  watch: {
  },

  computed: {
    displayedList() {    
      let newArray = [];
      if (this.shoppingListModule.recipes && this.shoppingListModule.ingredients) {
        //if recipes and ingredients already loaded (values non null)

        const recipes = Object.values(this.shoppingListModule.recipes);
        const ingredients = Object.values(this.shoppingListModule.ingredients);  

        if (this.filters.recipes) {
          //filter show recipes
          newArray = newArray.concat(recipes);
        }
        if (this.filters.ingredients) {
          //filter show ingredients
          newArray = newArray.concat(ingredients);
        }
        if (this.filters.selected) {
          //filter show selected only
          newArray = newArray.filter(item => item.type + '.' + item.id in this.shoppingListModule.recipesInBasket);
        }

        if (this.sortBy.name) {
          //sort by name (true by default)
          newArray.sort(this.compareByName);
        }
        if (this.sortBy.price > 0) {         
          //sort by highest price 
          newArray.sort(this.compareByHighestPrice);
        }
        if (this.sortBy.price < 0) {        
          //sort by lowest price         
          newArray.sort(this.compareByLowestPrice);
        }
      }
      return newArray;
    },
    itemsCountInBasket() {
      if (this.shoppingListModule.recipesInBasket) {   
        //return number of items in basket if exist     
        return Object.keys(this.shoppingListModule.recipesInBasket).length;
      }
      return 0;
    }
  },

  methods: {
    compareByHighestPrice(item1, item2) {
      if (item1.price > item2.price) {
        return -1;
      }
      if (item1.price < item2.price) {
        return 1;
      }  
      return 0;
    },

    compareByLowestPrice(item2, item1) {
      if (item1.price > item2.price) {
        return -1;
      }
      if (item1.price < item2.price) {
        return 1;
      }  
      return 0;
    },
    
    compareByName(item1, item2) {
      if (item1.name < item2.name) {
        return -1;
      }
      if (item1.name > item2.name) {
        return 1;
      }  
      return 0;
    },

    updateBasket(item, addInBasket) {
      if (addInBasket) {
        //add in basket if addInBasket is true
        this.shoppingListModule.recipesInBasket = { recipesInBasket: item, action: 'add'};
      } else {
        //remove from basket
        this.shoppingListModule.recipesInBasket = { recipesInBasket: item, action: 'remove'};
      }
      //update variable with new size
      this.itemsCountInBasket = Object.keys(this.shoppingListModule.recipesInBasket)?.length;
    },

    handleSearchToolbar() {
      //hide or show search bar on xs devices
      this.showSearchToolbar = !this.showSearchToolbar;
    },

    handleSearch(event) {
      const items = Array.from(document.getElementsByClassName('recipe-card-col'));
      const search = event.target.value.toLowerCase();

      requestAnimationFrame(() => {
        items.forEach((item) => {
          //check if name of item matches
          const title = item.getElementsByClassName('recipe-card-title')[0];
          let show = title.textContent.toLowerCase().indexOf(search) > -1;

          //check ir, for recipes, ingredients name match
          const type = item.id.split('.')[0];
          const id = item.id.split('.')[1];
          if (type === 'recipe' ) {
            this.shoppingListModule.recipes[id].ingredients.forEach(ingredient => {
              if (ingredient.name.toLowerCase().indexOf(search) > -1) {
                show = true;
              }
            });
          }

          //hide or show card
          item.style.display = show ? 'inline-block' : 'none';
        });
      });
    }
  }
});
</script>

<style scoped>
.recipes-page-content {
  position: relative;
  width: 100%;
  text-align: center;
}
.recipe-cards ion-col {
  height: 6.5rem;
}

.main-toolbar ion-item {
  --padding-start: 0px;
  --inner-padding-start: 0px;
  --padding-end: 0px;
  --inner-padding-end: 0px;
}

h1 {
  margin: auto;
}

/* basket */
.basket-button {
  margin: 0 1rem 0 0;
  position: relative;
  width: 3em;
  height: 3em;
  --padding-end: 0;
  --padding-start: 0;
}
ion-badge {
  position: absolute;
  left: 1.5em;
}

/* searchbar */
:deep(ion-icon) {
  width: 2em !important;
  height: 2em !important;
}
:deep(ion-icon.searchbar-search-icon) {
  height: 1.5em !important;
}
.main-toolbar ion-searchbar{
  width: 30em;
}

@media (max-width: 1200px) {
  .recipe-cards {
      justify-content: center !important;
  }
  .recipe-card-label h2 {
    font-size: 0.9rem;
  }
  .recipe-card-label p {
    font-size: 0.7em;
  }
}
@media (min-width: 768px) {
    .recipe-cards {
        justify-content: space-between !important;
    }
    .recipes-page-content {
      width: 90vw;
    }
}
</style>
