<template>  
  <ion-button fill="clear" id="trigger-button" @click="handleOpen" slot="end">
    <font-awesome-icon icon="sort-amount-down-alt" size="2x" />
  </ion-button>
  <ion-popover trigger="trigger-button" :is-open="open" @didDismiss="handleDismiss" 
  :show-backdrop="false" side="bottom" :event="event">
    <ion-content>
        <ion-item @click="handleChange" class="ion-activatable">
          <ion-label id="price">By {{ !sort.price || sort.price > 0  ? 'lowest' : 'highest' }} price</ion-label>
          <ion-ripple-effect></ion-ripple-effect>
        </ion-item>
        <ion-item @click="handleChange" class="ion-activatable">
          <ion-label id="name">By name</ion-label>
          <ion-ripple-effect></ion-ripple-effect>
        </ion-item>
    </ion-content>
  </ion-popover>
</template>

<script>
import { defineComponent } from 'vue';

import { IonButton, IonPopover, IonItem, IonLabel, IonContent, IonRippleEffect } from '@ionic/vue';

export default defineComponent({
name: 'Sorting',
components: { IonButton, IonPopover, IonItem, IonLabel, IonContent, IonRippleEffect },
props: [ 'modelValue', 'slot' ],
emits: [ 'update:modelValue' ],

data() {
  return {
    sort: {
      price: false,
      name: true
    },
    open: false,
    event: null
  }
},

methods: {
  handleOpen(event) {
    this.open = true;
    this.event = event;
  },
  handleDismiss() {
    this.open = false;
    this.event = null;
  },
  handleChange(event) {    
    let price = this.sort.price;
    let name = this.sort.name;

    if (event.target.id === 'price') {
      if (price > 0 || !price) {
        price = -1;
      } else {
        price = 1;
      }
      name = false;
    } else {
      price = false;
      name = true;
    }

    this.sort.name = name;
    this.sort.price = price;

    if (event.target.id) {
      this.$emit('update:modelValue', { name, price });
    }    
    this.handleDismiss();
  }
}

});
</script>

<style scoped>

ion-button {
  margin: 0;
}

ion-item {
	--inner-padding-end: 1rem !important;
	--inner-padding-start: 1rem !important;
  --padding-start: 0 !important;
}
</style>
