<template>
  <ion-segment :value="currentTab" @ionChange="$emit('update:currentTab', $event.target.value)" mode="md">
    <ion-segment-button v-for="tab in tabs" :key="tab.key" :value="tab.key">
      {{ tab.val }}
    </ion-segment-button>
  </ion-segment>
</template>

<script>
import { defineComponent } from 'vue';

import { IonSegment, IonSegmentButton } from '@ionic/vue';

export default defineComponent({
name: "SegmentTabs",
components: { IonSegment, IonSegmentButton },
props: [ 'currentTab', 'tabs' ],
emits: [ 'update:currentTab' ]

});
</script>

<style scoped>

</style>
