<template>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button auto-hide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ title }}</ion-title>
    <ion-buttons slot="end" class="ion-margin-right">
      <ion-button @click="setApplicationTheme('light')" fill="clear" class="ion-margin-right" 
        v-if="getApplicationTheme() === 'dark'">
        <font-awesome-icon icon="moon" size="2x" />
      </ion-button>  
      <ion-button @click="setApplicationTheme('dark')" fill="clear" class="ion-margin-right" 
        v-else>
        <font-awesome-icon icon="sun" size="2x" />
      </ion-button>  
      <ion-button routerLink="/settings" fill="clear" class="ion-margin-right">
        <font-awesome-icon :icon="['fas', 'cog']" size="2x" />
      </ion-button>      
    </ion-buttons>
  </ion-toolbar>
</template>

<script>
import { defineComponent } from 'vue';

import { IonToolbar, IonTitle, IonButtons, IonButton, IonMenuButton } from '@ionic/vue';

export default defineComponent({
name: 'TopToolbar',
components: { IonToolbar, IonTitle, IonButtons, IonButton, IonMenuButton },
inject: [ 'setApplicationTheme', 'getApplicationTheme' ],
props: {
  title: {
    type: [String, undefined],
    default: 'Undefined Title'
  }
}

});
</script>
