@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css');


ion-row {
	margin: 0 !important;
	padding: 0 !important;
}

ion-col {
	margin: 0.5rem !important;
	padding: 0 !important;
}

ion-item,
ion-list {
	background: transparent !important;
	--background: transparent !important;
	--border-color: transparent !important;
}

ion-toolbar {
	--background: var(--ion-toolbar-background, var(--ion-background-color, var(--ion-color-medium-dark))) !important;
	--color: var(--ion-toolbar-color, var(--ion-text-color, var(--ion-color-medium-dark-contrast))) !important;
	--min-height: 0;
}

ion-toolbar ion-button {
	--color: var(--ion-toolbar-color, var(--ion-text-color, var(--ion-color-medium-dark-contrast))) !important;
}

.sc-ion-popover-md-h,
.sc-ion-popover-ios-h {
  --width: auto !important;
  --background: var(--ion-color-medium-shade) !important;
}

.item.item-input {
	margin: 0 !important;
	border: 0 !important;
	padding: 0 !important;
	width: 100% !important;
}

.sc-ion-input-ios-h {
	--padding-top: 0 !important;
	--padding-bottom: 0 !important;
	--padding-start: 0px;
}

.item-label-floating {
  margin-top: 0 !important;
  --min-height: 60px !important;
}

.title {
	margin: 2%;
	text-align: center;
}

.content-y-spacing {
	padding: 1vh 0 !important;
}

.content-x-spacing {
	padding: 0 1vw !important;
}

.form-wrapper {
	margin: 1vw !important;
}
.form-wrapper > * {
	padding: 1vh;
}

.form-content-align {
	margin: 1vh 4.5vw !important;
	padding: 0 !important;
}

.error-style {
	color: var(--ion-color-danger-shade);
	text-align: left;
	align-self: flex-start;
	font-size: 1rem;
}

ion-row.form-content-align > ion-col {
	padding: 0;
	margin: 0;
	margin-block-end: 1vh;
	margin-block-start: 1vh;
	margin-inline-end: 1vw;
	margin-inline-start: 1vw;
}

.input-bottom-border {
	border-bottom: solid 2px;
	border-color: var(--ion-color-primary);
}

ion-row.form-content-align:hover .input-bottom-border {
	border-color: var(--ion-color-primary-shade);
}

.select-popover-position .popover-content {
	top: 1vh !important;
}
.select-popover-position ion-select-popover {
	overflow-y: auto !important;
}

.short-content {
	overflow: hidden;
	min-height: 40vh !important;
	max-height: 70vh !important;
	min-width: 50vw !important;
	margin: auto;
	padding: 1.5rem;
}

.transparent-card {
	border-radius: 1rem;
	background: rgba(255, 255, 255, 0.5);
}

.is-a-link {
	color: var(--ion-color-primary) !important;
	text-decoration: underline;
}

.is-a-link:hover {
	color: var(--ion-color-primary-shade) !important;
}

ion-input.money-data::before {
	font-family: 'FontAwesome';
	content: attr(dataBefore);
	margin-right: 2.5vw;
}

ion-page {
	z-index: 0 !important;
}

.popover-style {
  --width: 50% !important;
  --background: transparent !important;
  --box-shadow: 0 !important;
}
/*xs size*/
@media (max-width: 576px) { 

  .popover-style {
    --width: 90% !important;
  }

}

/*sm size*/
@media (max-width: 768px) {   
  .my-custom-menu {
    --width: 100vw !important;
  }

  /* .popover-content.sc-ion-popover-md {
    width: 90% !important;
  } */
}

/*md size*/
@media (max-width: 992px) {
	/* .popOver-style {
		--width: 90vw !important;
		--max-width: 820px !important;
		--max-height: 90vh !important;
	} */

	.popup-style {
		width: 90% !important;
		max-width: 820px !important;
		max-height: 80vh !important;
	}

	.card-popup {
		border-radius: 20px !important;
		z-index: 20004 !important;

		--backdrop-opacity: var(--ion-backdrop-opacity, 0.32) !important;
		--box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
			0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12) !important;

		width: 90vw !important;
		max-width: 820px !important;
		/* max-height: 90vh !important; */

		position: fixed !important;
		top: 0 !important;
		bottom: 0 !important;
		left: 0 !important;
		right: 0 !important;
	}
}

/*lg size*/
@media (max-width: 1200px) {
	.form-wrapper {
		margin: 1vw 10vw !important;
	}

	/* .popOver-style {
		--width: 70vw !important;
		--max-height: 90vh !important;
	} */

	.popup-style {
		width: 70vw !important;
		max-height: 80vh !important;
	}

	.card-popup {
		border-radius: 20px !important;
		z-index: 20004 !important;

		--backdrop-opacity: var(--ion-backdrop-opacity, 0.32) !important;
		--box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
			0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12) !important;

		width: 70vw !important;
		/* height: 25vh !important; */
		/* max-height: 80vh !important; */

		position: fixed !important;
		top: 0 !important;
		bottom: 0 !important;
		left: 0 !important;
		right: 0 !important;
	}    
}

/*xl size*/
@media (min-width: 1200px) { 

}
