/* Ionic Variables and Theming. For more info, please see:
http://ionicframework.com/docs/theming/ */

/** Custom light green water color **/
:root {
	--ion-color-ligthgreenwater: #d8f3dc;
	--ion-color-ligthgreenwater-rgb: 216, 243, 220;
	--ion-color-ligthgreenwater-contrast: #000000;
	--ion-color-ligthgreenwater-contrast-rgb: 0, 0, 0;
	--ion-color-ligthgreenwater-shade: #bed6c2;
	--ion-color-ligthgreenwater-tint: #dcf4e0;
}

.ion-color-ligthgreenwater {
	--ion-color-base: var(--ion-color-ligthgreenwater);
	--ion-color-base-rgb: var(--ion-color-ligthgreenwater-rgb);
	--ion-color-contrast: var(--ion-color-ligthgreenwater-contrast);
	--ion-color-contrast-rgb: var(--ion-color-ligthgreenwater-contrast-rgb);
	--ion-color-shade: var(--ion-color-ligthgreenwater-shade);
	--ion-color-tint: var(--ion-color-ligthgreenwater-tint);
}

:root {
	--ion-color-purewhite: #ffffff;
	--ion-color-purewhite-rgb: 255, 255, 255;
	--ion-color-purewhite-contrast: #000000;
	--ion-color-purewhite-contrast-rgb: 0, 0, 0;
	--ion-color-purewhite-shade: #e0e0e0;
	--ion-color-purewhite-tint: #ffffff;
}

.ion-color-purewhite {
	--ion-color-base: var(--ion-color-purewhite);
	--ion-color-base-rgb: var(--ion-color-purewhite-rgb);
	--ion-color-contrast: var(--ion-color-purewhite-contrast);
	--ion-color-contrast-rgb: var(--ion-color-purewhite-contrast-rgb);
	--ion-color-shade: var(--ion-color-purewhite-shade);
	--ion-color-tint: var(--ion-color-purewhite-tint);
}

.item-background-color-ligthgreenwater {
	--ion-item-background: #d8f3dc;
}

.item-background-color-white {
	--ion-item-background: #ffffff;
}
/** Custom green water color **/
:root {
	--ion-color-greenwater: #95d5b2;
	--ion-color-greenwater-rgb: 149, 213, 178;
	--ion-color-greenwater-contrast: #000000;
	--ion-color-greenwater-contrast-rgb: 0, 0, 0;
	--ion-color-greenwater-shade: #83bb9d;
	--ion-color-greenwater-tint: #a0d9ba;
}

.ion-color-greenwater {
	--ion-color-base: var(--ion-color-greenwater);
	--ion-color-base-rgb: var(--ion-color-greenwater-rgb);
	--ion-color-contrast: var(--ion-color-greenwater-contrast);
	--ion-color-contrast-rgb: var(--ion-color-greenwater-contrast-rgb);
	--ion-color-shade: var(--ion-color-greenwater-shade);
	--ion-color-tint: var(--ion-color-greenwater-tint);
}

/** Custom green water with border red color**/
:root {
	--ion-color-greenwaterborderedred: red;
	--ion-color-greenwaterborderedred-rgb: 149, 213, 178;
	--ion-color-greenwaterborderedred-contrast: #000000;
	--ion-color-greenwaterborderedred-contrast-rgb: 0, 0, 0;
	--ion-color-greenwaterborderedred-shade: red;
	--ion-color-greenwaterborderedred-tint: red;
}

.ion-color-greenwaterborderedred {
	--ion-color-base: var(--ion-color-greenwaterborderedred);
	--ion-color-base-rgb: var(--ion-color-greenwaterborderedred-rgb);
	--ion-color-contrast: var(--ion-color-greenwaterborderedred-contrast);
	--ion-color-contrast-rgb: var(--ion-color-greenwaterborderedred-contrast-rgb);
	--ion-color-shade: var(--ion-color-greenwaterborderedred-shade);
	--ion-color-tint: var(--ion-color-greenwaterborderedred-tint);
}

/** Custom light blue color **/
:root {
	--ion-color-ligthblue: #3acfd5;
	--ion-color-ligthblue-rgb: 58, 207, 213;
	--ion-color-ligthblue-contrast: #000000;
	--ion-color-ligthblue-contrast-rgb: 0, 0, 0;
	--ion-color-ligthblue-shade: #33b6bb;
	--ion-color-ligthblue-tint: #4ed4d9;
}

.ion-color-ligthblue {
	--ion-color-base: var(--ion-color-ligthblue);
	--ion-color-base-rgb: var(--ion-color-ligthblue-rgb);
	--ion-color-contrast: var(--ion-color-ligthblue-contrast);
	--ion-color-contrast-rgb: var(--ion-color-ligthblue-contrast-rgb);
	--ion-color-shade: var(--ion-color-ligthblue-shade);
	--ion-color-tint: var(--ion-color-ligthblue-tint);
}

:root {
	--ion-color-ccdbfd: #ccdbfd;
	--ion-color-ccdbfd-rgb: 204, 219, 253;
	--ion-color-ccdbfd-contrast: #000000;
	--ion-color-ccdbfd-contrast-rgb: 0, 0, 0;
	--ion-color-ccdbfd-shade: #b4c1df;
	--ion-color-ccdbfd-tint: #d1dffd;
}

.ion-color-ccdbfd {
	--ion-color-base: var(--ion-color-ccdbfd);
	--ion-color-base-rgb: var(--ion-color-ccdbfd-rgb);
	--ion-color-contrast: var(--ion-color-ccdbfd-contrast);
	--ion-color-contrast-rgb: var(--ion-color-ccdbfd-contrast-rgb);
	--ion-color-shade: var(--ion-color-ccdbfd-shade);
	--ion-color-tint: var(--ion-color-ccdbfd-tint);
}

/** Ionic CSS Variables **/
:root {
	--ion-color-lavenderblue: linear-gradient(#abc4ff, #c1d3fe);
	--ion-color-lavenderblue-rgb: 193, 211, 254;
	--ion-color-lavenderblue-contrast: #000000;
	--ion-color-lavenderblue-contrast-rgb: 0, 0, 0;
	--ion-color-lavenderblue-shade: #aabae0;
	--ion-color-lavenderblue-tint: #c7d7fe;
}

.ion-color-lavenderblue {
	--ion-color-base: var(--ion-color-lavenderblue);
	--ion-color-base-rgb: var(--ion-color-lavenderblue-rgb);
	--ion-color-contrast: var(--ion-color-lavenderblue-contrast);
	--ion-color-contrast-rgb: var(--ion-color-lavenderblue-contrast-rgb);
	--ion-color-shade: var(--ion-color-lavenderblue-shade);
	--ion-color-tint: var(--ion-color-lavenderblue-tint);
}

:root {
	/** primary **/
	--ion-color-primary: #3880ff;
	--ion-color-primary-rgb: 56, 128, 255;
	--ion-color-primary-contrast: #ffffff;
	--ion-color-primary-contrast-rgb: 255, 255, 255;
	--ion-color-primary-shade: #3171e0;
	--ion-color-primary-tint: #4c8dff;

	/** secondary **/
	--ion-color-secondary: #3dc2ff;
	--ion-color-secondary-rgb: 61, 194, 255;
	--ion-color-secondary-contrast: #ffffff;
	--ion-color-secondary-contrast-rgb: 255, 255, 255;
	--ion-color-secondary-shade: #36abe0;
	--ion-color-secondary-tint: #50c8ff;

	/** tertiary **/
	--ion-color-tertiary: #5260ff;
	--ion-color-tertiary-rgb: 82, 96, 255;
	--ion-color-tertiary-contrast: #ffffff;
	--ion-color-tertiary-contrast-rgb: 255, 255, 255;
	--ion-color-tertiary-shade: #4854e0;
	--ion-color-tertiary-tint: #6370ff;

	/** success **/
	--ion-color-success: #2dd36f;
	--ion-color-success-rgb: 45, 211, 111;
	--ion-color-success-contrast: #ffffff;
	--ion-color-success-contrast-rgb: 255, 255, 255;
	--ion-color-success-shade: #28ba62;
	--ion-color-success-tint: #42d77d;

	/** warning **/
	--ion-color-warning: #ffc409;
	--ion-color-warning-rgb: 255, 196, 9;
	--ion-color-warning-contrast: #000000;
	--ion-color-warning-contrast-rgb: 0, 0, 0;
	--ion-color-warning-shade: #e0ac08;
	--ion-color-warning-tint: #ffca22;

	/** danger **/
	--ion-color-danger: #eb445a;
	--ion-color-danger-rgb: 235, 68, 90;
	--ion-color-danger-contrast: #ffffff;
	--ion-color-danger-contrast-rgb: 255, 255, 255;
	--ion-color-danger-shade: #cf3c4f;
	--ion-color-danger-tint: #ed576b;

	/** dark **/
	--ion-color-dark: #222428;
	--ion-color-dark-rgb: 34, 36, 40;
	--ion-color-dark-contrast: #ffffff;
	--ion-color-dark-contrast-rgb: 255, 255, 255;
	--ion-color-dark-shade: #1e2023;
	--ion-color-dark-tint: #383a3e;

	/** medium **/
	--ion-color-medium: #92949c;
	--ion-color-medium-rgb: 146, 148, 156;
	--ion-color-medium-contrast: #ffffff;
	--ion-color-medium-contrast-rgb: 255, 255, 255;
	--ion-color-medium-shade: #808289;
	--ion-color-medium-tint: #9d9fa6;

	/** medium dark **/
	--ion-color-medium-dark: #3d3b3b;
	--ion-color-medium-dark-rgb: 146, 148, 156;
	--ion-color-medium-dark-contrast: #ffffff;
	--ion-color-medium-dark-contrast-rgb: 255, 255, 255;
	--ion-color-medium-dark-shade: #808289;
	--ion-color-medium-dark-tint: #d7d8d9;
	--ion-color-medium-dark-select: #adc4db;

	/** light **/
	--ion-color-light: #f4f5f8;
	--ion-color-light-rgb: 244, 245, 248;
	--ion-color-light-contrast: #000000;
	--ion-color-light-contrast-rgb: 0, 0, 0;
	--ion-color-light-shade: #d7d8da;
	--ion-color-light-tint: #f5f6f9;
}

/* @media (prefers-color-scheme: dark) { */
	/*
   * Dark Colors
   * -------------------------------------------
   */

	body[theme = "dark"] {
		--ion-color-primary: #428cff;
		--ion-color-primary-rgb: 66, 140, 255;
		--ion-color-primary-contrast: #ffffff;
		--ion-color-primary-contrast-rgb: 255, 255, 255;
		--ion-color-primary-shade: #3a7be0;
		--ion-color-primary-tint: #5598ff;

		--ion-color-secondary: #50c8ff;
		--ion-color-secondary-rgb: 80, 200, 255;
		--ion-color-secondary-contrast: #ffffff;
		--ion-color-secondary-contrast-rgb: 255, 255, 255;
		--ion-color-secondary-shade: #46b0e0;
		--ion-color-secondary-tint: #62ceff;

		--ion-color-tertiary: #6a64ff;
		--ion-color-tertiary-rgb: 106, 100, 255;
		--ion-color-tertiary-contrast: #ffffff;
		--ion-color-tertiary-contrast-rgb: 255, 255, 255;
		--ion-color-tertiary-shade: #5d58e0;
		--ion-color-tertiary-tint: #7974ff;

		--ion-color-success: #2fdf75;
		--ion-color-success-rgb: 47, 223, 117;
		--ion-color-success-contrast: #000000;
		--ion-color-success-contrast-rgb: 0, 0, 0;
		--ion-color-success-shade: #29c467;
		--ion-color-success-tint: #44e283;

		--ion-color-warning: #ffd534;
		--ion-color-warning-rgb: 255, 213, 52;
		--ion-color-warning-contrast: #000000;
		--ion-color-warning-contrast-rgb: 0, 0, 0;
		--ion-color-warning-shade: #e0bb2e;
		--ion-color-warning-tint: #ffd948;

		--ion-color-danger: #ff4961;
		--ion-color-danger-rgb: 255, 73, 97;
		--ion-color-danger-contrast: #ffffff;
		--ion-color-danger-contrast-rgb: 255, 255, 255;
		--ion-color-danger-shade: #e04055;
		--ion-color-danger-tint: #ff5b71;

		--ion-color-dark: #f4f5f8;
		--ion-color-dark-rgb: 244, 245, 248;
		--ion-color-dark-contrast: #000000;
		--ion-color-dark-contrast-rgb: 0, 0, 0;
		--ion-color-dark-shade: #d7d8da;
		--ion-color-dark-tint: #f5f6f9;

		--ion-color-medium: #989aa2;
		--ion-color-medium-rgb: 152, 154, 162;
		--ion-color-medium-contrast: #000000;
		--ion-color-medium-contrast-rgb: 0, 0, 0;
		--ion-color-medium-shade: #86888f;
		--ion-color-medium-tint: #a2a4ab;

		--ion-color-medium-dark: #2a2a2a;
		--ion-color-medium-dark-rgb: 146, 148, 156;
		--ion-color-medium-dark-contrast: #ffffff;
		--ion-color-medium-dark-contrast-rgb: 255, 255, 255;
		--ion-color-medium-dark-shade: #808289;
		--ion-color-medium-dark-tint: #2e2f30;
		--ion-color-medium-dark-select: #334960;

		--ion-color-light: #222428;
		--ion-color-light-rgb: 34, 36, 40;
		--ion-color-light-contrast: #ffffff;
		--ion-color-light-contrast-rgb: 255, 255, 255;
		--ion-color-light-shade: #1e2023;
		--ion-color-light-tint: #383a3e;
	}

	/*
   * iOS Dark Theme
   * -------------------------------------------
   */

	.ios body[theme = "dark"] {
		--ion-background-color: #000000;
		--ion-background-color-rgb: 0, 0, 0;

		--ion-text-color: #ffffff;
		--ion-text-color-rgb: 255, 255, 255;

		--ion-color-step-50: #0d0d0d;
		--ion-color-step-100: #1a1a1a;
		--ion-color-step-150: #262626;
		--ion-color-step-200: #333333;
		--ion-color-step-250: #404040;
		--ion-color-step-300: #4d4d4d;
		--ion-color-step-350: #595959;
		--ion-color-step-400: #666666;
		--ion-color-step-450: #737373;
		--ion-color-step-500: #808080;
		--ion-color-step-550: #8c8c8c;
		--ion-color-step-600: #999999;
		--ion-color-step-650: #a6a6a6;
		--ion-color-step-700: #b3b3b3;
		--ion-color-step-750: #bfbfbf;
		--ion-color-step-800: #cccccc;
		--ion-color-step-850: #d9d9d9;
		--ion-color-step-900: #e6e6e6;
		--ion-color-step-950: #f2f2f2;

		--ion-item-background: #000000;

		--ion-card-background: #1c1c1d;
	}

	.ios ion-modal {
		--ion-background-color: var(--ion-color-step-100);
		--ion-toolbar-background: var(--ion-color-step-150);
		--ion-toolbar-border-color: var(--ion-color-step-250);
	}

	/*
   * Material Design Dark Theme
   * -------------------------------------------
   */

	.md body[theme = "dark"] {
		--ion-background-color: #121212;
		--ion-background-color-rgb: 18, 18, 18;

		--ion-text-color: #ffffff;
		--ion-text-color-rgb: 255, 255, 255;

		--ion-border-color: #222222;

		--ion-color-step-50: #1e1e1e;
		--ion-color-step-100: #2a2a2a;
		--ion-color-step-150: #363636;
		--ion-color-step-200: #414141;
		--ion-color-step-250: #4d4d4d;
		--ion-color-step-300: #595959;
		--ion-color-step-350: #656565;
		--ion-color-step-400: #717171;
		--ion-color-step-450: #7d7d7d;
		--ion-color-step-500: #898989;
		--ion-color-step-550: #949494;
		--ion-color-step-600: #a0a0a0;
		--ion-color-step-650: #acacac;
		--ion-color-step-700: #b8b8b8;
		--ion-color-step-750: #c4c4c4;
		--ion-color-step-800: #d0d0d0;
		--ion-color-step-850: #dbdbdb;
		--ion-color-step-900: #e7e7e7;
		--ion-color-step-950: #f3f3f3;

		--ion-item-background: #1e1e1e;

		--ion-toolbar-background: #1f1f1f;

		--ion-tab-bar-background: #1f1f1f;

		--ion-card-background: #1e1e1e;
	}
/* } */
