<template>
  <ion-content class="ion-padding">
    <ion-select 
        interface="popover" 
        v-model="formData.account"
        @ionChange="selectedAccountChanged(formData.account)"
        :disabled="disableSelectAccount"
        mode="ios">
  </ion-content>
</template>

<script>
import { IonContent } from '@ionic/vue';
import { defineComponent } from 'vue';

export default defineComponent({
  name: 'Popover',
  components: { IonContent }
});
</script>