<template>
  <ion-page>
    <ion-header v-if="isPageLoad">      
      <TopToolbar :title="translations.title" />
    </ion-header>
    <div class="wrapper">
      <div class="wave"></div>
    </div>
    <ion-content v-if="isPageLoad">
      <div id="dailyBudget">
        <h3>{{translations.subTitle1}}</h3>
        <svg
          version="1.1"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          x="0px"
          y="0px"
          style="display: none;"
        >
          <symbol id="wave">
            <path
              d="M420,20c21.5-0.4,38.8-2.5,51.1-4.5c13.4-2.2,26.5-5.2,27.3-5.4C514,6.5,518,4.7,528.5,2.7c7.1-1.3,17.9-2.8,31.5-2.7c0,0,0,0,0,0v20H420z"
            ></path>
            <path
              d="M420,20c-21.5-0.4-38.8-2.5-51.1-4.5c-13.4-2.2-26.5-5.2-27.3-5.4C326,6.5,322,4.7,311.5,2.7C304.3,1.4,293.6-0.1,280,0c0,0,0,0,0,0v20H420z"
            ></path>
            <path
              d="M140,20c21.5-0.4,38.8-2.5,51.1-4.5c13.4-2.2,26.5-5.2,27.3-5.4C234,6.5,238,4.7,248.5,2.7c7.1-1.3,17.9-2.8,31.5-2.7c0,0,0,0,0,0v20H140z"
            ></path>
            <path
              d="M140,20c-21.5-0.4-38.8-2.5-51.1-4.5c-13.4-2.2-26.5-5.2-27.3-5.4C46,6.5,42,4.7,31.5,2.7C24.3,1.4,13.6-0.1,0,0c0,0,0,0,0,0l0,20H140z"
            ></path>
          </symbol>
        </svg>

        <ion-card mode="ios" class="card-style-graph">
          <ion-card-content>
            <div class="budgetPeriod">
              <p>{{translations.today}}</p>
              <p>{{translations.week}}</p>
              <p>{{translations.month}}</p>
            </div>

            <div class="budgetLabel">{{translations.estimatedBudget}}</div>

            <div class="budget dailyBudget">
              <div class="budgetEstimated" id="budgetEstimated1">
                <span>{{ todaysBudget }}</span>
                <i :class="currencyIcon"></i>
              </div>
              <div class="box">
                <div class="percent">
                  <div class="percentNum" id="countDaily">0</div>
                  <div class="percentB" id="percentSignDaily">%</div>
                </div>
                <div id="waterDaily" class="water">
                  <svg viewBox="0 0 560 20" class="water_wave water_wave_back">
                    <use xlink:href="#wave"></use>
                  </svg>
                  <svg viewBox="0 0 560 20" class="water_wave water_wave_front">
                    <use xlink:href="#wave"></use>
                  </svg>
                </div>
              </div>
              <div class="spentBudget" id="spentBudget1">
                <span id="budgetAlreadySpentDaily">{{
                  budgetAlreadySpentToday
                }}</span>
                <i :class="currencyIcon"></i>
              </div>
            </div>

            <div class="budget weeklyBudget">
              <div class="budgetEstimated" id="budgetEstimated2">
                <span>{{ weeklyBudget }}</span>
                <i :class="currencyIcon"></i>
              </div>
              <div class="box">
                <div class="percent">
                  <div class="percentNum" id="countWeekly">0</div>
                  <div class="percentB" id="percentSignWeekly">%</div>
                </div>
                <div id="waterWeekly" class="water">
                  <svg viewBox="0 0 560 20" class="water_wave water_wave_back">
                    <use xlink:href="#wave"></use>
                  </svg>
                  <svg viewBox="0 0 560 20" class="water_wave water_wave_front">
                    <use xlink:href="#wave"></use>
                  </svg>
                </div>
              </div>
              <div class="spentBudget" id="spentBudget2">
                <span id="budgetAlreadySpentWeekly">{{
                  budgetAlreadySpentWeek
                }}</span>
                <i :class="currencyIcon"></i>
              </div>
            </div>

            <div class="budget monthlyBudget">
              <div class="budgetEstimated" id="budgetEstimated3">
                <span>{{ monthlyBudget }}</span>
                <i :class="currencyIcon"></i>
              </div>
              <div class="box">
                <div class="percent">
                  <div class="percentNum" id="countMonthly">0</div>
                  <div class="percentB" id="percentSignMonthly">%</div>
                </div>
                <div id="waterMonthly" class="water">
                  <svg viewBox="0 0 560 20" class="water_wave water_wave_back">
                    <use xlink:href="#wave"></use>
                  </svg>
                  <svg viewBox="0 0 560 20" class="water_wave water_wave_front">
                    <use xlink:href="#wave"></use>
                  </svg>
                </div>
              </div>
              <div class="spentBudget" id="spentBudget3">
                <span id="budgetAlreadySpentMonthly">{{
                  budgetAlreadySpentMonth
                }}</span>
                <i :class="currencyIcon"></i>
              </div>
            </div>
            <div class="budgetLabel">{{translations.spentBudget}}</div>
          </ion-card-content>
        </ion-card>
      </div>

      <div id="balance">
        <h3>{{ translations.subTitle2 }}</h3>
        <div :style="balanceStyle">
          <span style="marginRight:5px;">{{ balance }}</span>
          <i :class="currencyIcon" />
        </div>

        <ion-card mode="ios" class="card-style-csv">
          <ion-card-content>
            <ion-label :color="isError ? ' danger' : 'dark'"
              >{{ translations.chooseAccount }}
            </ion-label>
            <ion-label v-if="isError" color=" danger">
              {{ errorAccount }}</ion-label
            >
            <ion-select
              interface="popover"
              v-model="account"
              @ionChange="newAccount(account)"
            >
              <ion-select-option>{{
                translations.newAccount
              }}</ion-select-option>
              <ion-select-option
                v-for="a in listAccounts"
                :key="a.accountId"
                :value="a.name"
                >{{ a.name }}</ion-select-option
              >
            </ion-select>
            <ion-label>{{ translations.import }}</ion-label>
            <ion-item lines="none">
              <form enctype="multipart/form-data">
                <input type="file" @change="onFileChange" accept=".csv" />
              </form>

              <ion-buttons slot="end" >
                <ion-button  @click="addcsvHandler()" >
                  <font-awesome-icon
                    :icon="['fas', 'arrow-circle-right']"
                    :style="{ color: 'black' }"
                  />
                </ion-button>
              </ion-buttons>
            </ion-item>
          </ion-card-content>
        </ion-card>

        <ion-card class="card-style" mode="ios" router-link="/transactions">
          <ion-card-content>
            {{ translations.seeAllTransaction }}
            <font-awesome-icon
              :icon="['fas', 'arrow-circle-right']"
              id="iconAddTransaction"
            />
          </ion-card-content>
        </ion-card>

        <ion-card mode="ios" class="card-style" router-link="/transactions/new">
          <ion-card-content>
            {{ translations.newTransaction }}
            <font-awesome-icon
              :icon="['fas', 'arrow-circle-right']"
              id="iconAddTransaction"
            />
          </ion-card-content>
        </ion-card>
      </div>

      <div id="saving">
        <h3>{{ translations.subTitle3 }}</h3>

        <ion-card mode="ios" class="card-style-graph">
          <ion-card-content>
            <apexchart
              width="100%"
              height="180%"
              type="bar"
              :series="chartSeries"
              :options="chartOptions"
              v-if="isPageLoad"
            />
          </ion-card-content>
        </ion-card>
      </div>

      <div id="card-add" v-if="createAccount">
        <CreateAccount
          :accountTypes="accountTypes"
          v-on:dismiss-popup="onDismissPopupCreateAccount()"
          v-on:add-account="onCreateAccount($event)"
          :translations="a"
        />
      </div>
    </ion-content>
  </ion-page>
</template>

<script>
import {
  IonPage,
  IonContent,
  IonCard,
  IonCardContent,
  IonSelect,
  IonSelectOption,
  IonItem,
  IonLabel,
  IonButton,
  IonButtons,
  toastController,
  loadingController,
  IonHeader,
} from "@ionic/vue";
import { defineComponent } from "vue";
import CreateAccount from "@/components/FormPopupCustom/CreateAccount";
import VueApexCharts from "vue3-apexcharts";
import TopToolbar from "@/components/Navigation/TopToolbar.vue";

const httpService = require("../utils/services");
const Papa = require("papaparse");

export default defineComponent({
  name: "Home",
  components: {
    IonPage,
    IonContent,
    IonCard,
    IonCardContent,
    apexchart: VueApexCharts,
    IonSelect,
    IonSelectOption,
    IonItem,
    IonLabel,
    IonButton,
    IonButtons,
    CreateAccount,
    IonHeader,
    TopToolbar
  },

  async ionViewWillEnter() {
    await httpService
      .getByParams("/translation/addTransactionTranslation", {
        languageCode: localStorage.getItem("language"),
      })
      .then((response) => {
        this.a = response;
      })
      .catch((error) => console.log(error));

    await httpService
      .getByParams("/translation/monthsTranslation", {
        languageCode: localStorage.getItem("language"),
      })
      .then((res) => {
        this.shortMonths = [];
        for (const [key, value] of Object.entries(res)) {
          this.shortMonths[key] = value.substring(0, 3) + ".";
        }
      });
    await httpService.getAll("/account/all").then((res) => {
      this.listAccounts = res;
    });
    await httpService.getAll("/accountTypes/all").then((res) => {
      this.accountTypes = res;
    });

    await httpService.get("/currency/byUser").then((res) => {
      this.currencyIcon = res.icon;
    });

    await this.getUserBalance();

    await this.getDailyBudget();

    await this.getWeeklyBudget();

    await this.getMonthlyBudget();

    await httpService
      .getByParams("/translation/homepageTranslation/", {
        languageCode: localStorage.getItem("language"),
      })
      .then((response) => {
        this.translations = response;
      })
      .catch((error) => console.log(error));

    await httpService.get("/transactions/getRecentSavings").then((res) => {
      this.chartLabels = [];
      this.chartInputValues = [];
      this.chartOutputValues = [];
      for (const [month, map] of Object.entries(res)) {
        let monthNumber = parseInt(month.split("-")[1]);
        this.chartLabels.push(this.shortMonths[monthNumber]);
        this.chartInputValues.push(map.INPUT);
        this.chartOutputValues.push(Math.abs(map.OUTPUT));
      }

      let series = [
        {
          name: this.translations.incomes,
          data: this.chartInputValues,
          type: "bar",
        },
        {
          name: this.translations.expenses,
          data: this.chartOutputValues,
          type: "bar",
        },
      ];

      let options = {
        chart: {
          height: "100%",
        },

        stroke: {
          width: [0, 8],
        },

        title: {
          text: this.translations.graphTitle,
        },

        yaxis: [
          {
            title: {
              text: this.translations.amount,
            },
          },
        ],

        legend: {
          position: "top",
        },

        labels: this.chartLabels,
      };

      this.chartSeries = series;
      this.chartOptions = options;
    });

    this.isPageLoad = true;
    setTimeout(() => {
      this.updateDailyBudgetAnimation(
        this.todaysBudget,
        this.budgetAlreadySpentToday,
        "countDaily",
        "waterDaily",
        "percentSignDaily",
        "budgetAlreadySpentDaily"
      );
      this.updateDailyBudgetAnimation(
        this.weeklyBudget,
        this.budgetAlreadySpentWeek,
        "countWeekly",
        "waterWeekly",
        "percentSignWeekly",
        "budgetAlreadySpentWeekly"
      );
      this.updateDailyBudgetAnimation(
        this.monthlyBudget,
        this.budgetAlreadySpentMonth,
        "countMonthly",
        "waterMonthly",
        "percentSignMonthly",
        "budgetAlreadySpentMonthly"
      );
    }, 120);
  },

  data() {
    return {
      a: {
        titlePopupAddAccount: "rien",
        add: "add",
      },
      createAccount: false,
      file: "",
      isError: false,
      errorAccount: "Account empty",
      account: "",
      listAccounts: [],
      accountTypes: null,
      accounts: null,
      currencyIcon: null,
      balance: null,
      balanceStyle: null,
      todaysBudget: null,
      budgetAlreadySpentToday: null,
      weeklyBudget: null,
      budgetAlreadySpentWeek: null,
      monthlyBudget: null,
      budgetAlreadySpentMonth: null,
      chartData: null,
      isPageLoad: false,
      translations: null,
      shortMonths: null,
      chartLabels: null,
      chartInputValues: null,
      chartOutputValues: null,
      chartSeries: null,
      chartOptions: null,
    };
  },

  methods: {
    newAccount(account) {
      if (account == this.translations.newAccount) {
        this.createAccount = true;
      }
    },
    onDismissPopupCreateAccount() {
      this.createAccount = false;
      this.account = null;
    },
    onCreateAccount(event) {
      this.listAccounts.push(event);
      this.account = event.accountId;
      this.createAccount = false;
    },
    onFileChange(e) {    
      var files = e.target.files || e.dataTransfer.files;
      if (!files.length) return;
      this.file = files[0];
      console.log(this.file.name);
       if(this.file.name.split('.').pop() != 'csv'){
          const openToast = async () => {
              const toast = await toastController.create({
                message: this.translations.emptyField,
                duration: 6000,
                color: "danger",
                position: "top",
              });
              return toast.present();
            };
            openToast();
            this.file ="";
           }


    },
    async addcsvHandler() {
      let selfAccount = this.account;
      let translations = this.translations.transactionRecorded;
      let allTranslations = this.translations;
      let self = this;
      Papa.parse(this.file, {
        complete: function(results) {
          const openToast = async () => {
            const toast = await toastController.create({
              message: allTranslations.emptyField,
              duration: 5000,
              color: "danger",
              position: "top",
            });
            return toast.present();
          };

          const openLoader = async () => {
            const loading = await loadingController.create({
              message: "Please wait...",
            });

            return loading.present();
          };

          const dismissLoader = async () => {
            await loadingController.dismiss();
          };

          if (selfAccount.length == 0) {
            this.isError = true;
            openToast();
            return;
          } else {
            this.isError = false;
            this.errorAccount = "";
          }

          if (results.data.length == 0) {
            openToast();
            return;
          }
          openLoader();
          httpService
            .create("/transactions/addCSV", {
              listTransaction: results.data,
              account: selfAccount,
            })
            .then(() => {
              this.account = "";
              self.getUserBalance();
              dismissLoader();
              const openToast = async () => {
                const toast = await toastController.create({
                  message: translations,
                  duration: 6000,
                  color: "success",
                  position: "top",
                });
                return toast.present();
              };

              openToast();
            })
            .catch((error) => {
              dismissLoader();
              const openToast = async () => {
                const toast = await toastController.create({
                  message: error,
                  duration: 6000,
                  color: "danger",
                  position: "top",
                });
                return toast.present();
              };

              openToast();
            });
        },
      });
    },
  
    async getDailyBudget() {
      await httpService.get("/transactions/dailyBudget").then((res) => {
        this.todaysBudget = res.budgetToSpend;
        this.budgetAlreadySpentToday = res.budgetAlreadySpent;
      });
    },

    async getWeeklyBudget() {
      await httpService.get("/transactions/weeklyBudget").then((res) => {
        this.weeklyBudget = res.budgetToSpend;
        this.budgetAlreadySpentWeek = res.budgetAlreadySpent;
      });
    },

    async getMonthlyBudget() {
      await httpService.get("/transactions/monthlyBudget").then((res) => {
        this.monthlyBudget = res.budgetToSpend;
        this.budgetAlreadySpentMonth = res.budgetAlreadySpent;
      });
    },


    // Updates the budget animation with the wave
    async updateDailyBudgetAnimation(
      budgetEstimatedVal,
      budgetAlreadySpentVal,
      count,
      water,
      percentSign,
      budgetAlreadySpent
    ) {
      budgetEstimatedVal = budgetEstimatedVal
        .split(".")
        .join("")
        .replaceAll(",", ".");
      budgetAlreadySpentVal = budgetAlreadySpentVal
        .split(".")
        .join("")
        .replaceAll(",", ".");
      let percentageSpent = 0
      if (budgetAlreadySpentVal > 0) {
        percentageSpent = Math.round(
          (parseFloat(budgetAlreadySpentVal) / parseFloat(budgetEstimatedVal)) *100
        );
      }
      var cnt = document.getElementById(count);
      water = document.getElementById(water);
      percentSign = document.getElementById(percentSign);
      budgetAlreadySpent = document.getElementById(budgetAlreadySpent);
      var percent = 0;
      var interval;
      interval = setInterval(() => {
        cnt.innerHTML = percent;
        if (percent <= 100) {
          water.style.transform = "translate(0" + "," + (100 - percent) + "%)";
          cnt.style.color = "white";
          percentSign.style.color = "white";
          budgetAlreadySpent.style.color = "black";
        } else {
          cnt.style.color = "red";
          percentSign.style.color = "red";
          budgetAlreadySpent.style.color = "red";
        }
        if (percent <= percentageSpent) {
          clearInterval(interval);
        }
        percent++;
      }, 90);
    },

    // Gets the user's balance
    async getUserBalance() {
      await httpService.get("/transactions/userBalance").then((res) => {
        this.balance = res.balance;
        this.balanceStyle = "font-size:18pt; margin-left:15px;";
        let tempAmount = this.balance.split(".").join("");
        tempAmount = parseFloat(tempAmount.replaceAll(",", "."));
        if (tempAmount > 0) this.balanceStyle += "color:green";
        else this.balanceStyle += "color:red";
      });
    },
  },
});
</script>

<style scoped>
#title {
  z-index: 9999;
  color: white;
  font-size: 30pt;
  margin: 40px 0 0 30px;
  font-family: Arial, Helvetica, sans-serif;
}

ion-content {
  --offset-top: -10% !important;
}

#balance {
  width: 100%;
}

#balance ion-card {
  width: 45%;
  display: inline-block;
  margin: 5% 0 0 10px;
}

#balance ion-card ion-card-content {
  font-size: 12pt;
}

.card-style {
  width: 40% !important;
  margin-left: +5% !important;
  margin-right: +5% !important;
}

.card-style-csv {
  width: 90% !important;
  margin-left: +5% !important;
}

.card-style-graph {
  height: 300px;
  width: 90% !important;
  margin-left: +5% !important;
}

#card-add {
  transform: translateY(-140%);
}

.dailyBudget .box {
  left: 15%;
}

.weeklyBudget .box {
  left: 50%;
}

.monthlyBudget .box {
  left: 85%;
}

.budget {
  display: inline-block;
  margin-left: 5%;
  margin-right: 2%;
}

.budgetPeriod {
  transform: translate(-20px, -20px);
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.2);
  width: 115%;
  height: 30px;
}

.budgetPeriod p {
  margin-right: 5%;
  margin-left: 2%;
  font-size: 14pt;
  font-weight: bold;
  color: #bebaba;
  font-weight: bold;
  display: inline-block;
}

@media (max-width: 380px) {
  .budgetPeriod p {
    font-size: 12pt;
  }
}

.budget span {
  font-size: 12pt;
  font-weight: bold;
  text-align: center;
}

.budget .budgetEstimated {
  transform: translateY(-15px);
}

.budget .spentBudget {
  margin-top: 130px;
  transform: translateY(-15px);
}

.budget #budgetEstimated1 {
  margin-left: -20%;
}

@media (max-width: 380px) {
  .budget #budgetEstimated1 {
    margin-left: -30%;
  }
}

.budget #budgetEstimated2 {
  margin-left: 35%;
  width: 90px;
}

@media (max-width: 380px) {
  .budget #budgetEstimated2 {
    margin-left: 0;
  }
}

.budget #budgetEstimated3 {
  margin-left: 55%;
  width: 90px;
}

@media (max-width: 380px) {
  .budget #budgetEstimated3 {
    margin-left: 0;
  }
}

.budget #spentBudget1 {
  margin-left: -20%;
}

@media (max-width: 380px) {
  .budget #spentBudget1 {
    margin-left: -40%;
  }
}

.budget #spentBudget2 {
  margin-left: 35%;
  width: 90px;
}

@media (max-width: 380px) {
  .budget #spentBudget2 {
    margin-left: 20%;
  }
}

#spentBudget3 {
  margin-left: 55%;
  width: 90px;
}

@media (max-width: 380px) {
  .budget #spentBudget3 {
    margin-left: 0;
  }
}

.budgetLabel {
  width: 115%;
  margin-top: 10px;
  font-size: 14pt;
  text-align: center;
  transform: translate(-20px, -22px);
}

@media (max-width: 380px) {
  .monthlyBudget {
    transform: translate(200px, -175px);
  }
}

@media (max-width: 380px) {
  .monthlyBudget .box {
    transform: translate(-90px, -40px);
  }
}
</style>
