<template>
  <ion-page>
    <ion-header>      
      <TopToolbar title="Life projects" />
    </ion-header>

    <ion-content>
      <transition name="slide-fade">
        <div hidden id="card-add-projet">
          <Popover
            :translations="this.translations"
            :images="this.images"
            v-on:dismiss-popup="onDismissPopup()"
          />
        </div>
      </transition>

      <div id="container" v-if="projects.length <= 0 && isPageLoad">
        <ion-text>{{ translations.noProject }}</ion-text>
      </div>
      <ion-item lines="none">
        <ion-title class="title">{{ translations.myProjects }}</ion-title>
        <ion-buttons slot="end">
          <ion-button @click="openPopOver(null)">
            <font-awesome-icon
              slot="icon-only"
              :icon="['fas', 'plus']"
              size="2x"
            />
          </ion-button>
        </ion-buttons>
      </ion-item>
      <div v-if="!isPageLoad" isPageLoadclass="ion-padding custom-skeleton">
        <ion-card class="card-loader">
          <ion-skeleton-text
            animated
            style="width: 90%; height: 30%; margin-left: 5%"
          ></ion-skeleton-text>
          <ion-skeleton-text
            animated
            style="width: 50%; height: 15%; margin-left: 5%"
          ></ion-skeleton-text>
          <ion-skeleton-text
            animated
            style="width: 50%; height: 15%; margin-left: 5%"
          ></ion-skeleton-text>
          <ion-skeleton-text
            animated
            style="width: 90%; height: 20%; margin-left: 5%"
          ></ion-skeleton-text>
        </ion-card>
      </div>
      <ion-card
        class="card-style"
        v-for="(project, index) in projects"
        :key="index"
        @click="showProjectDetails(project)"
      >
        <div class="image-style">
          <img class="image-style" :src="imagesUrl + project.image" />
        </div>

        <ion-progress-bar
          color="success"
          class="loader"
          :value="
            getPourcentage(project.obtainedBudget, project.requiredBudget)
          "
        >
        </ion-progress-bar>

        <div class="project">
          <div class="project-title">{{ project.name }}</div>
          <div class="project-budget">
            <i :class="currencyIcon" />{{ project.obtainedBudget }}
            <p class="style-budget-text">
              <i :class="currencyIcon" />
              {{
                calculateLeftBudget(
                  project.obtainedBudget,
                  project.requiredBudget
                ) + " "
              }}
              {{ translations.remaining + "(" }} <i :class="currencyIcon" />
              {{ project.requiredBudget + ")" }}
            </p>
          </div>
        </div>
      </ion-card>
    </ion-content>
  </ion-page>
</template>

<script>
import {
  IonContent,
  IonPage,
  IonCard,
  IonItem,
  IonTitle,
  IonProgressBar,
  IonButton,
  IonButtons,
  /*popoverController,*/
  IonSkeletonText,
  IonText,
  // toastController,
  IonHeader,
} from "@ionic/vue";

import { defineComponent } from "vue";
import { useRouter } from "vue-router";
import Popover from "./PopOver";
const httpService = require("../../utils/services");
require("dotenv").config();
import ToastDisplay from "@/mixins/ToastDisplay.vue";
import TopToolbar from "@/components/Navigation/TopToolbar.vue";

export default defineComponent({
  name: "Lifeprojects",
  components: {
    IonContent,
    IonPage,
    IonCard,
    IonItem,
    IonTitle,
    IonProgressBar,
    IonButton,
    IonButtons,
    IonSkeletonText,
    IonText,
    IonHeader,
    TopToolbar,
    Popover,
  },
  mixins: [ToastDisplay],

  ionViewWillEnter() {
    httpService
      .getByParams("/project/")
      .then((response) => {
        this.projects = response;
        httpService
          .getByParams("/translation/projectTranslation", {
            languageCode: localStorage.getItem("language"),
          })
          .then((res) => {
            this.translations = res;
          })
          .catch((error) => {
            this.queueErrorToast(error.response.data.error);
            /* const openToast = async () => {
              const toast = await toastController.create({
                message: error.response.data.error,
                duration: 6000,
                color: "danger",
                position: "top",
              });
              return toast.present();
            };

            openToast(); */
          });
        httpService.get("/currency/byUser").then((res) => {
          this.currencyIcon = res.icon;
        });
        this.isPageLoad = true;
      })
      .catch((error) => {
        this.queueErrorToast(error.response.data.error);
        /* const openToast = async () => {
          const toast = await toastController.create({
            message: error.response.data.error,
            duration: 6000,
            color: "danger",
            position: "top",
          });
          return toast.present();
        };

        openToast();*/
      });
  },
  setup() {
    const router = useRouter();

    return { router };
  },

  data() {
    return {
      currencyIcon: "",
      imagesUrl: process.env.VUE_APP_IMAGES_URL,
      projects: [],
      images: [],
      preLoadImages: [],
      isPageLoad: false,
      translations: [],
    };
  },
  methods: {
    calculateLeftBudget(obtainedBudget, requiredBudget) {
      let budget = requiredBudget - obtainedBudget;
      if (budget < 0) {
        return 0;
      }
      return budget;
    },
    getPourcentage(obtainedBudget, requiredBudget) {
      return obtainedBudget / requiredBudget;
    },
    showProjectDetails(project) {
      this.router.push("/projectDetails/" + project.projectID);
    },

    openPopOver() {
      httpService
        .getAll("/images/")
        .then((response) => {
          this.images = response;
          console.log("test");
        })
        .catch((error) => {
          this.queueErrorToast(error.response.data.error);
          /* const openToast = async () => {
            const toast = await toastController.create({
              message: error.response.data.error,
              duration: 6000,
              color: "danger",
              position: "top",
            });
            return toast.present();
          };

          openToast();*/
        });
      console.log(this.images);
      document.getElementById("card-add-projet").hidden =
        !document.getElementById("card-add-projet").hidden;
    },

    onDismissPopup() {
      document.getElementById("card-add-projet").hidden =
        !document.getElementById("card-add-projet").hidden;
    },
    /* async openPopOver() {
      await httpService
        .getAll("/images/")
        .then((response) => {
          this.images = response;
        })
        .catch((error) => {
          const openToast = async () => {
            const toast = await toastController.create({
              message: error.response.data.error,
              duration: 6000,
              color: "danger",
              position: "top",
            });
            return toast.present();
          };

          openToast();
        });

      const popover = await popoverController.create({
        component: Popover,
        cssClass: "popOver-style",
        translucent: true,
        componentProps: {
          images: this.images,
          id: -1,
          translations: this.translations,
        },
      });
      window.popoverController = popoverController;
      return popover.present();
    }, */
  },
});
</script>

<style scoped>
#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

ion-item {
  margin-top: +20px;
  padding: 5px;
  padding-bottom: 15px;
}

.background-image {
  height: 100%;
}
.card-style {
  padding: 0;
  margin-top: 2;
  height: 200px;
  display: inline-block;
  border-radius: 20px;
  box-shadow: -3px 11px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -3px 11px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -3px 11px 5px 0px rgba(0, 0, 0, 0.75);
}
.image-style {
  background-size: 100%;
  height: 100%;
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
  background-repeat: no-repeat !important;
  background-size: cover !important;
  opacity: 0.9;
}

.project-title {
  font-size: 35px;
  margin-left: +7%;
  margin-top: +10%;
  color: #ffffff;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  text-shadow: 0 1px 0 black;
  display: inline-block;
}
.project-budget {
  padding-top: 2px;
  font-size: 40px;
  margin-left: +5%;
  margin-top: +5%;
  color: #ffffff;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  text-shadow: 0 1px 0 black;
}
.loader {
  background: #f3f3f3 !important;
  border-radius: 100px;
  height: 15%;
  opacity: 1;
  transform: translateY(-120%);
  width: 90%;
  margin-left: 5%;
}
.card-loader {
  margin-top: 2;
  height: 200px;
  border-radius: 20px;
}

.title {
  font-family: "Roboto", Helvetica, Arial;
  font-size: 30px;
  padding: 0;
  font-weight: bold;
}

.project {
  transform: translateY(-150%);
  margin-top: 0;
}

.popOver-style {
  --width: 150vh !important;
  --max-width: 150vh !important;
}

.style-budget-text {
  font-family: "Roboto", Helvetica, Arial;
  font-size: 20px;
  padding: 0;
  font-weight: bold;
  margin: 0;
}
</style>
