<template>
  <form @submit.prevent="addProjectHandler" id="createProjetform">
    <BasePopupForm
      :title="translations.addProject"
      :submitLabel="translations.addProject"
      :handleDismiss="true"
      @dismiss="handleDismiss"
    >
      <template #content>
        <BaseInput
          name="name"
          v-model="formData.name"
          :inputLabel="translations.name"
          :errorMessage="errors.nameError"
        />

        <BaseInput
          name="budget"
          v-model="formData.requiredBudget"
          inputType="number"
          onkeyup="if(this.value<0 ){this.value= this.value * -1}"
          :inputLabel="translations.budgetRequired"
          :errorMessage="errors.requiredBudgetError"
        />

        <BaseDatePicker
          name="recurringDateLimit"
          v-model="formData.endDate"
          :label="translations.deadline"
          :cancelText="translations.cancel"
          :doneText="translations.add"
          :errorMessage="errors.dateError"
        />

        <div style="title-style">
          {{ translations.chooseImage }}
        </div>
        <div
          :class="
            currentIndex === index ? 'avatar-style-selected' : 'avatar-style'
          "
          v-for="(image, index) in images"
          :key="index"
          @click="selectImage(index, image)"
        >
          <ion-avatar>
            <img :src="imagesUrl + image" />
          </ion-avatar>
        </div>
        <span class="error-style">{{ errors.imageError }}</span>
      </template>
    </BasePopupForm>
  </form>
</template>

<script>
require("dotenv").config();

/*import { toastController } from "@ionic/vue"; */

import { defineComponent } from "vue";
const httpService = require("../../utils/services");
require("dotenv").config();
import { useRouter } from "vue-router";
import BasePopupForm from "@/components/Form/BasePopupForm.vue";
import BaseInput from "@/components/Form/BaseInput.vue";
import BaseDatePicker from "@/components/Form/BaseDatePicker.vue";
import ToastDisplay from "@/mixins/ToastDisplay.vue";

export default defineComponent({
  name: "Popover",
  components: {
    BasePopupForm,
    BaseInput,
    BaseDatePicker,
  },
  mixins: [ToastDisplay],
  props: {
    translations: {
      required: true,
      type: Object,
    },
    images: {
      required: true,
    },
  },

  setup() {
    const router = useRouter();
    return { router };
  },

  data() {
    return {
      currentIndex: -1,
      /*  images: this.$attrs.images,*/
      id: this.$attrs.id,
      /*translations: this.$attrs.translations,*/
      imagesUrl: process.env.VUE_APP_IMAGES_URL,
      formData: {
        name: "",
        requiredBudget: "",
        endDate: "",
        image: "",
        parentProject: -1,
      },
      errors: {
        nameError: "",
        requiredBudgetError: "",
        dateError: "",
        imageError: "",
      },
    };
  },

  methods: {
    addProjectHandler() {
      if (this.id != null) this.formData.parentProject = this.id;
      let isFormNotValid = false;

      let execDate = this.formData.endDate.split("T")[0];

      console.log(execDate);
      this.formData.endDate = execDate;
      console.log(this.formData.endDate);

      if (!this.formData.name) {
        console.log("1");
        this.errors.nameError = this.translations.nameError;
        isFormNotValid = true;
      } else this.errors.nameError = "";

      if (!this.formData.requiredBudget) {
        console.log("2");
        this.errors.requiredBudgetError = this.translations.BudgetRequiredError;
        isFormNotValid = true;
      }
      if (this.formData.requiredBudget <= 0) {
        console.log("2");
        this.errors.requiredBudgetError = this.translations.BudgetRequiredError;
        isFormNotValid = true;
      } else this.errors.requiredBudgetError = "";
      if (!this.formData.endDate) {
        console.log("3");
        this.errors.dateError = this.translations.deadlineErrorRequired;
        isFormNotValid = true;
      } else this.errors.dateErrorr = "";

      if (this.currentIndex == -1) {
        console.log("4");
        this.errors.imageError = this.translations.imageRequired;
        isFormNotValid = true;
      } else this.errors.imageError = "";

      if (isFormNotValid) {
        console.log("5");
        return;
      }

      console.log("test51515");

      httpService
        .create("/project/", this.formData)
        .then((response) => {
          this.router.push("/projectDetails/" + response.projectID).then(() => {
            window.location.reload();
          });
        })
        .catch((error) => {
          this.queueErrorToast(error.response.data.error);
          /*  const openToast = async () => {
            const toast = await toastController.create({
              message: error.response.data.error,
              duration: 6000,
              color: "danger",
              position: "top",
            });
            return toast.present();
          };

          openToast();*/
        });
    },
    selectImage(index, image) {
      this.formData.image = image;
      this.currentIndex = index;
    },

    clearform() {
      this.formData.name = null;
      this.formData.requiredBudget = null;
      this.formData.endDate = null;
      this.formData.image = null;

      Object.keys(this.errors).forEach((key) => {
        this.errors[key] = "";
      });
    },
    handleDismiss() {
      this.$emit("dismiss-popup");
      this.clearform();
    },
  },
});
</script>
<style scoped>
.add-padding {
  padding-left: +7px;
  width: 100% !important;
}

.card-default {
  border-radius: 20px;
  box-shadow: -3px 11px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -3px 11px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -3px 11px 5px 0px rgba(0, 0, 0, 0.75);
}
.padding-item {
  margin-top: 0;
  padding-top: 0;
}
.avatar-style {
  margin-left: +5px;
  margin-top: 10px;
  display: inline-block;
  width: 30%;
}
.avatar-style-selected {
  padding: 5px;
  margin-top: 10px;
  display: inline-block;
  width: 30%;
  background-color: transparent;
  background: transparent;
  border-radius: 100px;
  box-shadow: -3px 11px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -3px 11px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -3px 11px 5px 0px rgba(0, 0, 0, 0.75);
}
.title-default {
  padding: 10px !important;
  margin-top: +10px;
}

.error-style {
  font-size: 13px !important;
  font-style: italic;
  color: crimson;
  float: left;
  margin-left: +10%;
}

.item.item-input {
  border: none;
  margin-left: +5%;
  width: 90%;
}
.title-style {
  left: 0;
}
</style>

