<template>
  <ion-page>
    <ion-fab slot="end" horizontal="end" style="padding-top: 10px">
      <ion-fab-button color="light">
        <font-awesome-icon :icon="['fas', 'ellipsis-h']" size="lg" />
      </ion-fab-button>
      <ion-fab-list>
        <ion-fab-button color="light" @click="deleteHandler()">
          <font-awesome-icon
            :icon="['fas', 'trash-alt']"
            size="lg"
            :style="{ color: 'red' }"
          />
        </ion-fab-button>
        <ion-fab-button color="light " @click="openUpdatePopOver()">
          <font-awesome-icon
            :icon="['fas', 'edit']"
            size="lg"
            :style="{ color: 'blue' }"
          />
        </ion-fab-button>
      </ion-fab-list>
    </ion-fab>

    <ion-content>
      <!--   <transition name="slide-fade">
        <div hidden id="card-update-projet">
          <UpdatePopover
            :translations="this.translations"
            :images="this.images"
            :project="this.project"
            :id="this.id"
            v-on:dismiss-popup="onDismissPopupUpdate()"
          />
        </div>
      </transition> !-->

      <transition name="slide-fade">
        <div hidden id="card-add-projet">
          <Popover
            :translations="this.translations"
            :images="this.images"
            :id="this.id"
            v-on:dismiss-popup="onDismissPopup()"
          />
        </div>
      </transition>

      <div v-if="!isPageLoad" isPageLoadclass="ion-padding custom-skeleton">
        <ion-card class="card-loader">
          <ion-skeleton-text
            animated
            style="width: 90%; height: 30%; margin-left: 5%"
          ></ion-skeleton-text>
          <ion-skeleton-text
            animated
            style="width: 50%; height: 15%; margin-left: 5%"
          ></ion-skeleton-text>
          <ion-skeleton-text
            animated
            style="width: 50%; height: 15%; margin-left: 5%"
          ></ion-skeleton-text>
          <ion-skeleton-text
            animated
            style="width: 90%; height: 20%; margin-left: 5%"
          ></ion-skeleton-text>
        </ion-card>
      </div>

      <div v-if="isPageLoad">
        <ion-card class="card-style">
          <div class="image-style">
            <img class="image-style" :src="imagesUrl + project.image" />
          </div>
          <ion-chip
            color="danger"
            style="
              float: right;
              transform: translateY(-900%);
              margin-right: +70px;
            "
            v-if="doBudgetSum() > project.requiredBudget"
          >
            <ion-label>{{ translations.inconsistentBudget }}</ion-label>
          </ion-chip>
          <div class="project">
            <ion-buttons>
              <ion-button @click="goback()">
                <font-awesome-icon
                  :icon="['fas', 'arrow-left']"
                  size="lg"
                  :style="{ color: 'white' }"
                />
              </ion-button>
            </ion-buttons>
          </div>
          <div class="list-style">
            <ion-badge class="badge" color="medium"> {{ " " }}</ion-badge>
            <div class="project-text">
              <i :class="currencyIcon" /> {{ project.obtainedBudget }}
              <p class="style-budget-text">
                <i :class="currencyIcon" />
                {{
                  calculateLeftBudget(
                    project.obtainedBudget,
                    project.requiredBudget
                  ) + " "
                }}
                {{ translations.remaining + "(" }} <i :class="currencyIcon" />
                {{ project.requiredBudget + ")" }}
              </p>
            </div>
          </div>
        </ion-card>
        <ion-card class="card-details">
          <ion-card-header>
            <ion-card-title>{{ project.name }}</ion-card-title>
          </ion-card-header>
          <ion-card-content style="padding: 0">
            <ion-item lines="none">
              <ion-avatar class="avatar" slot="start">
                <font-awesome-icon
                  :icon="['fas', 'clock']"
                  size="2x"
                  :style="{ color: '#002CFF' }"
                />
              </ion-avatar>
              {{ project.startDate }} - {{ project.endDate }}
            </ion-item>
            <ion-item lines="none">
              <ion-avatar class="avatar" slot="start">
                <font-awesome-icon
                  :icon="['fas', 'coins']"
                  size="2x"
                  :style="{ color: '#002CFF' }"
                />
              </ion-avatar>
              <i :class="currencyIcon" />
              {{
                calculateLeftBudget(
                  project.obtainedBudget,
                  project.requiredBudget
                ) + " "
              }}
              {{ translations.remaining + "(" }} <i :class="currencyIcon" />
              {{ project.requiredBudget + " )" }}
            </ion-item>
          </ion-card-content>
        </ion-card>
      </div>
      <ion-item lines="none">
        <ion-title class="title">{{ translations.subProject }}</ion-title>
        <ion-buttons slot="end">
          <ion-button @click="openPopOver(id)">
            <font-awesome-icon
              slot="icon-only"
              :icon="['fas', 'plus']"
              size="2x"
            />
          </ion-button>
        </ion-buttons>
      </ion-item>

      <div v-if="isPageLoad">
        <ion-card
          class="sub-card-style"
          v-for="(p, index) in projects"
          :key="index"
          @click="showProjectDetails(p)"
        >
          <div class="image-style">
            <img class="image-style" :src="imagesUrl + p.image" />
          </div>
          <ion-progress-bar
            color="success"
            class="loader"
            :value="getPourcentage(p.obtainedBudget, p.requiredBudget)"
          >
          </ion-progress-bar>
          <div class="subProject">
            <div class="subProject-title">{{ p.name }}</div>
            <div class="subProject-budget">
              <i :class="currencyIcon" />{{ p.obtainedBudget }}
            </div>
          </div>
        </ion-card>
      </div>

      <div v-if="!isPageLoad" isPageLoadclass="ion-padding custom-skeleton">
        <ion-card class="subcard-loader">
          <ion-skeleton-text
            animated
            style="width: 40%; height: 10%; margin-left: 5%"
          ></ion-skeleton-text>
          <ion-skeleton-text
            animated
            style="width: 30%; height: 10%; margin-left: 5%"
          ></ion-skeleton-text>
          <ion-skeleton-text
            animated
            style="width: 90%; height: 20%; margin-left: 5%"
          ></ion-skeleton-text>
        </ion-card>
      </div>

      <div id="container" v-if="projects.length <= 0 && isPageLoad">
        <ion-text>{{ translations.noSubProject }}</ion-text>
      </div>
    </ion-content>
  </ion-page>
</template>

<script>
import {
  IonContent,
  IonPage,
  popoverController,
  IonButton,
  IonButtons,
  IonCard,
  IonItem,
  IonProgressBar,
  IonTitle,
  IonSkeletonText,
  IonText,
  IonFab,
  IonFabButton,
  IonFabList,
  IonLabel,
  IonChip,
  toastController,
  IonBadge,
  IonCardHeader,
  IonCardTitle,
  IonCardContent,
  IonAvatar,
} from "@ionic/vue";
import { defineComponent } from "vue";
import Swal from "sweetalert2";
const httpService = require("../../utils/services");
require("dotenv").config();
import Popover from "./PopOver";
import updatePopover from "./UpdatePopOver";
import ToastDisplay from "@/mixins/ToastDisplay.vue";

export default defineComponent({
  name: "ProjetDetails",
  components: {
    IonContent,
    IonPage,
    IonButton,
    IonButtons,
    IonCard,
    IonItem,
    IonProgressBar,
    IonTitle,
    IonSkeletonText,
    IonText,
    IonFab,
    IonFabButton,
    IonFabList,
    IonLabel,
    IonChip,
    IonBadge,
    IonCardHeader,
    IonCardTitle,
    IonCardContent,
    IonAvatar,
    Popover,
  },
  mixins: [ToastDisplay],
  ionViewWillEnter() {
    this.id = this.$route.params.id;

    httpService.get("/currency/byUser").then((res) => {
      this.currencyIcon = res.icon;
    });
    httpService
      .getByParams("/project/" + this.id, localStorage.getItem("token"))
      .then((response) => {
        this.projects = response.projects;
        this.project = response.currentProject;
        this.p = response.p;

        httpService
          .getByParams("/translation/projectTranslation", {
            languageCode: localStorage.getItem("language"),
          })
          .then((res) => {
            this.translations = res;
          })
          .catch((error) => {
            this.queueErrorToast(error.response.data.error);
            /*  const openToast = async () => {
              const toast = await toastController.create({
                message: error.response.data.error,
                duration: 6000,
                color: "danger",
                position: "top",
              });
              return toast.present();
            };
            openToast(); */
          });

        this.isPageLoad = true;
      })
      .catch((error) => {
        this.queueErrorToast(error.response.data.error);
        /*   const openToast = async () => {
          const toast = await toastController.create({
            message: error.response.data.error,
            duration: 6000,
            color: "danger",
            position: "top",
          });
          return toast.present();
        };
        openToast(); */
      });
  },
  methods: {
    calculateLeftBudget(obtainedBudget, requiredBudget) {
      let budget = requiredBudget - obtainedBudget;
      if (budget < 0) {
        return 0;
      }
      return budget;
    },
    goback() {
      if (this.p == 0) {
        this.$router.push("/lifeprojects");
      } else {
        this.$router.push({ path: "/projectDetails/" + this.p }).then(() => {
          window.location.reload();
        });
      }
    },
    async deleteHandler() {
      await Swal.fire({
        icon: "error",
        html: "<p>" + this.translations.deleteProject + "</p> ",
        confirmButtonText: this.translations.delete,
        showCancelButton: true,
        cancelButtonText: this.translations.cancel,
        reverseButtons: true,
        focusConfirm: false,
        confirmButtonColor: "red",
        showLoaderOnConfirm: true,
        preConfirm: (name) => {
          httpService
            .handleDelete("/project/" + this.id)
            .then(() => {
              this.$router.push("/lifeprojects");
              return [{ name: name }];
            })
            .catch((error) => Swal.showValidationMessage(error));
        },
      });
    },
    getPourcentage(obtainedBudget, requiredBudget) {
      return obtainedBudget / requiredBudget;
    },
    doBudgetSum() {
      let budgetSum = 0;
      for (let i = 0; i < this.projects.length; i++) {
        budgetSum += this.projects[i].requiredBudget;
      }
      return budgetSum;
    },

    async showProjectDetails(project) {
      this.$router
        .push({ path: "/projectDetails/" + project.projectID })
        .then(() => {
          window.location.reload();
        });
    },

    /*  openUpdatePopOver() {
      httpService
        .getAll("/images/")
        .then((response) => {
          this.images = response;
          console.log("test");
        })
        .catch((error) => {
          this.queueErrorToast(error.response.data.error);
          });
          /* const openToast = async () => {
            const toast = await toastController.create({
              message: error.response.data.error,
              duration: 6000,
              color: "danger",
              position: "top",
            });
            return toast.present(); 
          };

          openToast(); 
        });
      console.log(this.images);
      document.getElementById("card-update-projet").hidden =
        !document.getElementById("card-update-projet").hidden;
    },*/

    /*  onDismissPopupUpdate() {
      document.getElementById("card-update-projet").hidden =
        !document.getElementById("card-update-projet").hidden;
    },*/
    async openUpdatePopOver() {
      await httpService
        .getAll("/images/")
        .then((response) => {
          this.images = response;
        })
        .catch((error) => {
          const openToast = async () => {
            const toast = await toastController.create({
              message: error.response.data.error,
              duration: 6000,
              color: "danger",
              position: "top",
            });
            return toast.present();
          };

          openToast();
        });

      const popover = await popoverController.create({
        component: updatePopover,
        cssClass: "popOver-style",
        translucent: true,
        componentProps: {
          images: this.images,
          id: this.id,
          project: this.project,
          translations: this.translations,
        },
      });
      window.popoverController = popoverController;
      return popover.present();
    },

    openPopOver() {
      httpService
        .getAll("/images/")
        .then((response) => {
          this.images = response;
          console.log("test");
        })
        .catch((error) => {
          this.queueErrorToast(error.response.data.error);
          /*  const openToast = async () => {
            const toast = await toastController.create({
              message: error.response.data.error,
              duration: 6000,
              color: "danger",
              position: "top",
            });
            return toast.present();
          };

          openToast(); */
        });
      console.log(this.images);
      document.getElementById("card-add-projet").hidden =
        !document.getElementById("card-add-projet").hidden;
    },

    onDismissPopup() {
      document.getElementById("card-add-projet").hidden =
        !document.getElementById("card-add-projet").hidden;
    },

    /*  async openPopOver() {
      await httpService
        .getAll("/images/")
        .then((response) => {
          this.images = response;
        })
        .catch((error) => {
          const openToast = async () => {
            const toast = await toastController.create({
              message: error.response.data.error,
              duration: 6000,
              color: "danger",
              position: "top",
            });
            return toast.present();
          };

          openToast();
        });

      const popover = await popoverController.create({
        component: Popover,
        cssClass: "popOver-style",
        translucent: true,
        componentProps: {
          images: this.images,
          id: this.id,
          translations: this.translations,
        },
      });
      window.popoverController = popoverController;
      return popover.present();
    }, */
  },

  data() {
    return {
      currencyIcon: "",
      imagesUrl: process.env.VUE_APP_IMAGES_URL,
      project: {},
      projects: [],
      id: this.$route.params.id,
      isPageLoad: false,
      images: [],
      translations: [],
    };
  },
});
</script>
<style scoped>
#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(+800%);
}
.card-style {
  width: 100%;
  margin-left: 0;
  left: 0;
  margin-top: 0;
  padding: 0;
  height: 300px;
  display: inline-block;
  box-shadow: -3px 11px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -3px 11px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -3px 11px 5px 0px rgba(0, 0, 0, 0.75);
}

.sub-card-style {
  padding: 0;
  margin-top: 2;
  height: 150px;
  display: inline-block;
  border-radius: 20px;
  box-shadow: -3px 11px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -3px 11px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -3px 11px 5px 0px rgba(199, 54, 54, 0.75);
}
.subcard-loader {
  height: 150px;
  border-radius: 20px;
  margin-top: 2;
}
.image-style {
  height: 100%;
  width: 100%;
  background: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6));
  background-repeat: no-repeat !important;
  background-size: cover !important;
  opacity: 0.9;
}

.project-title {
  font-size: 40px;
  color: #ffffff;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  justify-content: flex-start;
  text-shadow: 0 1px 0 black;
}
.project-text {
  padding-top: 6px;
  font-size: 50px;
  margin-left: +5%;
  color: #ffffff;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-weight: 600;
  text-shadow: 0 1px 0 black;
}
.list-style {
  transform: translateY(-170%);
}
.subProject-title {
  font-size: 30px;
  margin-left: +5%;
  color: #ffffff;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  text-shadow: 0 1px 0 black;
}
.subProject-budget {
  padding-top: 6px;
  font-size: 30px;
  margin-left: +5%;
  color: #ffffff;
  font-family: "Roboto", Helvetica, Arial;
  text-shadow: 0 1px 0 black;
}
.loader {
  background: #f3f3f3 !important;
  border-radius: 100px;
  height: 15%;
  opacity: 1;
  transform: translateY(-200%);
  width: 90%;
  margin-left: 5%;
}
.loader-project {
  border-radius: 100px;
  height: 12%;
  opacity: 1;
  width: 90%;
  margin-left: 5%;
  transform: translateY(-150%);
}

.title {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-size: 30px;
  padding: 0;
  font-weight: bold;
  text-shadow: 0 1px 0 black;
}

.project {
  margin-top: 0;
  top: 0;
  transform: translateY(-900%);
  margin-left: +2%;
}
.subProject {
  transform: translateY(-190%);
  margin-top: 0;
}
.card-loader {
  margin-top: 2;
  height: 300px;
  border-radius: 20px;
}

.card-details {
  border-radius: 10px;
}

.item.item-input {
  border: none;
  margin-left: 0;
  width: 100%;
  padding: 0;
}
.avatar {
  background-color: #bfc5fd;
  padding: 4px;
  margin-right: +3%;
}
.badge {
  width: 40%;
  margin-left: +5%;
  border-radius: 5px;
  height: 15px;
  opacity: 0.7;
}
.style-budget-text {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-size: 25px;
  padding: 0;
  font-weight: bold;

  margin: 0;
}
</style>
