<template>
  <ion-content class="ion-padding" v-model="images">
    <ion-title>{{ translations.modify }}</ion-title>

    <ion-item class="padding-item">
      <ion-label position="floating">{{ translations.name }}</ion-label
      ><ion-input id="name" v-model="newProject.name"></ion-input>
    </ion-item>
    <span class="error-style">{{ errors.nameError }}</span>
    <ion-item class="padding-item">
      <ion-label position="floating">{{
        translations.budgetRequired
      }}</ion-label
      ><ion-input
        id="budget"
        type="number"
        step="1"
        onkeyup="if(this.value<0 ){this.value= this.value * -1}"
        min="0"
        v-model="newProject.requiredBudget"
      ></ion-input>
    </ion-item>
    <span class="error-style">{{ errors.requiredBudgetError }}</span>
    <ion-item class="padding-item">
      <ion-label position="floating">{{
        translations.budgetObtained
      }}</ion-label
      ><ion-input
        id="budget"
        type="number"
        step="1"
        onkeyup="if(this.value<0 ){this.value= this.value * -1}"
        min="0"
        v-model="newProject.obtainedBudget"
      ></ion-input>
    </ion-item>
    <span class="error-style">{{ errors.obtainedBudgetError }}</span>
    <ion-item class="padding-item">
      <ion-label position="floating">{{ translations.deadline }}</ion-label
      ><ion-input
        type="date"
        id="date"
        v-model="newProject.endDate"
      ></ion-input>
    </ion-item>
    <span class="error-style">{{ errors.dateError }}</span>
    <div
      :class="currentIndex === index ? 'avatar-style-selected' : 'avatar-style'"
      v-for="(image, index) in images"
      :key="index"
      @click="selectImage(index, image)"
    >
      <ion-avatar>
        <img :src="imagesUrl + image" />
      </ion-avatar>
    </div>
    <span class="error-style">{{ errors.imageError }}</span>
    <ion-button expand="block" @click="UpdateProjectHandler()">{{
      translations.modify
    }}</ion-button>
  </ion-content>
</template>
<script>
require("dotenv").config();

import {
  IonContent,
  IonItem,
  IonLabel,
  IonInput,
  IonAvatar,
  IonButton,
  IonTitle,
  toastController,
} from "@ionic/vue";

import { defineComponent } from "vue";
const httpService = require("../../utils/services");
require("dotenv").config();
import { useRouter } from "vue-router";

export default defineComponent({
  name: "UpdatePopover",
  components: {
    IonContent,
    IonItem,
    IonLabel,
    IonInput,
    IonAvatar,
    IonButton,
    IonTitle,
  },
  setup() {
    const router = useRouter();
    return { router };
  },

  data() {
    return {
      currentIndex: -1,
      images: this.$attrs.images,
      id: this.$attrs.id,
      translations: this.$attrs.translations,
      imagesUrl: process.env.VUE_APP_IMAGES_URL,
      newProject: {
        name: this.$attrs.project.name,
        requiredBudget: this.$attrs.project.requiredBudget,
        obtainedBudget: this.$attrs.project.obtainedBudget,
        endDate: this.convertDate(this.$attrs.project.endDate),
        image: this.$attrs.project.image,
        projectID: this.$attrs.id,
      },
      errors: {
        nameError: "",
        requiredBudgetError: "",
        obtainedBudgetError: "",
        dateError: "",
        imageError: "",
      },
    };
  },

  methods: {
    convertDate(dateString) {
      console.log(dateString);

      var date = dateString.split("-");

      console.log(date[2] + "-" + date[1] + "-" + date[0]);
      return date[2] + "-" + date[1] + "-" + date[0];
    },
    UpdateProjectHandler() {
      let isFormNotValid = false;

      if (!this.newProject.name) {
        this.errors.nameError = this.translations.nameError;
        isFormNotValid = true;
      } else this.errors.nameError = "";

      if (!this.newProject.requiredBudget) {
        this.errors.requiredBudgetError = this.translations.BudgetRequiredError;
        isFormNotValid = true;
      } else this.errors.requiredBudgetError = "";

      if (
        !this.newProject.obtainedBudget &&
        this.newProject.obtainedBudget != 0
      ) {
        this.errors.obtainedBudgetError = this.translations.obtainedBudget;
        isFormNotValid = true;
      } else this.errors.obtainedBudgetError = "";

      if (!this.newProject.endDate) {
        this.errors.dateError = this.translations.deadlineErrorRequired;
        isFormNotValid = true;
      } else this.errors.dateError = "";

      if (isFormNotValid) {
        return;
      }

      httpService
        .patch("/project/", this.newProject)
        .then((response) => {
          window.popoverController.dismiss();

          this.router.push("/projectDetails/" + response.projectID).then(() => {
            window.location.reload();
          });
        })
        .catch((error) => {
          const openToast = async () => {
            const toast = await toastController.create({
              message: error.response.data.error,
              duration: 6000,
              color: "danger",
              position: "top",
            });
            return toast.present();
          };

          openToast();
        });
    },
    selectImage(index, image) {
      this.newProject.image = image;
      this.currentIndex = index;
    },
  },
});
</script>
<style scoped>
.add-padding {
  padding-left: +7px;
  width: 100% !important;
}

.card-default {
  border-radius: 20px;
  box-shadow: -3px 11px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -3px 11px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -3px 11px 5px 0px rgba(0, 0, 0, 0.75);
}
.padding-item {
  margin-top: 0;
  padding-top: 0;
}
.avatar-style {
  margin-left: +5px;
  margin-top: 10px;
  display: inline-block;
  width: 30%;
}
.avatar-style-selected {
  padding: 5px;
  margin-top: 10px;
  display: inline-block;
  width: 30%;
  background-color: transparent;
  background: transparent;
  border-radius: 100px;
  box-shadow: -3px 11px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -3px 11px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -3px 11px 5px 0px rgba(0, 0, 0, 0.75);
}

.error-style {
  font-size: 13px !important;
  font-style: italic;
  color: crimson;
  float: left;
  margin-left: +10%;
}

.item.item-input {
  border: none;
  margin-left: +5%;
  width: 90%;
}
</style>
