<template>
  <ion-page>
    <ion-header>      
      <TopToolbar title="Courses" />
    </ion-header>
    <ion-content class="page-style" :fullscreen="true">
      <ion-item lines="none">
        <ion-buttons slot="end">
          <ion-button style="padding:0">
            <font-awesome-icon
              slot="icon-only"
              :icon="['far', 'calendar']"
              size="lg"
            />
          </ion-button>
          <ion-datetime
            :value="mydate.toISOString()"
            :picker-options="customPickerOptions"
            style="padding:0"
            display-format="MMM YYYY"
            picker-format="MMM YYYY"
            :cancelText="translation.cancel"
            :done-text="translation.ok"
          ></ion-datetime>
        </ion-buttons>
      </ion-item>
      <ion-item lines="none">
        <ion-title class="text-style" color="dark">{{ currentDate }}</ion-title>
      </ion-item>

      <ion-card class="card-style-slider-budget">
        <ion-label class="label-budget-text">{{translation.weeklyBudget}}</ion-label>

        <ion-item color="white" lines="none">
          <p slot="start" class="amount-style">
            <i :class="currencyIcon" />{{ currentAmount }}
          </p>
          <p slot="end" class="amount-style">
            <i :class="currencyIcon" />{{ monthlyBudget }}
          </p>
          <ion-progress-bar
            color="success"
            class="loader"
            :value="getPourcentage(currentAmount, monthlyBudget)"
          >
          </ion-progress-bar>
        </ion-item>
      </ion-card>
      <ion-card class="card-style-slider" v-if="!isPageLoad">
        <ion-spinner
          class="center-dot"
          name="dots"
          color="primary"
        ></ion-spinner>
      </ion-card>

      <div v-if="isPageLoad">
        <ion-slides
          :options="slideOpts"
          @ionSlideWillChange="sliderChange($event)"
        >
          <ion-slide v-for="(budget, index) in seriesTab || []" :key="index">
            <ion-card class="card-style-slider">
              <ion-card-header class="card-header"
                ><h2 class="title-budget">
                  <i :class="currencyIcon" />{{ currentAmount }}
                </h2>
                <p class="item-subtitle-budget">
                  {{ translation.totalExpenses }}
                </p>
              </ion-card-header>

              <apexchart
                width="100%"
                :options="optionsTab[index]"
                :series="budget"
              ></apexchart>
            </ion-card>
          </ion-slide>
        </ion-slides>
      </div>
      <ion-card class="card-style" v-if="!isPageLoad">
        <ion-spinner
          class="center-dot"
          name="dots"
          color="primary"
        ></ion-spinner>
      </ion-card>

      <ion-card class="card-style" v-if="isPageLoad">
        <ion-card-header style="padding-left:0;padding-right:0">
          <ion-item color="white" lines="none">
            <p slot="start" class="amount-style">
              <i :class="currencyIcon" />{{ totalAmount }}
            </p>
            <p slot="end" class="amount-style">
              <i :class="currencyIcon" />{{ totalBudget }}
            </p>
            <ion-progress-bar
              color="success"
              class="loader"
              :value="getPourcentage(totalAmount, totalBudget)"
            >
            </ion-progress-bar>
          </ion-item>
        </ion-card-header>
        <ion-card-content style="padding:0">
          <div v-for="(budget, index) in budgets" :key="index">
            <ion-item color="white" lines="none">
              <ion-avatar class="avatar" slot="start">
                <font-awesome-icon
                  :icon="[
                    'fas',
                    budget.icon.substr(budget.icon.indexOf('-') + 1),
                  ]"
                  size="lg"
                  :style="{ color: '#9462E3' }"
                />
              </ion-avatar>
              <ion-label slot="start">
                <h2 class="text-style">{{ budget.name }}</h2>
                <p class="item-subtitle">
                  {{ budget.nbTransactions }} {{ translation.transactions }}
                </p>
              </ion-label>
              <ion-label>
                <h2 class="text-style">
                  <i :class="currencyIcon" />{{
                    calculateTwoDecimals(budget.totalAmount)
                  }}
                </h2>
                <p class="item-subtitle">
                  {{ calculatePourcentBudget(budget.totalAmount, totalAmount) }}
                  %
                </p>
              </ion-label>
              <ion-buttons class="item-style" slot="end">
                <ion-button @click="toggleSubCategories(index)">
                  <font-awesome-icon
                    slot="icon-only"
                    :icon="['fas', 'chevron-right']"
                    size="lg"
                  />
                </ion-button>
              </ion-buttons>
            </ion-item>
            <div v-if="showDetails[index]">
              <ion-item
                color="white"
                lines="none"
                style="margin-left:+10% !important"
                v-for="(subBudget, i) in budget.list"
                :key="i"
              >
                <ion-avatar class="avatar" slot="start">
                  <font-awesome-icon
                    :icon="['fas', subBudget.icon.split('-')[1]]"
                    size="lg"
                    :style="{ color: '#7BBAE7' }"
                  />
                </ion-avatar>
                <ion-label slot="start">
                  <h2 class="text-style">{{ subBudget.name }}</h2>
                  <p class="item-subtitle">
                    {{ subBudget.nbTransactions }}
                    {{ translation.transactions }}
                  </p>
                </ion-label>

                <ion-label slot="end">
                  <h2 class="text-style">
                    <i :class="currencyIcon" />{{
                      calculateTwoDecimals(subBudget.totalAmount)
                    }}
                  </h2>
                  <p class="item-subtitle">
                    {{
                      calculatePourcentBudget(
                        subBudget.totalAmount,
                        budget.totalAmount
                      )
                    }}
                    %
                  </p>
                </ion-label>
              </ion-item>
            </div>
          </div>
        </ion-card-content>
      </ion-card>
    </ion-content>
  </ion-page>
</template>
<script>
import {
  IonContent,
  IonPage,
  IonCard,
  IonLabel,
  IonButton,
  IonButtons,
  IonCardContent,
  IonItem,
  IonSlide,
  IonSlides,
  IonTitle,
  IonAvatar,
  IonDatetime,
  IonCardHeader,
  IonSpinner,
  IonProgressBar,
  IonHeader,
} from "@ionic/vue";
import { defineComponent } from "vue";

import VueApexCharts from "vue3-apexcharts";
const httpService = require("../../utils/services");

import TopToolbar from "@/components/Navigation/TopToolbar.vue";

export default defineComponent({
  name: "CourseBudget",
  components: {
    IonContent,
    IonPage,
    IonCard,
    IonLabel,
    IonButton,
    IonButtons,
    IonCardContent,
    IonItem,
    IonSlide,
    IonSlides,
    IonTitle,
    IonDatetime,
    IonAvatar,
    IonCardHeader,
    IonSpinner,
    IonProgressBar,
    apexchart: VueApexCharts,
    IonHeader,
    TopToolbar
  },
  ionViewWillEnter() {
    httpService
      .getByParams("/translation/budgetTranslation", {
        languageCode: localStorage.getItem("language"),
      })
      .then((response) => {
    
        this.translation = response;
      })
      .catch((error) => {
        console.log(error);
      });
    httpService.get("/currency/byUser").then((res) => {
      this.currencyIcon = res.icon;
    });
    this.loadData();
  },

  setup() {
    const slideOpts = {
      initialSlide: 0,
      speed: 400,
    };

    return { slideOpts };
  },

  methods: {
    getPourcentage(obtainedBudget, requiredBudget) {
      return obtainedBudget / requiredBudget;
    },
    toggleSubCategories(index) {
      this.showDetails[index] = !this.showDetails[index];
      this.currentIndex = index;
    },

    daysInMonth(month, year) {
      return new Date(year, month, 0).getDate();
    },
    loadData() {
      this.isPageLoad = false;

      httpService
        .getByParams(
          "/transactions/" + this.currentMonth + "/" + this.currentYear
        )
        .then((response) => {
          console.log(response);
          this.dayBudget = Math.floor(
            response.totalBudget /
              this.daysInMonth(this.currentYear, this.currentMonth)
          );

          this.dateTable = [];
          this.seriesTab = [];
          this.totalAmount = 0;
          let index = 0;
          this.amountTable = [];

          response.transactionsPerWeek.forEach((element) => {
            this.amountTable.push(element.list);

            let series = [
              {
                name: this.translation.budgetSpend,
                data: element.list,
                type: "column",
              },
              {
                name: this.translation.plannedBudget,
                type: "line",
                data: [
                  this.dayBudget,
                  this.dayBudget,
                  this.dayBudget,
                  this.dayBudget,
                  this.dayBudget,
                  this.dayBudget,
                  this.dayBudget,
                ],
              },
            ];
            let options = {
              legend: {
                position: "bottom",
              },

              labels: ["Mon", "Tue", "Wed", "Thu", "Fri", "Sat", "Sun "],
              chart: {
                id: "vuechart" + index,
              },
            };
            index++;

            this.dateTable.push(element.date);
            this.seriesTab.push(series);
            this.optionsTab.push(options);

            this.budgets = response.allShoppingTransactions;
            this.totalBudget = response.totalBudget;
            this.totalAmount = this.calculateTwoDecimals(response.totalAmount);
          });

          this.currentAmount = 0;

          this.amountTable[0].forEach((element) => {
            this.currentAmount += element;
          });

          this.currentAmount = this.calculateTwoDecimals(this.currentAmount);
          this.currentDate = this.dateTable[0];
          this.monthlyBudget = this.dayBudget * 7;
          this.isPageLoad = true;
        });
    },
    sliderChange(e) {
      e.target.getActiveIndex().then((i) => {
        this.currentDate = this.dateTable[i];
        let index = i - 1;
        if (index < 0) {
          index = 0;
        }

        this.currentAmount = 0;
        this.amountTable[i].forEach((element) => {
          this.currentAmount += element;
        });

        this.currentAmount = this.calculateTwoDecimals(this.currentAmount);
      });
    },
    calculatePourcentBudget(spendBudget, totalBudget) {
      if (totalBudget == 0) {
        return 0;
      }
      return Math.ceil(
        Math.round(((spendBudget * 100) / totalBudget) * 100) / 100
      );
    },
    calculateTwoDecimals(amount) {
      if (amount.toString().length == 1) {
        return amount;
      }
      return parseFloat(amount).toPrecision(4);
    },
  },
  data() {
    return {
      monthlyBudget: 0,
      currencyIcon: "",
      mydate: new Date(),
      chartOptions: {
        chart: {
          id: "vuechart-bar",
        },
      },
      series: [],
      translation: [],
      monthsTranslation: [],
      amountTable: [],

      currentAmount: 0,
      totalAmount: 0,
      currentIndex: -1,
      showDetails: [],
      dayBudget: 0,
      options: {
        responsive: true,
        legend: {
          display: true,
        },
        tooltips: {
          enabled: true,
        },
        scales: {
          xAxes: [
            {
              display: true,
              ticks: {
                beginAtZero: true,
              },
            },
          ],
          yAxes: [
            {
              display: true,
              ticks: {
                beginAtZero: true,
              },
            },
          ],
        },
        annotation: {
          annotations: [
            {
              type: "line",
              mode: "horizontal",
              scaleID: "y-axis-0",
              value: 5,
              borderColor: "#1F67DA",
              borderWidth: 4,
              label: {
                enabled: false,
                content: "Test label",
              },
            },
          ],
        },
      },
      dateTable: [],
      currentDate: "",
      currentMonth: new Date().getMonth() + 1,
      currentYear: new Date().getFullYear(),
      customPickerOptions: {
        buttons: [
          {
            text: "cancel",
            handler: () => {
              return false;
            },
          },
          {
            text: "ok",
            handler: (e) => {
              this.currentMonth = e.month.value;
              this.currentYear = e.year.value;
              this.mydate = new Date(
                e.year.value,
                e.month.value - 1,
                e.month.value
              );

              this.loadData();
            },
          },
        ],
      },
      seriesTab: [],
      optionsTab: [],
      totalBudget: 0,
      isPageLoad: false,
      budgets: [],
      datasets: {
        labels: ["Mon", "Tue", "Wed", "Thu", "Fri", "Sat", "Sun "],
        datasets: [
          {
            label: "Budget course",
            data: [40, 20, 12, 39, 10, 0, 39],
            backgroundColor: "#2A4BE6",
          },
        ],
      },
    };
  },
});
</script>

<style scoped>
.label-budget-text {
  margin-left: +10px !important;
  padding-top: +30px !important;
  color: black;
  font-family: "Roboto", "Franklin Gothic Medium", "Arial Narrow", Arial,
    sans-serif;
  font-size: 20px;
}
.card-style-slider {
  border-radius: 10px;
  background-color: white;
  height: 30%;
  width: 90%;
  margin-left: +5%;
  padding-bottom: +5%;
}

.card-style-slider-budget {
  border-radius: 10px;
  background-color: white;
  height: 15%;
  width: 90%;
  margin-left: +7%;
  padding-bottom: +5%;
  display: inline-block;
}
.card-style {
  border-radius: 10px;
  background-color: white;
  width: 90%;
  margin-left: +5%;
}
.page-style {
  --ion-background-color: rgb(243, 244, 245);
}
.item-style {
  background-color: white;
}
.slider-style {
  margin-bottom: 0;
}
.text-style {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-weight: bold;
}

ion-avatar {
  padding-top: 8px;
  padding-left: 5px;
  margin-right: +3%;
  border: 1px solid rgb(3, 3, 3) !important;
}
.item-subtitle {
  color: rgb(115, 119, 128) !important;
}

.title-budget {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 40px;
  color: black;
  margin-top: 0;
  margin-bottom: 0;
}
.item-subtitle-budget {
  color: rgb(169, 170, 172) !important;
  font-weight: bold;
  font-size: 15px;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.center-dot {
  width: 100%;
  left: 0;
  right: 0;
  top: 50%;
}
ion-spinner {
  transform: scale(4);
}
.loader {
  border-radius: 100px;
  height: 60%;
  opacity: 1;
  width: 100% !important;
}

.amount-style {
  margin: 2px;
  padding: 2px;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 20px;
}
</style>
