/* eslint-disable no-unused-vars */
<template>
  <ion-page>
    <ion-popover :is-open="createCategory" @didDismiss="onDismissPopupCreateCategory"
    css-class="popover-style">
      <CategoriesCreate 
        @add-category="onCreateCategory"
        @dismiss-popup="onDismissPopupCreateCategory"
        :translations="translationsCategories"
        :type="formData.type"
      />
    </ion-popover>

    <ion-popover :is-open="createAccount" @didDismiss="onDismissPopupCreateAccount"
    css-class="popover-style">
      <CreateAccount 
        :accountTypes="accountTypes"
        @dismiss-popup="onDismissPopupCreateAccount"
        @add-account="onCreateAccount"
        :translations="translationsMiscs"
      />
    </ion-popover>

    <ion-popover :is-open="selectMultipleCategories" @didDismiss="onDismissPopupSelectMultipleCategories"
    css-class="popover-style">
      <PopupMultipleSelect 
        :categories="listCategories" 
        @dismiss-popup="onDismissPopupSelectMultipleCategories"
        :amount="formData.amount"
        @categories-submit="onMulitpleCategoriesSubmit"
        :translations="translationsMiscs"
        :alreadySelectedCategories = formData.categories
      />
    </ion-popover>

    <ion-content id="contentCard" v-if="isPageLoad">
    <ion-grid>
      <h1 class="title">{{ translationsMiscs.title }}</h1>
      <form @submit.prevent="onAddTransaction" class="form-wrapper">
        <ion-row class="form-content-align">
          <ion-col>
            <BaseButton :buttonLabel="translationsMiscs.typeInput" fill="outline" size="large"
            :clickEventTrue="true" @handleClick="onChooseType('input',$event)" expand="block" />
          </ion-col>
          <ion-col>
            <BaseButton :buttonLabel="translationsMiscs.typeOutput" fill="outline" size="large" 
            :clickEventTrue="true" @handleClick="onChooseType('output',$event)" expand="block" />
          </ion-col>
        </ion-row>
        
        <ion-row class="form-content-align">
          <ion-col class="input-bottom-border">
            <BaseInput name="amount" inputType="number" step="0.01" v-model="formData.amount" 
            :inputLabel="translationsMiscs.amount" :dataBefore="dataBefore"
            placeholder="00,00" :errorMessage="errors.amountError" />      
          </ion-col>
        </ion-row>

        <ion-row class="form-content-align">
          <ion-col class="input-bottom-border">
            <BaseSelect name="account" v-model="formData.account" 
            selectInterface="popover"
            :inputLabel="translationsMiscs.account" :items="accountsArray"
            :errorMessage="errors.accountError" >
              <template #defaultOption>
                <ion-select-option value="new">{{ translationsMiscs.createNew }}</ion-select-option>
              </template>
            </BaseSelect>
          </ion-col>
        </ion-row>

        <ion-row class="form-content-align">
          <ion-col class="input-bottom-border">
            <ion-item button @click="onSelectMultipleCategories" :disabled="disableChooseCategory">
              <ion-grid>
                <ion-row><ion-label>{{ translationsMiscs.category }}</ion-label></ion-row>
                <ion-row class="ion-float-right"><ion-text>{{ categorySelected }}</ion-text></ion-row>
                <ion-row><p class="error-style">{{ errors.categoriesError }}</p></ion-row>
              </ion-grid>
            </ion-item>
          </ion-col>        
        </ion-row>
        <ion-row class="form-content-align">
          <ion-col class="ion-text-right">
            <BaseButton :buttonLabel="translationsMiscs.createNew" size="small" shape="round"
            :clickEventTrue="true" @handleClick="openCategoryCreatePopup" :disabled="disableChooseCategory" />    
          </ion-col>    
        </ion-row>

        <ion-row class="form-content-align">
          <ion-col class="input-bottom-border">
            <BaseDatePicker name="valueDate" v-model="formData.valueDate"
            :label="translationsMiscs.valueDate" :cancelText="translationsMiscs.cancel" :doneText="translationsMiscs.add"
            :errorMessage="errors.valueDateError" />
          </ion-col>
          <ion-col class="input-bottom-border">
            <BaseDatePicker name="executionDate" v-model="formData.executionDate"
            :label="translationsMiscs.executionDate" :cancelText="translationsMiscs.cancel" :doneText="translationsMiscs.add"
            :errorMessage="errors.executionDateError" />
          </ion-col>
        </ion-row>   
        
        <BaseCheckbox name="checkBoxRecurring" v-model="formData.checkBoxRecurring" class="form-content-align"
        :inputLabel="translationsMiscs.repeteTransaction" :disabled="disableRecurring" />  

        <ion-row class="form-content-align" v-if="formData.checkBoxRecurring">
          <ion-col class="input-bottom-border">
            <BaseDatePicker name="recurringDateLimit" v-model="formData.recurringTransactionEndDate"
            :label="translationsMiscs.popupRecurringTitle" :minDate="minDateRecurring" :maxDate="maxDateRecurring" 
            :cancelText="translationsMiscs.cancel" :doneText="translationsMiscs.add"
            :errorMessage="errors.recurringError"/>
          </ion-col>
        </ion-row>  

        <BaseButton type="submit" :buttonLabel="translationsMiscs.add" expand="block" size="large" class="form-content-align" />
      </form>
    </ion-grid>
    </ion-content>
  </ion-page>
</template>

<script>
import { defineComponent} from 'vue';

import { IonGrid, IonRow, IonCol, IonContent, IonPage,
 IonSelectOption, IonItem, IonLabel, IonText , IonPopover } from '@ionic/vue';

import CategoriesCreate from '../../components/FormPopupCustom/CategoriesCreate.vue';
import CreateAccount from '@/components/FormPopupCustom/CreateAccount.vue';
import PopupMultipleSelect from '@/components/FormPopupCustom/PopupMultipleSelect.vue';

import BaseButton from '@/components/Form/BaseButton.vue';
import BaseInput from '@/components/Form/BaseInput.vue';
import BaseDatePicker from '@/components/Form/BaseDatePicker.vue';
import BaseCheckbox from '@/components/Form/BaseCheckbox.vue';
import BaseSelect from '@/components/Form/BaseSelect.vue';

import ToastDisplay from '@/mixins/ToastDisplay.vue';

const httpService = require('@/utils/services');
const utils = require('@/utils/utils');


export default defineComponent({
name: 'AddTransaction',
components: { IonGrid, IonRow, IonCol, IonContent, IonPage,
  IonSelectOption, IonItem, IonLabel, IonText, IonPopover,
  
  CategoriesCreate, CreateAccount, PopupMultipleSelect, 

  BaseButton, BaseInput, BaseDatePicker, BaseCheckbox, BaseSelect
},
mixins: [ ToastDisplay ],
inject: [ 'translationsData' ],
emits: [ 'formSubmit' ],
props: [ 'ionViewLifeCycleStage', 'currentTab' ],
watch: {
  ionViewLifeCycleStage(val) {
    if (typeof this[val] === "function") { 
      this[val]();
    }
  }, 
  currentTab(val) {
    if (val != this) {
      this.ionViewWillLeave();
    }
  },
  'formData.type'(val) {
    if (val && val.length > 0) {
      this.disableChooseCategory = false;
    } else {
      this.disableChooseCategory = true;
    }
  },
  'formData.valueDate'(val) {
    //When the value date is entered, the execution date is automatically updated
    if (!this.formData.executionDate || new Date(val) > new Date(this.formData.executionDate)) {
      this.formData.executionDate = val;
    }
  },
  'formData.categories'(val) {
    if (!val || val.length === 0) {
      this.categorySelected = this.translationsMiscs.selectACategory;
    }
  },
  'formData.executionDate'(val) {
    if (val) {
      this.disableRecurring = false;    
    } else {
      this.disableRecurring = true;
    }  

    if (this.formData.checkBoxRecurring) {
      this.calculateRecurringDate();  
    }

    //When the execution date is entered, the value date is automatically updated
    if (!this.formData.valueDate || new Date(val) < new Date(this.formData.valueDate)) {
      this.formData.valueDate = val;
    }  
  },
  'formData.checkBoxRecurring'(val) {
      if (val) {   
        this.calculateRecurringDate();
      } else {
        this.formData.recurringTransactionEndDate = null;
      }
  },
  'formData.account'(val) {
     // If the option "new" is selected from the dropdown of accounts, the popup to create a new account is displayed
    if(val?.toLowerCase() === "new"){
      this.createAccount = true;
    }
  }
},
computed: {
  translationsMiscs() {
    return this.translationsData.addTransactionTranslation;
  },
  translationsCategories() {
    return this.translationsData.categoriesManagementTranslation;
  },
  accountsArray() {
    return this.listAccounts?.map(account => account.name);
  },
  dataBefore() {
    return this.transactionAmountIcon.join(' ');
  }
},

data(){
  return{
    formData: {
      amount: null,
      type: null,
      valueDate: null,
      executionDate: null,
      categories: null,
      account: null,
      checkBoxRecurring: false,
      recurringTransactionEndDate: null,
    },

    errors: {
      amountError: "",
      typeError: "",
      valueDateError: "",
      executionDateError: "",
      categoriesError: "",
      accountError: "",
      recurringError: ""
    },

    selectedTransactionType : null,
    listCategories: [],
    listAccounts: [],
    createCategory: false,
    createAccount: false,
    
    selectMultipleCategories: false,
    categorySelected: null,

    currencyIcon: null,
    transactionAmountIcon: [],
    accountTypes: null,
    
    minDateRecurring: null,
    maxDateRecurring: null, 
    
    disableChooseCategory: true,
    disableRecurring: true,
    
    isPageLoad: false
  }
},

beforeMount() {
  this.ionViewWillEnter();
},
  
methods: {
  async ionViewWillEnter(){
    await httpService
    .getAll("/accountTypes/all").then((res) => {
      this.accountTypes = res;
    });

    await httpService.get("/currency/byUser").then((res) => {
      this.currencyIcon = res.icon;
      //unicode récupérer de fontawasome
      switch(res.name.toLowerCase().substring(0,5)) {
        case 'euro':
          this.transactionAmountIcon[0] = '\uf153';
          break;
        case 'dolla':
          this.transactionAmountIcon[0] = '\uf155';
          break;
        case 'yen':
          this.transactionAmountIcon[0] = '\uf157';
          break;
        case 'pound':
          this.transactionAmountIcon[0] = '\uf154';
          break;
        default:
          break;
      }
    });

    httpService
    .getAll("/account/all")
    .then(res=>{
      this.listAccounts = res;
    });

    this.categorySelected=this.translationsMiscs.selectACategory;
    this.isPageLoad = true;
  },

  async ionViewDidLeave() {
    this.dissmissAllViewToasts();
  },

  async ionViewWillLeave() {
    this.clearForm();
  },

  clearForm() {       
    Object.keys(this.formData).forEach(key => {
      if (typeof this.formData[key] === 'boolean') this.formData[key] = false;
      else if (Array.isArray(this.formData[key])) this.formData[key] = [];     
      else if (typeof this.formData[key] === 'string') this.formData[key] = "";   
      else this.formData[key] = null;
    }); 

    this.disableChooseCategory = true;
    if (this.selectedTransactionType) {
      this.selectedTransactionType.fill="outline";
      this.selectedTransactionType = null;
    }

    this.transactionAmountIcon[1] = '';

    Object.keys(this.errors).forEach(key => {
      this.errors[key] = "";
    });
  },
  
// When the user chooses the type of the transaction, all the other data are fetched (catgories, account)
  onChooseType(type, event) {
    this.formData.type = type;
    this.listCategories = [];  
    this.categorySelected = this.translationsMiscs.selectACategory;
    this.formData.categories = null;
            
    if (this.selectedTransactionType) { this.selectedTransactionType.fill = "outline" }       
    this.selectedTransactionType = event.srcElement;
    this.selectedTransactionType.fill = "solid";

    httpService.getByParams("/categories/categoriesPerType", {type: this.formData.type})
    .then(resp => {          
      for(let i=0; i<resp.length; i++) {
        let category = resp[i];
        category.subCategories = [];
        for(let j = 0; j < resp.length; j++) {
          if(resp[j].idParentCategory==category.categoryID) { 
            category.subCategories.push(resp[j]);
          }
        }
        if(resp[i].idParentCategory == -1) {
          this.listCategories.push(resp[i]);
        }
      }
    });

    if(type === "output") {
      this.transactionAmountIcon[1] = '\uf068';
    } else {
      this.transactionAmountIcon[1] = '\uf067';
    }

    this.disableInput = false;
  },

  // Updates after the addition of a new category
  onCreateCategory(event) {
    let catToAdd = event;
    catToAdd.subCategories = [];
    this.listCategories.push(catToAdd);
    this.createCategory = false;
  },

  // Closes the popup to create a category
  onDismissPopupCreateCategory() {
    this.createCategory = false;
  },

  // Updates after the addition of a new account
  onCreateAccount(event) {
    this.listAccounts.push(event);
    this.formData.account = event.name;
    this.createAccount = false;
  },

  // Closes the popup to add a new account
  onDismissPopupCreateAccount() {
    this.createAccount = false;
    this.formData.account = null;
  },

  // Displays the popup to select multiple categories for the current transaction
  onSelectMultipleCategories() {
    if (!this.formData.amount || this.formData.amount.length === 0) {
      this.formData.amount = '0';
    }
    if (this.formData.amount < 0)  {
      this.formData.amount = Math.abs(this.formData.amount).toString();
    }
    this.selectMultipleCategories = true;
  },

    // Checks the inputs and send a post request to add a new transaction
  onAddTransaction() {
    if (!this.formIsValid(this.formData)) {
      return;
    }

    if (this.formData.categories.length === 1) {
      this.formData.categories[0].amount = this.formData.amount;
    }

    let newTransaction = {
      accountID: this.formData.account = this.listAccounts.find(account => account['name'] === this.formData.account)['accountId'],
      amount: this.formData.amount,
      categories: this.formData.categories,
      executionDate: this.formData.executionDate.split("T")[0],
      valueDate: this.formData.valueDate.split("T")[0],
      type: this.formData.type,
      recurringTransactionName: this.categorySelected,
      recurringTransactionEndDate: this.formData.recurringTransactionEndDate != null ? this.formData.recurringTransactionEndDate.split("T")[0] : null
    }

    httpService.create("/transactions/add", newTransaction)
      .then(async ()=>{
        this.queueSuccessToast(this.translationsMiscs.confirmMsgAfterAdd);
        setTimeout(() => {  this.$emit('formSubmit'); }, 500);
        // this.$emit('formSubmit');
      }).catch(async ()=>{
        this.queueErrorToast(this.translationsMiscs.msgUnexpectedError);
      });
    
    this.clearForm();
  },
  
  formIsValid(formData) {
    this.errors.typeError = utils.checkRequired(formData.type, "error required");
    this.errors.accountError = utils.checkRequired(formData.account, "error required");
    this.errors.amountError = utils.checkPositiveAndRequired(parseFloat(formData.amount), false, "error required", "error positive");
    this.errors.categoriesError = utils.checkRequiredArray(formData.categories, "error required");
    this.errors.executionDateError = utils.checkRequired(formData.executionDate, "error required");
    this.errors.valueDateError = utils.checkRequired(formData.valueDate, "error required");

    if (this.errors.valueDateError.length === 0 && new Date(this.formData.valueDate) > new Date(this.formData.executionDate)) {
      this.errors.valueDateError = "error value > execution";
    } 

    if (!this.formData.categoriesError || this.formData.categoriesError.length === 0) {
      let totalAmount = 0;
      this.formData.categories?.forEach(cat => {
        totalAmount += parseFloat(cat.amount);
      });
      if (totalAmount !== parseFloat(this.formData.amount)) {
        this.errors.categoriesError = "error categories total doesn't add up";
      }
    }

    if (this.formData.checkBoxRecurring) {      
      this.errors.recurringError = utils.checkRequired(formData.executionDate, this.translationsMiscs.errorMsg);
      if (!this.errors.recurringError || this.errors.recurringError.length === 0) {
        let execDate = new Date(this.formData.executionDate.split("T")[0]);
        let recDate = new Date(this.formData.recurringTransactionEndDate.split("T")[0]);
        let yearDiff = recDate.getFullYear() - execDate.getFullYear();
        let monthDiff = recDate.getMonth() - execDate.getMonth();
        let dayDiff = recDate.getDate() === execDate.getDate();
        if (yearDiff + monthDiff < 1 || (yearDiff + monthDiff === 1 && !dayDiff)) {
          //date de récurrence ne respecte le minimum écrat d'un mois
          this.errors.recurringError = "error 1 month after exection at least";
        }
      }
      
    }

    return Object.values(this.errors)
    .filter(err => typeof err === 'undefined' || err.length > 0 ).length === 0;
  },

  // Closes the popup to select multiple categories
  onDismissPopupSelectMultipleCategories() {
    this.selectMultipleCategories=false;
  },

  // Displays the popup to add a new category
  openCategoryCreatePopup() {
    this.createCategory=true;
  },

  // Updates the visual when several categories have been selected
  onMulitpleCategoriesSubmit(categories) {
    this.categorySelected = "";
    this.formData.categories = [];
    Object.keys(categories).forEach(key => {  
      this.categorySelected += categories[key].name + ", "; 
      this.formData.categories.push(categories[key]);
    });
    this.selectMultipleCategories=false;
  },

  calculateRecurringDate() {
    let execDate = this.formData.executionDate.split("T")[0]; 
    let execSplitDate = execDate.split("-");
    let execNewDate = new Date(execDate); 

    let day = execSplitDate[2]
    let year = execSplitDate[0];
    //calcul de la date min de récurrence (au moins 1 mois après la date d'éxecution)
    let minMonth = execNewDate.getMonth() + 1;
    minMonth++;
    if (minMonth >= 13) {
      minMonth = 1;
      year = execNewDate.getFullYear() + 1;
    }
    if (minMonth < 10) { 
      minMonth = '0' + minMonth; 
    }
    this.minDateRecurring = year + '-' + minMonth + '-' + day;

    //calcul de la date max de récurrence (au plus tard 5 ans après la date d'exec)
    this.maxDateRecurring = (execNewDate.getFullYear() + 5) + '-' + execSplitDate[1] + '-' + execSplitDate[2];      

    //Remettre à jour la date de récurrence sélectionnée si besoin
    if (!this.formData.recurringTransactionEndDate) {
      //pas de date de récurrence sélectionnée
      this.formData.recurringTransactionEndDate = execNewDate.getFullYear() + 1 + '-' + execSplitDate[1] + '-' + execSplitDate[2];
    } else {
      let recDate = new Date(this.formData.recurringTransactionEndDate.split("T")[0]);
      let yearDiff = recDate.getFullYear() - execNewDate.getFullYear();
      let monthDiff = recDate.getMonth() - execNewDate.getMonth();
      let dayDiff = recDate.getDate() >= execNewDate.getDate();
      if (yearDiff + monthDiff < 1 || (yearDiff + monthDiff === 1 && !dayDiff)) {
        //date de récurrence ne respecte le minimum écrat d'un mois
        this.formData.recurringTransactionEndDate = this.minDateRecurring;
      }
      
    }    
  }
}

});
</script>