<template>
  <ion-page v-bind="$attrs">    
    
    <ion-popover :is-open="modifyTransactionCategories" @didDismiss="onDismissPopupSelectMultipleCategories"  
    css-class="popover-style" >
      <PopupMultipleSelect
        :categories="listCategories" 
        @dismiss-popup="onDismissPopupSelectMultipleCategories()"
        :amount="formData.amount"
        @categories-submit="onMulitpleCategoriesChange"
        :translations="translationsModifyCategories"
        :alreadySelectedCategories="formData.categories"
      />
    </ion-popover>
      
    <ion-toolbar>      
      <ion-title class="ion-text-center">
        <h6 class="ion-text-uppercase ion-no-padding ion-no-margin">Balance</h6>
        <h1 class="ion-no-padding ion-no-margin">
          {{balance}}
          <font-awesome-icon :icon="extractIcon(currencyIcon)" />
        </h1>
      </ion-title>
        <ion-buttons slot="end" class="ion-margin-right">
          <BaseButton buttonLabel="Mois courant" size="small" shape="round" color="primary"
          :clickEventTrue="true" @handleClick="getBackToCurrentMonthSlide" />   
        </ion-buttons>
    </ion-toolbar>

    <ion-content :fullscreen="true">    

      <ion-slides v-if="isPageLoad" :options="slideOpts" @ionSlidesDidLoad="slidesSetUp" ref="sliders">
        <ion-slide v-for="month in monthsTransaction " :key="month.key">
          <ion-content>
            <ion-item class="ion-text-center">
              <font-awesome-icon class="calendarIcon" :icon="['far', 'calendar']" size="2x" />
              <ion-label class="titleCalendar">{{ month.name }}</ion-label>
              <ion-datetime picker-format="MMM YYYY" :picker-options="customPickerOptions" :value="month.date"
              :doneText="translationsModifyCategories.add" :cancelText="translationsModifyCategories.cancel" />
            </ion-item>
            <!-- <h1>{{ month.name }}</h1> -->
            <p v-if="!listTransactionsByMonth[month.key]">No transaction for this month yet.</p>
            <ion-list v-else>
              <ion-item-group>
                <ion-item lines="none" :id="'transactionLine'+t.transactionID" 
                v-for="t in listTransactionsByMonth[month.key]" :key="t.transactionID">
                  <ion-grid @click="readOnly[t.transactionID] && toggleDisplayDetails(t)">
                    <!-- transaction date -->  
                    <ion-row class="ion-justify-content-center">            
                      <ion-item class="ion-align-items-center"><h2 class="no-margin">{{ t.valueDateDay }}</h2></ion-item> 
                    </ion-row>
                    <ion-row class="ion-justify-content-center">                 
                      <ion-item>{{ shortMonths[t.valueDateMonth] }}</ion-item>
                    </ion-row>

                    <!-- list of the transaction's categories and amount  -->
                    <ion-row class="limited-heigt-row ion-align-items-center ion-nowrap">
                      <ion-col v-if="readOnly[t.transactionID]" class="categories-chip-row ion-text-nowrap" size size-xs="6">
                        <ion-chip v-for="cat in categories[t.transactionID]" :key="cat.categoryID" size="small" 
                        class="modifiable-chip"
                         @click="!readOnly[t.transactionID] && modifyCategoriesTransaction()" >
                          <font-awesome-icon :icon="extractIcon(cat.icon)"/>
                          <ion-label class="ion-margin-start">
                            <span class="ion-hide-sm-down">{{ cat.name }}: </span> 
                            <span>{{ cat.amount }}</span>
                          </ion-label>
                          <span><em :class="currencyIcon"/></span>
                        </ion-chip>
                      </ion-col>
                      <ion-col class="categories-chip-row categories-chip-row-edit ion-text-nowrap" size size-xs="4.5" v-else>
                        <ion-chip v-if="!formData.categories || formData.categories.length === 0" 
                          size="small" class="modifiable-chip"
                          @click="!readOnly[t.transactionID] && modifyCategoriesTransaction()" >
                          <ion-label class="ion-margin-start">Select category</ion-label>
                        </ion-chip>
                        <ion-chip v-for="cat in formData.categories" :key="cat.categoryID" size="small" 
                        class="modifiable-chip"
                         @click="!readOnly[t.transactionID] && modifyCategoriesTransaction()" >
                          <font-awesome-icon :icon="extractIcon(cat.icon)"/>
                          <ion-label class="ion-margin-start">
                            <span class="ion-hide-sm-down">{{ cat.name }}: </span> 
                            <span>{{ cat.amount }}</span>
                          </ion-label>
                          <span><em :class="currencyIcon"/></span>
                        </ion-chip>
                      </ion-col>
                      <ion-col size="1" />
                      <ion-col>
                        <ion-grid>
                          <!-- IF not modifying -->
                          <ion-row class="ion-text-right ion-justify-content-end" v-if="readOnly[t.transactionID]">
                            <ion-col class="ion-text-nowrap">
                              <span>{{ amounts[t.transactionID][0] }}</span>
                              <em :class="currencyIcon"/>
                            </ion-col>
                          </ion-row>
                          <!-- ELSE (modifying) -->
                          <ion-row class="ion-text-right ion-justify-content-end" v-else>
                            <ion-col class="ion-text-nowrap"> 
                              <ion-item lines="none" class="amount-item ion-align-items-center ion-no-padding">  
                                <span class="ion-no-margin" slot="end"><TransactionTypeSelect v-model="formData.type"/> </span>
                                <span class="ion-margin-start ion-margin-end" slot="end"><em :class="currencyIcon"/></span>
                                <ion-item lines="none" class="ion-no-padding" slot="end">
                                  <ion-input class="modifiable-input" type="number" maxlength="10"
                                  :value="formData.amount" @ionChange="formData.amount=$event.target.value" /> 
                                </ion-item>
                              </ion-item>
                            </ion-col>
                          </ion-row>
                        </ion-grid>
                      </ion-col>
                    </ion-row>

                    <!-- transaction's details -->
                    <ion-row :id="'details' + t.transactionID" hidden><ion-grid>
                      <ion-row v-if="readOnly[t.transactionID]">
                        <BaseDatePicker :label="translationsMiscs.valueDate" v-model="valueDates[t.transactionID]"
                        :readonly="readOnly[t.transactionID]" position="default" inputClass="modifiable-input"
                        :doneText="translationsModifyCategories.add" :cancelText="translationsModifyCategories.cancel" />
                      </ion-row>
                      <ion-row v-else>
                        <BaseDatePicker :label="translationsMiscs.valueDate" v-model="formData.valueDate" 
                         position="default" inputClass="modifiable-input"
                        :doneText="translationsModifyCategories.add" :cancelText="translationsModifyCategories.cancel" />
                      </ion-row>
                      <ion-row v-if="readOnly[t.transactionID]">
                        <BaseDatePicker :label="translationsMiscs.executionDate + ':'" v-model="executionDates[t.transactionID]" 
                        :readonly="readOnly[t.transactionID]" position="default" inputClass="modifiable-input"
                        :doneText="translationsModifyCategories.add" :cancelText="translationsModifyCategories.cancel" />
                      </ion-row>
                      <ion-row v-else>
                        <BaseDatePicker :label="translationsMiscs.executionDate" v-model="formData.executionDate" 
                         position="default" inputClass="modifiable-input"
                        :doneText="translationsModifyCategories.add" :cancelText="translationsModifyCategories.cancel" />
                      </ion-row>
                      <ion-row>
                        <ion-item>
                          <ion-label>{{ translationsMiscs.paymentMethod }}</ion-label>                          
                          <ion-chip size="small" :disabled="readOnly[t.transactionID]" v-if="readOnly[t.transactionID]">
                            <em :class="accountsIcon[t.transactionID]" class="ion-margin-end"/>
                            <ion-label>{{ accountsName[t.transactionID] }}</ion-label>
                          </ion-chip>
                          <ion-chip size="small" @click="displayAccounts($event)" class="modifiable-chip" v-else>
                            <em :class="formData.icon" class="ion-margin-end"/>
                            <ion-label>{{ formData.accountName }}</ion-label>
                          </ion-chip>
                        </ion-item>
                      </ion-row>
            
                      <!-- buttons -->
                      <ion-row v-if="readOnly[t.transactionID]">            
                        <ion-col class="ion-text-center">
                          <ion-button fill="solid" color="primary" @click="modifyTransaction(t)">
                            <font-awesome-icon  :icon="['fas','pencil-alt']"/>
                          </ion-button>
                        </ion-col>
                        <ion-col />
                        <ion-col class="ion-text-center">
                          <ion-button fill="solid" color="danger" @click="deleteTransaction(t.transactionID)">
                            <font-awesome-icon :icon="['fas','trash']"/>
                          </ion-button>
                        </ion-col>
                      </ion-row>
                      <ion-row v-else>      
                        <ion-col class="ion-text-center">
                          <ion-button fill="solid" color="primary" @click="saveModifications(t, month.key)">
                            <font-awesome-icon :icon="['fas','save']"/>
                          </ion-button>
                        </ion-col>
                        <ion-col />
                        <ion-col class="ion-text-center">
                          <ion-button fill="solid" color="danger" @click="toggleDisplayDetails(t)">
                              <font-awesome-icon :icon="['fas','times']"/>
                            </ion-button>
                        </ion-col>
                      </ion-row>
                      <p id="error-style">{{errorMessage}}</p>
                    </ion-grid></ion-row>

                    <ion-row class="item-bottom-border" />

                  </ion-grid>
                </ion-item>
              </ion-item-group>
            </ion-list>

          </ion-content>
        </ion-slide>
      </ion-slides>
    </ion-content>

  </ion-page>  
</template>


<script>
import {IonPage,
        IonContent,
        IonList,
        IonItemGroup,
        IonItem,
        IonLabel,
        IonGrid,
        IonRow,
        IonCol,
        IonToolbar,
        IonTitle,
        IonButtons,
        IonInput,
        IonButton,
        IonChip,
        popoverController,
        toastController,
        IonSlides,
        IonSlide,
        IonPopover,
        IonDatetime
        } from '@ionic/vue';
import { defineComponent} from 'vue';
import PopoverAccounts from '../../components/FormElementsCustom/PopoverAccounts.vue'
import Swal from 'sweetalert2'
import PopupMultipleSelect from '@/components/FormPopupCustom/PopupMultipleSelect';
import BaseDatePicker from '@/components/Form/BaseDatePicker.vue';
import BaseButton from '@/components/Form/BaseButton.vue';
import TransactionTypeSelect from '@/components/FormElementsCustom/TransactionTypeSelect.vue'
// import BaseSelect from '@/components/Form/BaseSelect.vue';
const httpService = require('../../utils/services');
const methodsService = require('../../utils/methodsService')

export default defineComponent({
name: 'AllTransactions',
components: {
  IonPage,
  IonContent,
  IonList,
  IonItemGroup,
  IonItem,
  IonLabel,
  IonGrid,
  IonRow,
  IonCol,
  IonToolbar,
  IonTitle,
  IonButtons,
  IonInput,
  IonButton,
  IonChip,
  IonSlides,
  IonSlide,
  IonPopover,
  IonDatetime,
  PopupMultipleSelect,
  BaseDatePicker,
  TransactionTypeSelect,
  BaseButton
  // BaseSelect,
},
inject: [ 'translationsData' ],
props: [ 'ionViewLifeCycleStage', 'currentTab' ],
watch: {  
  ionViewLifeCycleStage(val) {
    if (typeof this[val] === "function") { 
      this[val]();
    }
  },
  currentTab(val) {
    if (val != this) {
      this.ionViewWillLeave();
    }
  },
  'formData.type'(val) {
    if(this.formData) {
      let transactionID = this.selectedTransaction.transactionID;
      if (val !== this.amounts[transactionID][2]) {
        this.formData.categories = [];
      } else {
        this.formData.categories = [ ...this.categories[transactionID] ];
      }    
    }
  },
},

computed: {
  translationsMiscs() {
    return this.translationsData.allTransactionsTranslation;
  },
  monthsTranslation() {
    return this.translationsData.monthsTranslation;
  },
  translationsModifyCategories() {
    return this.translationsData.addTransactionTranslation;
  },
  shortMonths() {
    if (this.monthsTranslation) {
      let shortMonths = [];
      for(const [key, value] of Object.entries(this.monthsTranslation)){
        shortMonths[key] = value.substring(0, 3) + ".";
      }
      return shortMonths;
    }
    return null;
  }
},

data(){
  return{
    swiper: null,
    formData: null,
    type: null,
    selectedTransaction: null,
    listTransactionsByMonth: {},
    listCategories:null,
    currencyIcon : null,
    balance:null,
    readOnly: [],
    accounts:null,
    accountsName: [],
    accountsIcon: [],
    valueDates: [],
    executionDates: [],
    amounts: [],
    accountsID: [],
    monthsTransaction:null,
    isPageLoad:false,
    slideOpts:null,
    errorMessage:null,    
    modifyTransactionCategories:false,
    categories:[],
    currentMonthSlide: {
      date: null,
      index: null
    },
    customPickerOptions: null,
  }
},

async created() {// Gets all the transactions of the user => mechanism can be improved
    await httpService
      .get("/transactions/allByUser")
      .then(async res=>{

        this.listTransactionsByMonth = {};
        this.monthsTransaction = [];
        this.currentMonthSlide.date = new Date();
        let currentMonthSlideAdded = false;

        let idx = 0;
        Object.keys(res).forEach(month => {
          this.monthsTransaction[idx] = {};
          let date = new Date(month);

          if (!currentMonthSlideAdded && this.currentMonthSlide.date < date ) {
            this.monthsTransaction[idx] = this.initMonthTransactionObject(this.currentMonthSlide.date, this.currentMonthSlide.date);
            this.currentMonthSlide['index'] = idx;
            idx++;
          }

          let key = this.monthKeyCalc(month);          
          this.monthsTransaction[idx] = this.initMonthTransactionObject(month, date);
          idx++;

          this.listTransactionsByMonth[key] = res[month];
          this.listTransactionsByMonth[key].sort(this.compareTransactions);

          res[month].forEach(value => {
            let t = value;

            this.readOnly.push(t.transactionID);
            this.readOnly[t.transactionID] = true;

            this.accountsName.push(t.transactionID)
            this.accountsName[t.transactionID] = t.accountName

            this.accountsIcon.push(t.transactionID)
            this.accountsIcon[t.transactionID] = t.icon

            this.valueDates.push(t.transactionID)
            this.valueDates[t.transactionID] = t.valueDate

            this.executionDates.push(t.transactionID)
            this.executionDates[t.transactionID] = t.executionDate

            this.amounts.push(t.transactionID)
            this.amounts[t.transactionID] = []
            this.amounts[t.transactionID][0] = t.amount
            let tempAmount = t.amount.split(".").join("")
            tempAmount = tempAmount.replaceAll(',','.')
            this.amounts[t.transactionID][1] = Math.abs(tempAmount).toString();
            this.amounts[t.transactionID][2] = t.type;
            
            
            this.accountsID.push(t.transactionID)
            this.accountsID[t.transactionID] = t.accountID

            this.categories.push(t.transactionID)
            this.categories[t.transactionID] = t.categories
          });
        }); 
      });

    await httpService
      .get("/currency/byUser")
      .then(res=>{
        this.currencyIcon = res.icon;
      });

    await this.getUserBalance();

    await httpService
      .get("/account/all")
      .then(res=>{
        this.accounts = res;
      });

    this.slideOpts = {
      initialSlide: Object.keys(this.monthsTransaction).length,
      speed: 400
    }; 
    this.monthsTransaction.sort(this.compareMonths);
    this.setSlideMonthPickerOptions();

    this.isPageLoad=true;
},

methods:{ 
  checkClick() {
    console.log(this.$refs.picker);
  },
  slidesSetUp() {
    this.$refs.sliders.$el.getSwiper().then(swiper => {
      this.swiper = swiper; 
      this.selectedSlide = { ...this.currentMonthSlide };
      swiper.slideTo(this.currentMonthSlide.index, 0, false);
      console.log(swiper); 
      console.log(this.swiper);
    });
    console.log(this.swiper);
  },

  setSlideMonthPickerOptions() {
    this.customPickerOptions = {
      buttons: [{
        text: this.translationsModifyCategories.cancel,
        role:'cancel',
        handler: () => false
      }, {
        text: this.translationsModifyCategories.add,
        handler: (data) => {    
          console.log(data); 
          let date = new Date(data.year.value, data.month.value - 1, 1);  
          this.value = null;  
          this.goToNewSlide(date);
        }
      }]
    }
  },

  getBackToCurrentMonthSlide() {
    if (this.swiper != null) {
      this.swiper.slideTo(this.currentMonthSlide.index, 250);
    } else {
      console.log("ERROR => slideTo");
    }
  },

  goToNewSlide(date) {  
    let index = this.monthsTransaction.indexOf(this.monthsTransaction.find(el => el.month === date.getMonth() + 1));
    console.log(index);
    if (index !== -1) {
      console.log("slide", index);
      console.log(this.swiper);
      if (this.swiper != null) {
        this.swiper.slideTo(index, 250);
        this.swiper.update();
      } else {
        console.log("ERROR => slideTo");
      }
    } else {
      this.getBackToCurrentMonthSlide();
    }
    // if (index === null || index === undefined) {
    //   this.getBackToCurrentMonthSlide();
    // } else {
    //   this.selectedSlide.index = index;
    //   this.selectedSlide.date = date;
    //   console.log(typeof index);
    //   this.swiper.slideTo(1, 250);
    // }    
  },

  async ionViewWillLeave() {
    this.clearForm();
  },

  clearForm() {
    this.formData = null;    
    if (this.selectedTransaction) {
      document.getElementById('transactionLine' + this.selectedTransaction.transactionID).classList.remove('item-selected');
      document.getElementById('transactionLine' + this.selectedTransaction.transactionID).classList.remove('item-modifying');
    }
  },

  initMonthTransactionObject(month, date) {
    let key = this.monthKeyCalc(month);
    try {
        return {
        key: key,
        name: this.monthsTranslation[ date.getMonth() + 1 ] + " " + date.getFullYear(),
        year: date.getFullYear(),
        month: date.getMonth() + 1
      }
    } catch (error) {
      console.log(error);
      return null;
    }
  },

  compareTransactions(transaction1, transaction2) {
    if (transaction1.valueDate > transaction2.valueDate) {
      return -1;
    }
    if (transaction1.valueDate < transaction2.valueDate) {
      return 1;
    }  
    return 0;
  },

  compareMonths(month1, month2) {
    if (month1.year < month2.year || month1.month < month2.month) {
      return -1;
    }
    if (month1.year > month2.year || month1.month > month2.month) {
      return 1;
    }  
    return 0;
  },

  monthKeyCalc(dateToCheck) { 
    let date = new Date(dateToCheck);
    return date.getFullYear() + "-" + (date.getMonth() + 1);
  },

  async ionViewWillEnter(){
       
  },

  extractIcon(icon){
    return methodsService.extractIcon(icon)
  },

  // On click on a transaction => displays its details and options to modify them
  toggleDisplayDetails(transaction) {
    if (this.selectedTransaction) {
      document.getElementById("details" + this.selectedTransaction.transactionID).hidden = true;
      document.getElementById('transactionLine' + this.selectedTransaction.transactionID).classList.remove('item-selected');
    }    
    if (!this.selectedTransaction || this.selectedTransaction.transactionID !== transaction.transactionID) {
      //Empty formdata if cancelled modification
      if (this.formData && this.formData.transactionID === transaction.transactionID) { this.formData = null; }

      document.getElementById("details" + transaction.transactionID).hidden = false;
      this.selectedTransaction = transaction;
      document.getElementById('transactionLine' + this.selectedTransaction.transactionID).classList.add('item-selected');
    } else {
      this.selectedTransaction = null;
    } 

    if (this.formData) {  
      this.readOnly[this.formData.transactionID] = true;
      document.getElementById('transactionLine' + this.formData.transactionID).classList.remove('item-selected');
      document.getElementById('transactionLine' + this.formData.transactionID).classList.remove('item-modifying'); 
    }
  },

  //Popup to modify the account of a transaction
  async displayAccounts(event){
    const popover = await popoverController
      .create({
        component: PopoverAccounts,
        componentProps: {
          accounts:this.accounts
        },
        event: event,
        mode:"ios"
      });
    popover.onWillDismiss().then((acc)=>{
      if (acc.data) {
        this.formData.accountID = acc.data.accountID;
        this.formData.accountName = acc.data.name;
        this.formData.icon = acc.data.typeIcon;
      }
    });
    window.popoverController = popoverController;
    return await popover.present();
  },

  //Updates after modification
  modifyTransaction(transaction){
    this.formData = { ...transaction };
    this.formData.amount = this.amounts[transaction.transactionID][1];
    this.formData.type = this.amounts[transaction.transactionID][2];
    this.formData.executionDate = this.executionDates[transaction.transactionID];
    this.formData.valueDate = this.valueDates[transaction.transactionID];
    this.formData.categories = [ ...this.categories[transaction.transactionID]];
    this.formData.accountName = this.accountsName[transaction.transactionID];
    this.formData.icon = this.accountsIcon[transaction.transactionID];
    this.formData.accountID = this.accountsID[transaction.transactionID];
    this.readOnly[transaction.transactionID] = false;    

    document.getElementById('transactionLine' + transaction.transactionID).classList.add('item-modifying');
  },

  // Displays the popup to modify the categories of the transaction
  async modifyCategoriesTransaction(){
    await httpService.getByParams("/categories/categoriesPerType",{type: this.formData.type})
      .then(resp=>{
        this.listCategories=[];
        for(let i=0; i<resp.length; i++){
          let category = resp[i];
          category.subCategories= [];
          for(let j=0; j<resp.length;j++){
            if(resp[j].idParentCategory==category.categoryID)
            category.subCategories.push(resp[j]);
          }
          if(resp[i].idParentCategory==-1)
            this.listCategories.push(resp[i]);
          }
          
          this.disableSelectCategory=false;
        }).catch((error) => console.log(error)); 
    this.modifyTransactionCategories=true;
  },

  // Updates the chips with the new categories after modification
  async onMulitpleCategoriesChange(newCategories){
    let categoriesUpdated = [];
    Object.keys(newCategories).forEach(key => {  
      categoriesUpdated.push(newCategories[key]);
    });
    // this.categories[this.formData.transactionID] = categoriesUpdated;
    this.formData.categories = categoriesUpdated;
    this.modifyTransactionCategories = false;
  },

  // Closes the popup to modify categories
  onDismissPopupSelectMultipleCategories(){
    this.modifyTransactionCategories=false;
  },

  // Send a patch request to update the transaction with the changes made
  saveModifications(t, month_key){
    if (this.formData.transactionID != t.transactionID) { return; }
    let transaction = {
      transactionID: this.formData.transactionID,
      amount: this.formData.amount,
      type: this.formData.type,
      accountID: this.formData.accountID,
      valueDate : this.formData.valueDate.split("T")[0],
      executionDate : this.formData.executionDate.split("T")[0],
      categories: this.formData.categories
    }
    if(transaction.valueDate > transaction.executionDate){
      console.log("erreur");
    }
    httpService
      .patch("/transactions/patch", transaction)
      .then(res=>{
        this.balance = res.balance 
        this.errorMessage = null;
        this.amounts[t.transactionID][0] = res.amount;

        this.amounts[t.transactionID][1] = this.formData.amount;
        this.amounts[t.transactionID][2] = this.formData.type;
        this.executionDates[t.transactionID] = res.executionDate;
        this.valueDates[t.transactionID] = res.valueDate;
        this.categories[t.transactionID] = [ ...res.categories ];
        this.accountsName[t.transactionID] = res.accountName;
        this.accountsIcon[t.transactionID] = res.icon;
        this.accountsID[t.transactionID] = res.accountID;

        console.log("FORMDATA", this.formData);
        console.log("RESP", res);
        console.log("TRANSACTION", transaction);

        let key = this.monthKeyCalc(res.valueDate);
        if (key !== month_key){
          if (!this.listTransactionsByMonth[key]) {
            console.log(key);
            let newValueDate = new Date(res.valueDate);

            console.log(this.$refs.sliders.$el.getSwiper());
            console.log(this.$refs.sliders.$el.length());
            this.$refs.sliders.$el.getSwiper().then(swiper => {
              console.log(swiper);

              let idx = this.monthsTransaction.length;
              this.monthsTransaction[idx] = {};         
              this.monthsTransaction[idx] = this.initMonthTransactionObject(res.valueDate, newValueDate);
              idx++;
              this.monthsTransaction.sort(this.compareMonths);
              swiper.removeAllSlides()
              // swiper.updateSlides();
              // swiper.update();
            });
            this.listTransactionsByMonth[key] = [];
            console.log("OK1");
          } 


          this.listTransactionsByMonth[month_key] = this.listTransactionsByMonth[month_key]
            .filter(tr => tr.transactionID !== t.transactionID);
            console.log("OK2");
          this.listTransactionsByMonth[key] = [ ...this.listTransactionsByMonth[key], res ];
            console.log("OK3");
          this.listTransactionsByMonth[key].sort(this.compareTransactions);
            console.log("OK4");
        }

      }).catch((error) => {
        console.log(error);
        const openToast = async () => {
          const toast = await toastController.create({
            message: error.response.data.error,
            color: "danger",
            position: "top",
            buttons: [
              {
                side: "end",
                text: "Ok",
              },
            ],
          });
          return toast.present();
        };

        openToast();
    });
    document.getElementById('transactionLine' + this.formData.transactionID).classList.remove('item-modifying');   
    setTimeout(() => {  
      this.readOnly[t.transactionID] = true;     
      this.formData = null;
    }, 100);
  },

  // Displays a popup of confirmation and deletes the selected transaction, then updates the balance and the list of transactions
  deleteTransaction(transactionID){
    Swal.fire({
      titleText: this.translationsMiscs.popupDeleteTitle,
      text:this.translationsMiscs.warningDeleteMsg,
      icon: 'warning',
      showCloseButton: true,
      confirmButtonText: this.translationsMiscs.delete,
      confirmButtonColor:'red'
    }).then((result)=>{
        if(result.isConfirmed) {
          httpService.handleDelete("/transactions/delete/"+transactionID)
            .then(async res=>{
              const toast = await toastController.create({
                message: this.translationsMiscs.deleteMsgOk,
                duration: 3000,
                color: "success"
              });
              this.balance = this.getUserBalance();
              console.log("delete", res);
              // for(let i=0; i<this.listTransactionsByMonth.length ; i++){
              //   if(this.listTransactionsByMonth[i].filter(t=>t.transactionID==res.id).length>0){
              //     this.listTransactionsByMonth[i] = this.listTransactionsByMonth[i].filter(t=>t.transactionID!=res.id)    
              //     if(this.listTransactionsByMonth[i].length===0){
              //       this.monthsTransaction.splice(i,1)
              //     }
              //   }
              // }     
              return toast.present();
            })
        }
    })
  },

  //Get the user's balance (all expenses - all incomes)
  async getUserBalance(){
    await httpService
      .get("/transactions/userBalance")
      .then(res=>{
        this.balance = res.balance
      });   
  }
}
    
})

</script>

<style scoped>

ion-slides{
  width: 100%;
  height: 100%;
}

.no-margin {
  margin: 0 !important;
}

ion-back-button{
  --icon-font-size:25pt;
}

[size="small"] {
  height: 20px;
  font-size: 12px;
  margin:0px;
}

ion-label p{
    font-size: 13pt;
    margin-bottom:10px;
}

.item-bottom-border {
	border-bottom: solid 2px !important;
}

:deep(.item-modifying .modifiable-input) {
	border-bottom: solid 2px;
	border-color: var(--ion-color-primary);
} 

.item-modifying .modifiable-chip {
	color: var(--ion-color-primary);
} 

.item-selected > ion-grid > ion-row > *:first-child {
  color: var(--ion-color-primary);
}

.limited-heigt-row {
  height: 2rem !important;
}

ion-select.transaction-type-select::part(icon) {
  display: none !important;
}

ion-select::part(placeholder),
ion-select::part(text) {
  flex: 0 0 auto;
}

.margin-start {
  margin: 0.1rem;
}

ion-col, ion-row {
  margin: 0 !important;
  padding: 0 !important;
  --min-height: 0 !important;
}

ion-col.categories-chip-row {
  max-width: calc(calc(8 / var(--ion-grid-columns, 12)) * 100%) !important;
  flex: 0 0 calc(calc(9 / var(--ion-grid-columns, 12)) * 100%) !important;
  overflow: hidden;
  overflow-x: auto;

}

@media (max-width: 576px) { 
  ion-row {
    max-width: 90vw !important;
  }
  .amount-item .item.item-input {
    width: 40% !important;
  }

  ion-col.categories-chip-row-edit {
    max-width: calc(calc(4.5 / var(--ion-grid-columns, 12)) * 100%) !important;
    flex: 0 0 calc(calc(4.5 / var(--ion-grid-columns, 12)) * 100%) !important;

  }
}

@media (min-width: 576px) { 
  ion-row {
    max-width: 95vw !important;
  }
  .amount-item .item.item-input {
    width: 5vw !important;
  }
}

@media (min-width: 576px) and (max-width: 768px) {   

  ion-col.categories-chip-row-edit {
    max-width: calc(calc(6 / var(--ion-grid-columns, 12)) * 100%) !important;
    flex: 0 0 calc(calc(6 / var(--ion-grid-columns, 12)) * 100%) !important;
  }
}

ion-item {  
  --min-height: 0 !important;
  --padding-end: 0px;
  --inner-padding-end: 0px;
}

.item.item-input {
	padding-inline-end: 0 !important;
}

#balance {
  height: 10vh !important;
  background: #222428 !important;
  --background: #222428 !important;
}

#balance > * {
  height: 10vh !important;
}

:deep(.titleCalendar) {
  font-size: 24pt;
}

.calendarButton {
  height: auto;
}

</style>