<template>
  <ion-popover :is-open="modifyTransactionCategories" @didDismiss="onDismissPopupSelectMultipleCategories"  
  css-class="popover-style" >
    <PopupMultipleSelect
      :categories="listCategories" 
      @dismiss-popup="onDismissPopupSelectMultipleCategories()"
      :amount="amounts[formData.transactionID][1]"
      @categories-submit="onMulitpleCategoriesChange"
      :translations="translationsModifyCategories"
      :alreadySelectedCategories="formData.categories"
    />
  </ion-popover>

  <ion-item lines="none" :id="'transactionLine'+transaction.transactionID">
    <ion-grid>
      <!-- transaction date -->
      <ion-row>
        <ion-col><ion-grid>
          <ion-row><ion-col class="no-margin ion-text-center ">
            <h2 class="no-margin">{{ transaction.valueDateDay }}</h2>
          </ion-col></ion-row>
          <ion-row><ion-col class="no-margin ion-text-center">
            {{ shortMonths[t.valueDateMonth] }}
          </ion-col></ion-row>
        </ion-grid></ion-col>
      </ion-row>

      <!-- list of the transaction's categories and amount  -->
      <ion-row>
        <ion-col v-if="readOnly[t.transactionID]">
          <ion-chip v-for="cat in categories[t.transactionID]" :key="cat.categoryID" size="small" class="chip-style modifiable-input"
            @click="!readOnly[t.transactionID] && modifyCategoriesTransaction()" >
            <font-awesome-icon :icon="extractIcon(cat.icon)"/>
            <ion-label class="ion-margin-start">{{ cat.name }} : {{ cat.amount }}</ion-label>
            <em :class="currencyIcon"/>
          </ion-chip>
        </ion-col>
        <ion-col v-else>
          <ion-chip v-if="!formData.categories || formData.categories.length === 0" 
            size="small" class="chip-style modifiable-input"
            @click="!readOnly[t.transactionID] && modifyCategoriesTransaction()" >
            <ion-label class="ion-margin-start">Select category</ion-label>
          </ion-chip>
          <ion-chip v-for="cat in formData.categories" :key="cat.categoryID" size="small" class="chip-style modifiable-input"
            @click="!readOnly[t.transactionID] && modifyCategoriesTransaction()" >
            <font-awesome-icon :icon="extractIcon(cat.icon)"/>
            <ion-label class="ion-margin-start">{{ cat.name }} : {{ cat.amount }}</ion-label>
            <em :class="currencyIcon"/>
          </ion-chip>
        </ion-col>
        <ion-col size="3" >
          <ion-grid>
            <!-- IF not modifying -->
            <ion-row class="ion-text-right" v-if="readOnly[t.transactionID]"><ion-col>
              <span>{{ t.amount }}</span>
              <em :class="currencyIcon"/>
            </ion-col></ion-row>
            <!-- ELSE (modifying) -->
            <ion-row class="ion-text-right ion-align-items-baseline" v-else>
              <ion-col size="3">                           
                <ion-item>
                  <ion-select interface="popover" :value="formData.type" @ionChange="formData.type=$event.target.value">
                    <ion-select-option value="INPUT"> + </ion-select-option>
                    <ion-select-option value="OUTPUT"> - </ion-select-option>
                  </ion-select>
                </ion-item>
              </ion-col>
              <ion-col>
                <ion-input :value="formData.amount" @ionChange="formData.amount=$event.target.value" />                              
              </ion-col>
              <ion-col size="1">
                <em :class="currencyIcon"/>                              
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-col>
      </ion-row>

      <!-- transaction's details -->
      <ion-row :id="'details' + t.transactionID" hidden><ion-grid>
        <ion-row v-if="readOnly[t.transactionID]">
          <BaseDatePicker :label="translationsMiscs.valueDate" v-model="t.valueDate" 
          :readonly="readOnly[t.transactionID]" position="default" inputClass="modifiable-input" />
        </ion-row>
        <ion-row v-else>
          <BaseDatePicker :label="translationsMiscs.valueDate" v-model="formData.valueDate" 
            position="default" inputClass="modifiable-input" />
        </ion-row>
        <ion-row v-if="readOnly[t.transactionID]">
          <BaseDatePicker :label="translationsMiscs.executionDate + ':'" v-model="t.executionDate" 
          :readonly="readOnly[t.transactionID]" position="default" inputClass="modifiable-input"/>
        </ion-row>
        <ion-row v-else>
          <BaseDatePicker :label="translationsMiscs.executionDate" v-model="formData.executionDate" 
            position="default" inputClass="modifiable-input" />
        </ion-row>
        <ion-row>
          <ion-item>
            <ion-label>{{ translationsMiscs.paymentMethod }}</ion-label>                          
            <ion-chip class="chip-style" @click="displayAccounts(t.transactionID)" :disabled="readOnly[t.transactionID]">
              <em :class="accountsIcon[t.transactionID]" class="ion-margin-end"/>
              <ion-label>{{ accountsName[t.transactionID] }}</ion-label>
            </ion-chip>
          </ion-item>
        </ion-row>
        <ion-row>                        
          <!-- buttons -->
          <ion-col class="ion-text-center">
            <ion-button fill="solid" color="primary" 
            @click="modifyTransaction(t)" :hidden="!readOnly[t.transactionID]">
              <font-awesome-icon  :icon="['fas','pencil-alt']"/>
            </ion-button>
          </ion-col>
          <ion-col class="ion-text-center">
            <ion-button fill="solid" color="medium"
            :hidden="readOnly[t.transactionID]" @click="saveModifications(t)">
              <font-awesome-icon :icon="['fas','save']"/>
            </ion-button>
          </ion-col>
          <ion-col class="ion-text-center">
            <ion-button fill="solid" color="danger" 
            :hidden="!readOnly[t.transactionID]" @click="deleteTransaction(t.transactionID)">
              <font-awesome-icon :icon="['fas','trash']"/>
            </ion-button>
          </ion-col>
        </ion-row>
        <p id="errorMessage">{{errorMessage}}</p>
      </ion-grid></ion-row>

      <ion-row class="item-bottom-border" />

    </ion-grid>
  </ion-item>
</template>

<script>
import { defineComponent } from 'vue';
import PopoverAccounts from '../../components/FormElementsCustom/PopoverAccounts.vue';
import Swal from 'sweetalert2';import {
        IonItem,
        IonLabel,
        IonGrid,
        IonRow,
        IonCol,
        IonButton,
        IonChip,
        popoverController,
        toastController,
        IonPopover ,
        IonSelect,
        IonSelectOption
        } from '@ionic/vue';
import PopupMultipleSelect from '@/components/FormPopupCustom/PopupMultipleSelect';
import BaseDatePicker from '@/components/Form/BaseDatePicker.vue';
const httpService = require('../../utils/services');

export default defineComponent({
name: "TransactionDisplayLine",
components: { 
  IonItem,
  IonLabel,
  IonGrid,
  IonRow,
  IonCol,
  IonButton,
  IonChip,
  IonPopover,
  PopupMultipleSelect,
  BaseDatePicker,
  IonSelect,
  IonSelectOption },
props: [ 'transaction', 'selectedTransaction' ],

data() {
  return {
    formData: { ...this.transaction }
  }
},

methods: {
  //Popup to modify the account of a transaction
  async displayAccounts(transactionID){
    const popover = await popoverController
      .create({
        component: PopoverAccounts,
        componentProps: {
          accounts:this.accounts
        },
        mode:"ios"
      });
    popover.onWillDismiss().then((acc)=>{
      this.accountsName[transactionID] = acc.data.name
      this.accountsIcon[transactionID] = acc.data.typeIcon
      this.accountsID[transactionID] = acc.data.accountID
    });
    window.popoverController = popoverController;
    return await popover.present();
  },

  //Updates after modification
  modifyTransaction(transaction){
    this.amountTemp = this.amounts[transaction.transactionID][1];
    this.formData = { ...transaction, amount: this.amounts[transaction.transactionID][1] };
    this.type = this.formData.type;
    console.log(transaction);
    this.readOnly[transaction.transactionID] = false;    
    document.getElementById('transactionLine' + transaction.transactionID).classList.add('item-modifying');
  },

  // Displays the popup to modify the categories of the transaction
  async modifyCategoriesTransaction(){
    console.log(this.modifyTransactionCategories, this.formData.type);
    await httpService.getByParams("/categories/categoriesPerType",{type: this.formData.type})
      .then(resp=>{
        this.listCategories=[];
        for(let i=0; i<resp.length; i++){
          let category = resp[i];
          category.subCategories= [];
          for(let j=0; j<resp.length;j++){
            if(resp[j].idParentCategory==category.categoryID)
            category.subCategories.push(resp[j]);
          }
          if(resp[i].idParentCategory==-1)
            this.listCategories.push(resp[i]);
          }
          
          this.disableSelectCategory=false;
        }); 
    this.modifyTransactionCategories=true;
  },

  // Updates the chips with the new categories after modification
  async onMulitpleCategoriesChange(newCategories){
    let categoriesUpdated = [];
    Object.keys(newCategories).forEach(key => {  
      categoriesUpdated.push(newCategories[key]);
    });
    this.categories[this.formData.transactionID] = categoriesUpdated;
    this.formData.categories = categoriesUpdated;
    this.modifyTransactionCategories = false;
  },

  // Closes the popup to modify categories
  onDismissPopupSelectMultipleCategories(){
    this.modifyTransactionCategories=false;
  },

  // Send a patch request to update the transaction with the changes made
  saveModifications(t){
    if (this.formData.transactionID != t.transactionID) { return; }
    let transaction = {
      transactionID: this.formData.transactionID,
      amount: this.formData.amount,
      type: this.formData.type,
      accountID: this.formData.accountID,
      valueDate : this.formData.valueDate.split("T")[0],
      executionDate : this.formData.executionDate.split("T")[0],
      categories: this.formData.categories
    }
    if(transaction.valueDate > transaction.executionDate){
      console.log("erreur");
    }
    httpService
      .patch("/transactions/patch", transaction)
      .then(res=>{
        this.balance = res.balance
        this.amounts[t.transactionID][0] = res.amount   
        this.errorMessage = null;
        t = this.formData;
      }).catch((error) => {
        const openToast = async () => {
          const toast = await toastController.create({
            message: error.response.data.error,
            color: "danger",
            position: "top",
            buttons: [
              {
                side: "end",
                text: "Ok",
              },
            ],
          });
          return toast.present();
        };

        openToast();
    });
    document.getElementById('transactionLine' + this.formData.transactionID).classList.remove('item-modifying');   
    setTimeout(() => {  this.readOnly[t.transactionID] = true; }, 100);
    this.amountTemp=null
  },

  // Displays a popup of confirmation and deletes the selected transaction, then updates the balance and the list of transactions
  deleteTransaction(transactionID){
    Swal.fire({
      titleText: this.translationsMiscs.popupDeleteTitle,
      text:this.translationsMiscs.warningDeleteMsg,
      icon: 'warning',
      showCloseButton: true,
      confirmButtonText: this.translationsMiscs.delete,
      confirmButtonColor:'red'
    }).then((result)=>{
        if(result.isConfirmed) {
          httpService.handleDelete("/transactions/delete/"+transactionID)
            .then(async res=>{
              const toast = await toastController.create({
                message: this.translationsMiscs.deleteMsgOk,
                duration: 3000,
                color: "success"
              });
              this.balance = this.getUserBalance();
              for(let i=0; i<this.listTransactionsByMonth.length ; i++){
                if(this.listTransactionsByMonth[i].filter(t=>t.transactionID==res.id).length>0){
                  this.listTransactionsByMonth[i] = this.listTransactionsByMonth[i].filter(t=>t.transactionID!=res.id)    
                  if(this.listTransactionsByMonth[i].length===0){
                    this.monthsTransaction.splice(i,1)
                  }
                }
              }     
              return toast.present();
            })
        }
    })
  },
}

});
</script>

<style scoped>
.no-margin {
  margin: 0 !important;
}

[size="small"] {
  height: 20px;
  font-size: 12px;
  margin:0px;
}

.chip-style {
    --background: white;
    --color:black;
}

.item-bottom-border {
	border-bottom: solid 2px !important;
}

.item-modifying .modifiable-input {
  color: var(--ion-color-primary);
} 

.item-selected > ion-grid > ion-row:first-child {
  color: var(--ion-color-primary);
}
</style>