<template>
  <ion-page> 
    <ion-header v-if="isPageLoad">     
      <TopToolbar title="Transactions" />
      
      <ion-toolbar>
        <SegmentTabs v-model:currentTab="currentTab" :tabs="tabs" />
      </ion-toolbar>
    </ion-header>
      
    <ion-content v-if="isPageLoad">  
      <AddTransactionPage v-if="currentTab == 'AddTransaction'"
      :ionViewLifeCycleStage='ionViewLifeCycleStage' :currenTab='currentTab' @formSubmit='onFormSubmit' />

      <AllTransactions v-if="currentTab == 'AllTransactions'" 
      :ionViewLifeCycleStage='ionViewLifeCycleStage' :currenTab='currentTab' />
    </ion-content>
  </ion-page>
</template>

<script>
import { defineComponent } from 'vue';

import { IonPage, IonHeader, IonContent, IonToolbar } from '@ionic/vue';

import SegmentTabs from '../../components/Navigation/SegmentTabs.vue';
import AddTransactionPage from './AddTransactionPage.vue';
import AllTransactions from './AllTransactions.vue';
import TopToolbar from '@/components/Navigation/TopToolbar.vue';

export default defineComponent({
name: "Transaction",
components: {IonPage, IonHeader, IonContent, IonToolbar,

SegmentTabs, AddTransactionPage, AllTransactions, TopToolbar },
inject: [ 'translationsData' ],
props: {
  navigateTab: {
    type: [String, undefined],
    required: false
  }
},

data() {
  return {
    isPageLoad: false,
    ionViewLifeCycleStage: '',
    currentTab: 'AllTransactions',
    newTransactionTranslations: {},    
    allTransactionsTranslations: {}
  }
},

watch: {
},

computed: {
  tabs() {
    if (this.translationsData && this.translationsData.addTransactionTranslation) {
      let translations = this.translationsData.addTransactionTranslation;
      return [
        { key: 'AllTransactions', val: translations.btnAllTransactions },
        { key: 'AddTransaction', val: translations.title }
      ]
    }
    return null;
  }
},

async ionViewWillEnter() {
  
  if (this.navigateTab === 'new') {
    history.replaceState( {}, null, '/transactions');
    this.currentTab = 'AddTransaction';
  }

  this.ionViewLifeCycleStage = 'ionViewWillEnter';
  
  this.isPageLoad = true;
},

async ionViewDidEnter() {
  this.ionViewLifeCycleStage = 'ionViewDidEnter';
},

async ionViewDidLeave() {
  this.ionViewLifeCycleStage = 'ionViewDidLeave';
  this.currentTab = 'AllTransactions';
},

async ionViewWillLeave() {
  this.ionViewLifeCycleStage = 'ionViewWillLeave';
},

methods: {  
  onFormSubmit() {      
    this.currentTab = 'AllTransactions';
  }
}
  
});
</script>

<style scoped>

</style>