<template>
  <slot />
</template>

<script>
import { defineComponent } from 'vue';
import ShoppingListModule from '@/mixins/ShoppingListModule.vue';

export default defineComponent({
name: 'GlobalWrapper',
props: [ 'isLoggedIn' ],
mixins: [ ShoppingListModule ],

watch: {
  recipes(val) {
    this.shoppingListModule.recipes = val;
  },
  ingredients(val) {
    this.shoppingListModule.ingredients = val;
  },
  recipesInBasket(val) {
    this.shoppingListModule.recipesInBasket = val;
  },
  'shoppingListModule.recipesInBasket'(val) {
    this.setRecipesInBasket(val);
    // if (val.params) {
    //   this.shoppingListModule.recipesInBasket = val.recipesInBasket;
    // }
  },

  isLoggedIn(val) {
    if (val) {
      //reload recipes, ingredients and recipesInBasket if user logged in
      this.reloadRecipesTables();
    }
  },
},

data() {
  return {
    shoppingListModule: {}
  }
},

created() {
  if (this.isLoggedIn) {
    this.reloadRecipesTables();
  }
},

methods: {
},

provide() {
  Object.defineProperty(this.shoppingListModule, this.recipes, {
    configurable: true,
    enumerable: true,
    get: () => this.recipes,
  });
  Object.defineProperty(this.shoppingListModule, this.ingredients, {
    get: () => this.ingredients,
  });
  Object.defineProperty(this.shoppingListModule, this.recipesInBasket, {
    get: () => this.recipesInBasket,
    set: (recipesInBasket) =>  {
      if (recipesInBasket.action) {
        this.shoppingListModule.recipesInBasket = recipesInBasket.recipesInBasket;
      } else {
        this.recipesInBasket = recipesInBasket
      }
    }
  });

  return {
    shoppingListModule: this.shoppingListModule
  }
}

});
</script>