<template>
  <slot />
</template>

<script>
import { defineComponent } from 'vue';

const httpService = require("@/utils/services");

export default defineComponent({
name: 'TranslationsWrapper',
props: [ 'languageCode', 'isLoggedIn' ],
watch: {
  languageCode() {
    if (this.isLoggedIn) {
      this.reloadLoggedInTranslations();
    } else {
      this.reloadLoggedOutTranslations();
    }
  },

  isLoggedIn(val) {
    if (val) {
      this.reloadLoggedInTranslations();
    } else {
      this.reloadLoggedOutTranslations();
    }
  },
},

data() {
  return {
    loggedOutTranslations: [ 'loginTranslation', 'signUpTranslation' ],
    signUpTranslation: null,
    loginTranslation: null,

    loggedInTranslations: [ 
      'globalTranslation', 'addTransactionTranslation', 'categoriesManagementTranslation',
      'allTransactionsTranslation', 'monthsTranslation'
    ],
    globalTranslation: null, //Titles of all main views (pages)
    addTransactionTranslation: null, //new transaction elements
    categoriesManagementTranslation: null, //create category form element
    allTransactionsTranslation: null, //transaction modification elements
    monthsTranslation: null, //months' full names
  }
},

async beforeMount() {  
  if (this.isLoggedIn) {
    await this.reloadLoggedInTranslations();
  } else {
    await this.reloadLoggedOutTranslations();
  }
  
},

methods: {
  async reloadLoggedInTranslations() {
    //Load translations for all pages accessed when logged in.
    //The paths' names are stored in the loggedInTranslations property of the component.
    await this.loggedInTranslations.forEach(translation => {
      httpService
      .getByParamsNoToken("/translation/" + translation + "/", { languageCode: this.languageCode })
      .then((response) => {
        this[translation] = { ...response }
      })
      .catch((error) => console.log(error));
    });
  },

  async reloadLoggedOutTranslations() {  
      //Load translations for all pages accessed when logged out.
      //The paths' names are stored in the loggedOutTranslations property of the component.
      await this.loggedOutTranslations.forEach(translation => {
        httpService
        .createWithNoToken("/translation/" + translation + "/", { languageCode: this.languageCode })
        .then((response) => {
          //Returned response is copied and the copy is assigned to the property
          //that has the same name as the path corresponding to the returned translation.
          this[translation] = { ...response }
        })
        .catch((error) => console.log(error));
      });
  },
},

provide() {
  const translationsData = {};

  this.loggedOutTranslations.forEach(translation => {
    Object.defineProperty(translationsData, translation, {
      enumerable: true,
      get: () => this[translation],
    });
  });

  this.loggedInTranslations.forEach(translation => {
    Object.defineProperty(translationsData, translation, {
      enumerable: true,
      get: () => this[translation],
    });
  });

  return {
    translationsData,
  }
}

});
</script>
