<template>
  <ion-app>   
    <ApplicationSettings>
        <!-- <ion-split-pane content-id="main">  -->
        <Menu />
        <ion-router-outlet id="main" />
        <!-- </ion-split-pane> -->
    </ApplicationSettings>
  </ion-app>
</template>

<script>
import { IonApp, IonRouterOutlet} from "@ionic/vue";
import { defineComponent } from "vue";
import { Plugins } from "@capacitor/core";
import Swal from 'sweetalert2'
const { PushNotifications } = Plugins;

// import { 
//   IonSplitPane,
// } from '@ionic/vue';

import Menu from './views/Menu.vue';
import ApplicationSettings from '@/components/ApplicationSettings.vue';

export default defineComponent({
  name: "App",
  components: {
    IonApp,
    IonRouterOutlet,
    Menu,
    ApplicationSettings
  // IonSplitPane,
  },

  async created(){
    await this.pushNotif()
  },

  methods:{
    async pushNotif(){
      await PushNotifications.addListener(
        'pushNotificationReceived',
        async (notification) => {
          console.log(notification)
          Swal.fire({
            titleText: notification.title,
            text:notification.body,
            icon: 'info',
            showCloseButton: true,
            confirmButtonText: "OK"
          })
        },
      );
    }
  }
});
</script>

<style>
@font-face {
  font-family: "Roboto";
  src: local("Roboto"),
    url(../public/fonts/Roboto-Regular.ttf) format("truetype");
}
</style>
