<template>
  <ion-page>
    <ion-content>
      <ion-content class="background-image" no-scroll padding> </ion-content>
      <SignInForm :ionViewLifeCycleStage='ionViewLifeCycleStage' @formSubmit='onFormSubmit' />
    </ion-content>
  </ion-page>
</template>

<script>
import { IonContent, IonPage } from "@ionic/vue";

import SignInForm from './SignInForm.vue'

import { useRouter } from "vue-router";
import { defineComponent } from "vue";

import { Plugins } from "@capacitor/core";
const { PushNotifications } = Plugins;

var loginComponent = defineComponent({  
name: "login",
components: { IonContent, IonPage, SignInForm },

ionViewWillEnter() {
  this.ionViewLifeCycleStage = 'ionViewWillEnter';

  this.pushInit();
},
ionViewWillLeave() {
  this.ionViewLifeCycleStage = 'ionViewWillLeave';
},
ionViewDidLeave() {
  this.ionViewLifeCycleStage = 'ionViewDidLeave';
},

data() {
  return {
    router: useRouter(),
    ionViewLifeCycleStage: ''
  };
},

methods: {
  async pushInit() {
    await PushNotifications.requestPermission().then((result) => {
      if (result.granted) {
        PushNotifications.register();
      } else {
        console.log("error");
      }
    });

    await PushNotifications.addListener("registration", (token) => {
      this.identification.token = token.value;
    });

    await PushNotifications.addListener("registrationError", (error) => {
      console.log("Error on registration: " + JSON.stringify(error));
    });
  },

  onFormSubmit() {      
    this.router.push("/home");
  }
},
});
export default loginComponent;
</script>

<style scoped>
.scroll-content {
  padding-bottom: 0px !important;
  margin-bottom: 0px !important;
}

.container-login {
  text-align: center;
  bottom: +140px;
  position: absolute;
  left: 0;
  right: 0;
  padding-left: 15px;
  padding-right: 15px;
}
.container-inscription {
  text-align: center;
  bottom: +70px;
  position: absolute;
  left: 0;
  right: 0;
  padding-left: 15px;
  padding-right: 15px;
}
.item.item-input {
  border: none;
  margin-left: +5%;
  width: 90%;
}

.background-image {
  --background: url("../../../public/assets/icon/home.jpeg") 0 0/100% 100%
    no-repeat;
}

.modal-style {
  background-color: green;
  height: 50%;
}
.show {
  height: 50%;
  width: 90%;
  margin-left: +5%;
  transform: translateY(-140%);
  margin-bottom: -150%;
  padding-bottom: 300px !important;

  background: rgba(255, 255, 255, 0.5);
}

.card-title {
  text-align: center;
}
.card-button {
  text-align: center;
  padding: 10px;
}

.item-style {
  background: rgba(255, 255, 255, 0.5);
}
ion-item {
  --background: transparent !important;
  --border-color: transparent !important;
}

.text-center {
  width: 100%;
  text-align: center;
}

.underline {
  text-decoration: underline;
}
</style>
