<template>
  <ion-content class="ion-padding">
    <ion-chip
      v-for="a in accounts"
      :key="a.accountId"
      :outline="true"
      @click="onChooseAccount(a)"
    >
      <i :class="a.typeIcon" />
      <ion-label class="ion-margin-start">{{ a.name }}</ion-label>
    </ion-chip>
  </ion-content>
</template>

<script>
import { IonContent, IonChip, IonLabel } from "@ionic/vue";
import { defineComponent } from "vue";

export default defineComponent({
  name: "PopoverAccounts",
  components: { IonContent, IonChip, IonLabel },
  data() {
    return {
      accounts: this.$attrs.accounts,
    };
  },

  methods: {
    onChooseAccount(a) {
      window.popoverController.dismiss(a);
    },
  },
});
</script>

<style scoped>
i {
  font-size: 17pt;
}

ion-chip {
  background: var(--ion-color-primary-contrast);
  color: black;
}

</style>
