<template>  
  <ion-button id="trigger-button" @click="handleOpen" v-if="modelValue === 'INPUT'" size="small">
    <font-awesome-icon :icon="['fas', 'plus']" />
  </ion-button> 
  <ion-button id="trigger-button" @click="handleOpen" v-else>
    <font-awesome-icon :icon="['fas', 'minus']" />
  </ion-button>
  <ion-popover trigger="trigger-button" :is-open="open" @didDismiss="handleDismiss" 
  :show-backdrop="false" side="bottom" :event="event">
    <ion-content>
      <ion-radio-group :value="modelValue" @ionChange="handleChange"  id="typeOfTransaction"> 
        <ion-item class="transaction-type-icon" v-if="modelValue !== 'INPUT'">
          <ion-label><font-awesome-icon :icon="['fas', 'plus']" /></ion-label>
          <ion-radio value="INPUT"></ion-radio>
        </ion-item>
        <ion-item class="transaction-type-icon" v-if="modelValue !== 'OUTPUT'">
          <ion-label><font-awesome-icon :icon="['fas', 'minus']" /></ion-label>
          <ion-radio value="OUTPUT"></ion-radio>
        </ion-item>
      </ion-radio-group>      
    </ion-content>
  </ion-popover>
</template>

<script>
import { defineComponent } from 'vue';

import { IonButton, IonPopover, IonItem, IonLabel, IonRadioGroup, IonRadio, IonContent } from '@ionic/vue';

export default defineComponent({
name: 'TransactionTypeSelect',
components: { IonButton, IonPopover, IonItem, IonLabel, IonRadioGroup, IonRadio, IonContent },
props: [ 'modelValue' ],
emits: [ 'update:modelValue' ],

data() {
  return {
    open: false,
    event: null
  }
},

methods: {
  handleOpen(event) {
    this.open = true;
    this.event = event;
  },
  handleDismiss() {
    this.open = false;
    this.event = null;
  },
  handleChange(event) {
    this.handleDismiss();
    this.$emit('update:modelValue', event.target.value);
  }
}

});
</script>

<style scoped>

.transaction-type-icon {
  font-size: 1rem;
}

ion-radio{
  --color:transparent;
  --color-checked: transparent;  
  margin: 0 !important;
  width: 1px !important;
}

ion-item {
	--inner-padding-end: 1rem !important;
}
</style>
